# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = Fermer
    .aria-label = Fermer

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = À l’instant

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Récupération d’onglets
firefoxview-tabpickup-description = Ouvrez des pages provenant d’autres appareils.

firefoxview-tabpickup-recenttabs-description = La liste des onglets récents s’afficherait ici

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = Terminé à { $percentValue } %

firefoxview-tabpickup-step-signin-header = Passez facilement d’un appareil à l’autre
firefoxview-tabpickup-step-signin-description = Pour récupérer les onglets de votre téléphone ici, commencez par vous connecter ou créer un compte.
firefoxview-tabpickup-step-signin-primarybutton = Continuer

firefoxview-tabpickup-adddevice-header = Synchronisez { -brand-product-name } avec votre téléphone ou votre tablette
firefoxview-tabpickup-adddevice-description = Téléchargez { -brand-product-name } pour mobile et connectez-vous.
firefoxview-tabpickup-adddevice-learn-how = Découvrez comment
firefoxview-tabpickup-adddevice-primarybutton = Installez { -brand-product-name } sur votre appareil mobile

firefoxview-tabpickup-synctabs-header = Activez la synchronisation des onglets
firefoxview-tabpickup-synctabs-description = Autorisez { -brand-short-name } à partager les onglets entre vos appareils.
firefoxview-tabpickup-synctabs-learn-how = Me montrer comment faire
firefoxview-tabpickup-synctabs-primarybutton = Synchroniser les onglets ouverts

firefoxview-tabpickup-fxa-admin-disabled-header = Votre organisation a désactivé la synchronisation
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } ne peut pas synchroniser d’onglets entre appareils car votre administrateur·trice a désactivé la synchronisation.

firefoxview-tabpickup-network-offline-header = Vérifiez votre connexion à Internet
firefoxview-tabpickup-network-offline-description = Si vous utilisez un pare-feu ou un proxy, vérifiez que { -brand-short-name } a l’autorisation d’accéder au Web.
firefoxview-tabpickup-network-offline-primarybutton = Réessayer

firefoxview-tabpickup-sync-error-header = Nous rencontrons des problèmes de synchronisation
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } ne peut pas joindre le service de synchronisation pour l’instant. Réessayez dans quelques instants.
firefoxview-tabpickup-sync-error-primarybutton = Réessayer

firefoxview-tabpickup-sync-disconnected-header = Activez la synchronisation pour continuer
firefoxview-tabpickup-sync-disconnected-description = Pour récupérer vos onglets, vous devez autoriser la synchronisation dans { -brand-short-name }.
firefoxview-tabpickup-sync-disconnected-primarybutton = Activer la synchronisation dans les paramètres

firefoxview-tabpickup-syncing = Veuillez patienter pendant la synchronisation de vos onglets. Ce ne sera pas long.

firefoxview-mobile-promo-header = Récupérez les onglets de votre téléphone ou de votre tablette
firefoxview-mobile-promo-description = Pour afficher les derniers onglets de votre appareil mobile, connectez-vous à { -brand-product-name } sous iOS ou Android.
firefoxview-mobile-promo-primarybutton = Installez { -brand-product-name } sur votre appareil mobile

firefoxview-mobile-confirmation-header = 🎉 C’est parti !
firefoxview-mobile-confirmation-description = Vous pouvez maintenant récupérer les onglets du { -brand-product-name } de votre tablette ou votre téléphone.

firefoxview-closed-tabs-title = Récemment fermés

firefoxview-closed-tabs-description = Rouvrez des pages que vous avez fermées sur cet appareil.

firefoxview-closed-tabs-description2 = Rouvrez des pages que vous avez fermées dans cette fenêtre.
firefoxview-closed-tabs-placeholder = <strong>Aucune page fermée récemment</strong><br/>Ne craignez plus de perdre encore un onglet fermé. Vous pouvez toujours le retrouver ici.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Dernier onglet actif

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Ouvrir { $targetURI } dans un nouvel onglet

firefoxview-try-colorways-button = Essayer les coloris
firefoxview-no-current-colorway-collection = De nouveaux coloris seront bientôt disponibles
firefoxview-change-colorway-button = Changer de coloris

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>Rien à voir encore</strong><br/>La prochaine fois que vous ouvrirez une page dans { -brand-product-name } sur un autre appareil, récupérez-la ici comme par magie.

firefoxview-collapse-button-show =
    .title = Afficher la liste

firefoxview-collapse-button-hide =
    .title = Masquer la liste
