# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = Сазнај више

accessibility-text-label-header = Text Labels and Names

accessibility-keyboard-header = Keyboard

## Text entries that are used as text alternative for icons that depict accessibility isses.

## Text entries that are used as text alternative for icons that depict accessibility issues.

accessibility-warning =
    .alt = Warning

accessibility-fail =
    .alt = Error

accessibility-best-practices =
    .alt = Best Practices

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = Use <code>alt</code> attribute to label <div>area</div> elements that have the <span>href</span> attribute. <a>Learn more</a>

accessibility-text-label-issue-dialog = Dialogs should be labeled. <a>Learn more</a>

accessibility-text-label-issue-document-title = Documents must have a <code>title</code>. <a>Learn more</a>

accessibility-text-label-issue-embed = Embedded content must be labeled. <a>Learn more</a>

accessibility-text-label-issue-figure = Figures with optional captions should be labeled. <a>Learn more</a>

accessibility-text-label-issue-fieldset = <code>fieldset</code> elements must be labeled. <a>Learn more</a>

accessibility-text-label-issue-fieldset-legend2 = Use a <code>legend</code> element to label a <span>fieldset</span>. <a>Learn more</a>

accessibility-text-label-issue-form = Form elements must be labeled. <a>Learn more</a>

accessibility-text-label-issue-form-visible = Form elements should have a visible text label. <a>Learn more</a>

accessibility-text-label-issue-frame = <code>frame</code> elements must be labeled. <a>Learn more</a>

accessibility-text-label-issue-glyph = Use <code>alt</code> attribute to label <span>mglyph</span> elements. <a>Learn more</a>

accessibility-text-label-issue-heading = Headings must be labeled. <a>Learn more</a>

accessibility-text-label-issue-heading-content = Headings should have visible text content. <a>Learn more</a>

accessibility-text-label-issue-iframe = Use <code>title</code> attribute to describe <span>iframe</span> content. <a>Learn more</a>

accessibility-text-label-issue-image = Content with images must be labeled. <a>Learn more</a>

accessibility-text-label-issue-interactive = Interactive elements must be labeled. <a>Learn more</a>

accessibility-text-label-issue-optgroup-label2 = Означите елемент <span>optgroup</span> помоћу атрибута <code>label</code>. <a>Сазнајте више</a>

accessibility-text-label-issue-toolbar = Toolbars must be labeled when there is more than one toolbar. <a>Learn more</a>

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has a keyboard accessibility
## issue.

accessibility-keyboard-issue-semantics = Елементи који могу да се фокусирају треба да буду интерактивни. <a>Сазнајте више</a>

accessibility-keyboard-issue-tabindex = Избегавајте вредност атрибута <code>tabindex</code> која је већа од нуле. <a>Сазнајте више</a>

accessibility-keyboard-issue-action = Интерактивни елементи морају имати могућност активације помоћу тастатуре. <a>Сазнајте више</a>

accessibility-keyboard-issue-focusable = Интерактивни елементи морају имати могућност фокусирања. <a>Сазнајте више</a>

accessibility-keyboard-issue-focus-visible = Елементу који може да се фокусира недостаје стил фокусирања. <a>Сазнајте више</a>

accessibility-keyboard-issue-mouse-only = Елементи који могу да се кликну морају имати могућност фокусирања и интеракције. <a>Сазнајте више</a>
