# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = Затвори
    .aria-label = Затвори

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Управо сад

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Синхронизовани језичци
firefoxview-tabpickup-description = Отвори странице са других уређаја.

firefoxview-tabpickup-recenttabs-description = Недавни језичци биће наведени овде

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% завршено

firefoxview-tabpickup-step-signin-header = Лако прелазите између уређаја
firefoxview-tabpickup-step-signin-description = Да добијете језичке са свог телефона овде, прво се пријавите или направите налог
firefoxview-tabpickup-step-signin-primarybutton = Настави

firefoxview-tabpickup-adddevice-header = Синхронизуј { -brand-product-name } на свом телефону или таблету
firefoxview-tabpickup-adddevice-description = Преузмите { -brand-product-name } за телефон и пријавите се.
firefoxview-tabpickup-adddevice-learn-how = Сазнајте како
firefoxview-tabpickup-adddevice-primarybutton = Преузмите { -brand-product-name } за телефон

firefoxview-tabpickup-synctabs-header = Укључите синхронизацију језичака
firefoxview-tabpickup-synctabs-description = Дозволите { -brand-short-name }-у да дели језичке између уређаја.
firefoxview-tabpickup-synctabs-learn-how = Сазнајте како
firefoxview-tabpickup-synctabs-primarybutton = Синхронизујте отворене језичке

firefoxview-tabpickup-fxa-admin-disabled-header = Ваша организација је онемогућила синхронизацију
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } не може да синхронизује језичке на свим уређајима јер је ваш администратор онемогућио услугу синхронизације.

firefoxview-tabpickup-network-offline-header = Проверите вашу интернет везу
firefoxview-tabpickup-network-offline-description = Ако користите заштитни зид или прокси, проверите да ли { -brand-short-name } има дозволу за приступ интернету.
firefoxview-tabpickup-network-offline-primarybutton = Покушај поново

firefoxview-tabpickup-sync-error-header = Имамо проблема са синхронизацијом
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } сада није у могућности да се повеже са услугом синхронизације. Покушајте поново касније.
firefoxview-tabpickup-sync-error-primarybutton = Покушај поново

firefoxview-tabpickup-sync-disconnected-header = Укључите синхорнизацију да наставите
firefoxview-tabpickup-sync-disconnected-description = Да преузмете своје језичке, морате да дозволите синхронизацију у { -brand-short-name }-у.
firefoxview-tabpickup-sync-disconnected-primarybutton = Укључите синхронизацију у подешавањима

firefoxview-tabpickup-syncing = Сачекајте да се ваши језичци синхронизују. Брзо ће то.

firefoxview-mobile-promo-header = Преузмите језичке са телефона или таблета
firefoxview-mobile-promo-description = Да видите ваше најновије језичке са мобилног уређаја, пријавите се на { -brand-product-name } за iOS или Android.
firefoxview-mobile-promo-primarybutton = Преузмите { -brand-product-name } за телефон

firefoxview-mobile-confirmation-header = 🎉 Све је спремно!
firefoxview-mobile-confirmation-description = Сада можете да преузмете ваше { -brand-product-name } језичке са таблета или телефона.

firefoxview-closed-tabs-title = Недавно затворено

firefoxview-closed-tabs-description = Поново отворите странице које сте затворили на овом уређају.

firefoxview-closed-tabs-placeholder = <strong>Нема недавно затворених страница</strong><br/>Не брините да ћете грешком затворити и изгубити језичак. Увек их можете пронаћи овде.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Последња активност

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Отворите { $targetURI } у новом језичку

firefoxview-try-colorways-button = Испробајте комбинације боја
firefoxview-no-current-colorway-collection = Стижу нове комбинације боја
firefoxview-change-colorway-button = Промените комбинације боја

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>Још нема шта да се види</strong><br/>Следећи пут када отворите страницу у { -brand-product-name }-у на другом уређају, можете да је преузмете овде.

firefoxview-collapse-button-show =
    .title = Прикажи листу

firefoxview-collapse-button-hide =
    .title = Сакриј листу
