# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = Mdel
    .aria-label = Mdel

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Tura akka

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Tafrant n waccaren
firefoxview-tabpickup-description = Ldi isebtar seg yibenkan-nniḍen.

firefoxview-tabpickup-recenttabs-description = Tabdart n waccaren tamaynut ad d-tuɣal ɣer da

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = Yemmed { $percentValue }%

firefoxview-tabpickup-step-signin-header = Ttnaqal gar yibenkan s tefses
firefoxview-tabpickup-step-signin-description = I wakken ad d-tawiḍ accaren n tiliɣri-inek·inem ɣer dagi, qqen qbel neɣ rnu amiḍan.
firefoxview-tabpickup-step-signin-primarybutton = Kemmel

firefoxview-tabpickup-adddevice-header = Mtawi { -brand-product-name } ɣef tiliɣri-inek·inem neɣ ɣef tfelwit n uselken
firefoxview-tabpickup-adddevice-description = Sader { -brand-product-name } i uziraz syen qqen ɣer-s.
firefoxview-tabpickup-adddevice-learn-how = Issin amek
firefoxview-tabpickup-adddevice-primarybutton = Awi { -brand-product-name } i uziraz

firefoxview-tabpickup-synctabs-header = Rmed amtawi n waccaren…
firefoxview-tabpickup-synctabs-description = Sireg { -brand-short-name } ad yebḍu accaren gar yibenkan.
firefoxview-tabpickup-synctabs-learn-how = Issin amek
firefoxview-tabpickup-synctabs-primarybutton = Mtawi accaren yeldin

firefoxview-tabpickup-fxa-admin-disabled-header = Takebbanit-ik·im tessens amtawi
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } ur yezmir ara ad yemtawi accaren gar yibenkan acku anedbal-ik·im issens amtawi.

firefoxview-tabpickup-network-offline-header = senqed tuqqna-k·m internet
firefoxview-tabpickup-network-offline-description = Ma yella tesseqdaceḍ aɣrab n tmes neɣ apṛuksi, senqed ma yella { -brand-short-name } yesɛa tisirag ad yekcem ɣer web.
firefoxview-tabpickup-network-offline-primarybutton = Ɛreḍ tikelt nniḍen

firefoxview-tabpickup-sync-error-header = Nettmagar-d uguren n umtawi
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } mazal ur issaweḍ ara ɣer umeẓlu n umtawi. Ɛreḍ tikkelt-nniḍen deg kra n tesdatin.
firefoxview-tabpickup-sync-error-primarybutton = Ɛreḍ tikkelt-nniḍen

firefoxview-tabpickup-sync-disconnected-header = Rmed amtawi i wakken ad tkemmleḍ
firefoxview-tabpickup-sync-disconnected-description = I ulqaḍ n waccaren-ik·im, tesriḍ ad tsirgeḍ amtawi deg { -brand-short-name }
firefoxview-tabpickup-sync-disconnected-primarybutton = Rmed amtawi deg yiɣewwaren

firefoxview-tabpickup-syncing = Seqɛed tiɣimit mi ara tessemtawayeḍ accaren-ik·im. Ur yettɛeṭṭil ara.

firefoxview-mobile-promo-header = Awi-d accaren seg tiliɣri-inek·inem neɣ seg tfelwit n uselken
firefoxview-mobile-promo-description = I wakken ad d-tessekneḍ accaren ineggura izirazen, qqen ɣer { -brand-product-name } ɣef iOS neɣ Android.
firefoxview-mobile-promo-primarybutton = Awi { -brand-product-name } i uziraz

firefoxview-mobile-confirmation-header = 🎉 igerrez i beddu!
firefoxview-mobile-confirmation-description = Tzemreḍ tura ad d-terreḍ accaren-ik·im { -brand-product-name } seg tfelwit n uselken neɣ seg tiliɣri

firefoxview-closed-tabs-title = Melmi kan i yettwamdal

firefoxview-closed-tabs-description = Ales tawaledyawt n yisebtar i tmedleḍ ɣef yibenk-a

firefoxview-closed-tabs-description2 = Ales tawaledyawt n yisebtar i tmedleḍ deg usfaylu-a.
firefoxview-closed-tabs-placeholder = <strong>Ulac isebtar yettwamedlen melmi kan</strong><br/>Ur ttaggad ara akk ad tesruḥeḍ iccer yeldin. Tzemreḍ ad t-id-terreḍ melmi i tebɣiḍ syagi.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Armud aneggaru

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Ldi { $targetURI } deg yiccer amaynut

firefoxview-try-colorways-button = Ɛreḍ afran n yiniten
firefoxview-no-current-colorway-collection = Afran n yiniten amaynut la d-teddun
firefoxview-change-colorway-button = Beddel afran n yiniten

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>Ulac ayen ara akka tura</strong><br/>Tikkelt-nniḍen mi ara teldiḍ asebter deg { -brand-product-name } ɣef yibenk-nniḍen, ddem-it syagi am wakken d asugen.

firefoxview-collapse-button-show =
    .title = Sken tabdart

firefoxview-collapse-button-hide =
    .title = Ffer tabdart
