# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


dns-not-found-title = 서버를 찾을 수 없음
# Variables:
# $hostAndPath (String) - a suggested site (e.g. "www.example.com") that the user may have meant instead.
dns-not-found-with-suggestion = <a data-l10n-name="website">{ $hostAndPath }</a> 사이트로 이동하시겠습니까?
dns-not-found-hint-header = <strong>올바른 주소를 입력한 경우, 다음을 수행할 수 있습니다:</strong>
dns-not-found-hint-try-again = 나중에 다시 시도하세요
dns-not-found-hint-check-network = 네트워크 연결을 확인해 보세요
dns-not-found-hint-firewall = { -brand-short-name }에 웹 액세스 권한이 있는지 확인하세요 (연결되어 있지만 방화벽 뒤에 있을 수 있음)
