# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Злучыць іншую прыладу
    .style = width: 32em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Калі вы яшчэ гэтага не зрабілі, усталюйце <a data-l10n-name="connect-another-device">Firefox на сваю мабільную прыладу</a>.

fxa-qrcode-heading-step2 = 2. Адкрыйце Firefox на мабільнай прыладзе.

fxa-qrcode-heading-step3 = 3. Адкрыйце <b>меню</b> (<img data-l10n-name="ios-menu-icon"/> або <img data-l10n-name="android-menu-icon"/>), націсніце <img data-l10n-name="settings-icon"/> <b>Налады</b> і выберыце <b>Уключыць сінхранізацыю</b>

fxa-qrcode-heading-step4 = 4. Скануйце гэты код:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Сінхранізуйце { -brand-product-name } на сваім тэлефоне або планшэце
fxa-qrcode-pair-step1 = 1. Адкрыйце { -brand-product-name } на сваёй мабільнай прыладзе.

fxa-qrcode-pair-step2 = 2. Адкрыйце <strong>меню</strong> (<img data-l10n-name="ios-menu-icon"/> на iOS або <img data-l10n-name="android-menu-icon"/> на Android) і націсніце <strong>Увайсці ў сінхранізацыю</strong>

fxa-qrcode-pair-step3 = 3. Націсніце <strong>Гатова да сканавання</strong> і ўтрымлівайце тэлефон над гэтым кодам

fxa-qrcode-error-title = Спараванне не ўдалося.

fxa-qrcode-error-body = Паспрабуйце зноў.
