# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Um { -brand-full-name }

releaseNotes-link = Hvað er nýtt

update-checkForUpdatesButton =
    .label = Leita að uppfærslum
    .accesskey = L

update-updateButton =
    .label = Endurræstu til að uppfæra { -brand-shorter-name }
    .accesskey = r

update-checkingForUpdates = Athuga með uppfærslur…
update-downloading = <img data-l10n-name="icon"/>Niðurhala uppfærslu — <label data-l10n-name="download-status"/>
update-downloading-message = Sækir uppfærslu — <label data-l10n-name="download-status"/>
update-applying = Virkja uppfærslu…

update-failed = Uppfærsla mistókst. <label data-l10n-name="failed-link">Niðurhala nýjustu útgáfu</label>
update-failed-main = Uppfærsla mistókst. <a data-l10n-name="failed-link-main">Niðurhala nýjustu útgáfu</a>

update-adminDisabled = Uppfærslur hafa verið gerðar óvirkar af kerfistjóra
update-noUpdatesFound = { -brand-short-name } er þegar með nýjustu útgáfu
update-otherInstanceHandlingUpdates = Verið er að uppfæra { -brand-short-name } annarstaðar

update-manual = Uppfærslur eru fáanlegar frá <label data-l10n-name="manual-link"/>

update-unsupported = Ekki er hægt að setja inn fleiri uppfærslur. <label data-l10n-name="unsupported-link">Frekari upplýsingar</label>

update-restarting = Endurræsir…

update-internal-error = Ekki er hægt að leita að uppfærslum vegna innri villu. Uppfærslur eru fáanlegar á <label data-l10n-name="manual-link"/>

channel-description = Þú ert núna á <label data-l10n-name="current-channel"></label> uppfærslurásinni.

warningDesc-version = { -brand-short-name } er tilraunakenndur og gæti verið óstöðugur.

aboutdialog-help-user = { -brand-product-name } hjálp
aboutdialog-submit-feedback = Senda álit

community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> er <label data-l10n-name="community-exp-creditsLink">samfélag</label> sem vinnur að því að gera vefinn opinn, frjálsan og aðgengilegan öllum.

community-2 = { -brand-short-name } er hannað af <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, sem er <label data-l10n-name="community-creditsLink">samfélag</label> sem vinnur að því að gera vefinn opinn, frjálsan og aðgengilegan öllum.

helpus = Viltu hjálpa? <label data-l10n-name="helpus-donateLink">Styrktu verkefnið</label> eða <label data-l10n-name="helpus-getInvolvedLink">taktu þátt!</label>

bottomLinks-license = Notkunarleyfi
bottomLinks-rights = Réttindi notenda
bottomLinks-privacy = Meðferð persónuupplýsinga

# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits }-bæti)

# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate }) ({ $bits }-bæti)
