# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The question portion of the following message should have the <strong> and </strong> tags surrounding it.
default-browser-notification-message = <strong>Setja { -brand-short-name } sem sjálfgefna vafrann þinn?</strong> Fáðu hraða, öryggi og mögulegt einkavafur alltaf þegar þú notar vefinn.
default-browser-notification-button =
    .label = Setja sem sjálfgefinn
    .accesskey = S

## These strings are used for the default browser prompt. There are 2 variations
## depending on the operating system (Windows vs other). The checkbox label and
## secondary button are shared between the variants.

default-browser-prompt-title-pin = Viltu gera { -brand-short-name } að aðalvafranum þínum?
default-browser-prompt-message-pin = Hafðu { -brand-short-name } innan seilingar — gerðu hann að sjálfgefnum vafra og festu hann við verkefnastikuna þína.
default-browser-prompt-message-pin-mac = Hafðu { -brand-short-name } innan seilingar — gerðu hann að sjálfgefnum vafra og hafðu hann í dokkunni.
default-browser-prompt-button-primary-pin = Gera að aðalvafra
default-browser-prompt-title-alt = Gera { -brand-short-name } að sjálfgefnum vafra?
default-browser-prompt-message-alt = Fáðu hraða, öryggi og næði í hvert skipti sem þú vafrar.
default-browser-prompt-button-primary-alt = Setja sem sjálfgefinn vafra
default-browser-prompt-checkbox-not-again-label = Ekki birta þessi skilaboð aftur
default-browser-prompt-button-secondary = Ekki núna
