# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = Loka
    .aria-label = Loka

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Rétt í þessu

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Afhending flipa
firefoxview-tabpickup-description = Opna síður úr öðrum tækjum.

firefoxview-tabpickup-recenttabs-description = Listi yfir nýlega flipa myndi koma hér

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% lokið

firefoxview-tabpickup-step-signin-header = Skiptu hiklaust á milli tækja
firefoxview-tabpickup-step-signin-description = Til að grípa símaflipana hér, skaltu fyrst skrá þig inn eða búa til reikning.
firefoxview-tabpickup-step-signin-primarybutton = Halda áfram

firefoxview-tabpickup-adddevice-header = Samstilltu { -brand-product-name } á símanum eða spjaldtölvunni
firefoxview-tabpickup-adddevice-description = Sæktu { -brand-product-name } fyrir farsíma og skráðu þig inn þar.
firefoxview-tabpickup-adddevice-learn-how = Lærðu hvernig
firefoxview-tabpickup-adddevice-primarybutton = Náðu í { -brand-product-name } fyrir farsíma

firefoxview-tabpickup-synctabs-header = Kveiktu á samstillingu flipa
firefoxview-tabpickup-synctabs-description = Leyfðu { -brand-short-name } að deila flipum á milli tækja.
firefoxview-tabpickup-synctabs-learn-how = Lærðu hvernig
firefoxview-tabpickup-synctabs-primarybutton = Samstilla opna flipa

firefoxview-tabpickup-fxa-admin-disabled-header = Kerfisstjórarnir þínir hafa gert samstillingu óvirka
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } getur ekki samstillt flipa á milli tækja vegna þess að kerfisstjórarnir þínir hafa slökkt á samstillingu.

firefoxview-tabpickup-network-offline-header = Athugaðu internettenginguna þína
firefoxview-tabpickup-network-offline-description = Ef þú ert að nota eldvegg eða milliþjón, athugaðu þá hvort { -brand-short-name } hafi heimild til að opna vefinn.
firefoxview-tabpickup-network-offline-primarybutton = Reyndu aftur

firefoxview-tabpickup-sync-error-header = Við eigum í vandræðum með að samstilla
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } getur ekki náð í samstillingarþjónustuna eins og er. Reyndu aftur eftir smástund.
firefoxview-tabpickup-sync-error-primarybutton = Reyndu aftur

firefoxview-tabpickup-sync-disconnected-header = Kveiktu á samstillingu til að halda áfram
firefoxview-tabpickup-sync-disconnected-description = Til að ná í flipana þína þarftu að leyfa samstillingu í { -brand-short-name }.
firefoxview-tabpickup-sync-disconnected-primarybutton = Kveiktu á samstillingu í stillingum

firefoxview-tabpickup-syncing = Ekki fara neitt meðan fliparnir þínir samstillast. Þetta tekur bara augnablik.

firefoxview-mobile-promo-header = Náðu í flipa úr símanum þínum eða spjaldtölvunni
firefoxview-mobile-promo-description = Til að skoða nýjustu farsímaflipana þína skaltu skrá þig inn á { -brand-product-name } á iOS eða Android.
firefoxview-mobile-promo-primarybutton = Náðu í { -brand-product-name } fyrir farsíma

firefoxview-mobile-confirmation-header = 🎉 Allt tilbúið!
firefoxview-mobile-confirmation-description = Nú geturðu náð í { -brand-product-name }-flipana þína úr spjaldtölvunni eða símanum.

firefoxview-closed-tabs-title = Nýlega lokað

firefoxview-closed-tabs-description = Opnaðu aftur síður sem þú hefur lokað á þessu tæki.

firefoxview-closed-tabs-description2 = Opnaðu aftur síður sem þú hefur lokað í þessum glugga.
firefoxview-closed-tabs-placeholder = <strong>Engar nýlega lokaðar síður</strong><br/>Ekki hræðast að tapa lokuðum flipum. Þú getur alltaf sótt þá hér.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Síðasta virkni

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Opna { $targetURI } í nýjum flipa

firefoxview-try-colorways-button = Prófaðu litasettin
firefoxview-no-current-colorway-collection = Ný litasett eru á leiðinni
firefoxview-change-colorway-button = Breyta litasetti

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>Ekkert að sjá hér ennþá</strong><br/>Næst þegar þú opnar síðu í { -brand-product-name } í öðru tæki skaltu grípa hana hér eins og fyrir töfra.

firefoxview-collapse-button-show =
    .title = Birta lista

firefoxview-collapse-button-hide =
    .title = Fela lista
