# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = Lukk
    .aria-label = Lukk

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Akkurat nå

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Synkroniserte faner
firefoxview-tabpickup-description = Åpne sider fra andre enheter.

firefoxview-tabpickup-recenttabs-description = Listen over siste faner vil vises her

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue } % fullført

firefoxview-tabpickup-step-signin-header = Bytt enkelt mellom enheter
firefoxview-tabpickup-step-signin-description = For å hente telefonfanene dine hit, logger du først inn eller oppretter en konto.
firefoxview-tabpickup-step-signin-primarybutton = Fortsett

firefoxview-tabpickup-adddevice-header = Synkroniser { -brand-product-name } på telefonen eller nettbrettet
firefoxview-tabpickup-adddevice-description = Last ned { -brand-product-name } for mobil og logg inn der.
firefoxview-tabpickup-adddevice-learn-how = Les hvordan
firefoxview-tabpickup-adddevice-primarybutton = Få { -brand-product-name } for mobil

firefoxview-tabpickup-synctabs-header = Slå på fanesynkronisering
firefoxview-tabpickup-synctabs-description = Tillat { -brand-short-name } å dele faner mellom enheter.
firefoxview-tabpickup-synctabs-learn-how = Les hvordan
firefoxview-tabpickup-synctabs-primarybutton = Synkroniser åpne faner

firefoxview-tabpickup-fxa-admin-disabled-header = Organisasjonen din har deaktivert synkronisering
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } kan ikke synkronisere faner mellom enheter fordi administratoren din har deaktivert synkronisering.

firefoxview-tabpickup-network-offline-header = Sjekk internettilkoblingen din
firefoxview-tabpickup-network-offline-description = Hvis du bruker en brannmur eller proxy, sjekk at { -brand-short-name } har tillatelse til å få tilgang til nettet.
firefoxview-tabpickup-network-offline-primarybutton = Prøv igjen

firefoxview-tabpickup-sync-error-header = Vi har problemer med å synkronisere
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } kan ikke nå synkroniseringstjenesten akkurat nå. Prøv igjen litt senere.
firefoxview-tabpickup-sync-error-primarybutton = Prøv igjen

firefoxview-tabpickup-sync-disconnected-header = Slå på synkronisering for å fortsette
firefoxview-tabpickup-sync-disconnected-description = For å få tilgang til fanene dine må du aktivere synkronisering i { -brand-short-name }.
firefoxview-tabpickup-sync-disconnected-primarybutton = Slå på synkronisering i innstillingene

firefoxview-tabpickup-syncing = Vi synkroniserer fanene dine, det tar bare et øyeblikk.

firefoxview-mobile-promo-header = Åpne faner fra telefonen eller nettbrettet
firefoxview-mobile-promo-description = For å se de siste mobilfanene dine, logg på { -brand-product-name } på iOS eller Android.
firefoxview-mobile-promo-primarybutton = Få { -brand-product-name } for mobil

firefoxview-mobile-confirmation-header = 🎉 Alt klart!
firefoxview-mobile-confirmation-description = Nå kan du hente { -brand-product-name }-fanene fra nettbrettet eller telefonen.

firefoxview-closed-tabs-title = Nylig lukket

firefoxview-closed-tabs-description = Åpne sider du har lukket på denne enheten på nytt.

firefoxview-closed-tabs-description2 = Åpne på nytt sider du har lukket i dette vinduet.
firefoxview-closed-tabs-placeholder = <strong>Ingen nylig lukkede sider</strong><br/>Frykt ikke å miste en lukket fane igjen. Du kan alltid hente den her.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Sist aktiv

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Åpne { $targetURI } i en ny fane

firefoxview-try-colorways-button = Prøv fargesammensettinger
firefoxview-no-current-colorway-collection = Nye fargesammensettinger er på vei
firefoxview-change-colorway-button = Endre fargesammensetting

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>Ingenting å se ennå</strong><br/>Neste gang du åpner en side i { -brand-product-name } på en annen enhet, får du på magisk vis tilgang til den her.

firefoxview-collapse-button-show =
    .title = Vis liste

firefoxview-collapse-button-hide =
    .title = Skjul liste
