# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = Cerrar
    .aria-label = Cerrar

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Ahora mismo

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Pestaña sincronizada
firefoxview-tabpickup-description = Abrir páginas desde otros dispositivos.

firefoxview-tabpickup-recenttabs-description = La lista de pestañas recientes iría aquí

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% completado

firefoxview-tabpickup-step-signin-header = Cambia sin problemas entre dispositivos
firefoxview-tabpickup-step-signin-description = Para obtener las pestañas de tu teléfono aquí, primero inicia sesión o crea una cuenta.
firefoxview-tabpickup-step-signin-primarybutton = Continuar

firefoxview-tabpickup-adddevice-header = Sincroniza { -brand-product-name } en tu teléfono o tableta
firefoxview-tabpickup-adddevice-description = Descarga { -brand-product-name } para dispositivos móviles e inicia sesión allí.
firefoxview-tabpickup-adddevice-learn-how = Aprende cómo
firefoxview-tabpickup-adddevice-primarybutton = Obtén { -brand-product-name } para dispositivos móviles

firefoxview-tabpickup-synctabs-header = Activar sincronización de pestañas
firefoxview-tabpickup-synctabs-description = Permitir que { -brand-short-name } comparta pestañas entre dispositivos.
firefoxview-tabpickup-synctabs-learn-how = Aprende cómo
firefoxview-tabpickup-synctabs-primarybutton = Sincronizar pestañas abiertas

firefoxview-tabpickup-fxa-admin-disabled-header = Tu organización ha deshabilitado la sincronización
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } no puede sincronizar pestañas entre dispositivos porque tu administrador ha deshabilitado la sincronización.

firefoxview-tabpickup-network-offline-header = Revisa tu conexión a Internet
firefoxview-tabpickup-network-offline-description = Si estás usando un firewall o un proxy, verifica que { -brand-short-name } tenga permiso para acceder a la web.
firefoxview-tabpickup-network-offline-primarybutton = Intentar de nuevo

firefoxview-tabpickup-sync-error-header = Tenemos problemas para sincronizar
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } no puede comunicarse con el servicio de sincronización en este momento. Prueba de nuevo en unos momentos.
firefoxview-tabpickup-sync-error-primarybutton = Intentar de nuevo

firefoxview-tabpickup-sync-disconnected-header = Activa la sincronización para continuar
firefoxview-tabpickup-sync-disconnected-description = Para llevar tus pestañas contigo, necesitarás permitir la sincronización { -brand-short-name }.
firefoxview-tabpickup-sync-disconnected-primarybutton = Activar la sincronización en los ajustes

firefoxview-tabpickup-syncing = Siéntate tranquilo mientras tus pestañas se sincronizan. Será solo un momento.

firefoxview-mobile-promo-header = Agarra pestañas desde tu teléfono o tableta
firefoxview-mobile-promo-description = Para ver tus últimas pestañas móviles, inicia sesión en { -brand-product-name } en iOS o Android.
firefoxview-mobile-promo-primarybutton = Obtén { -brand-product-name } para dispositivos móviles

firefoxview-mobile-confirmation-header = 🎉 ¡Listo para llevar!
firefoxview-mobile-confirmation-description = Ahora puedes tomar sus pestañas de { -brand-product-name } desde tu tableta o teléfono.

firefoxview-closed-tabs-title = Cerradas recientemente

firefoxview-closed-tabs-description = Vuelve a abrir las páginas que cerraste en este dispositivo.

firefoxview-closed-tabs-description2 = Vuelve a abrir las páginas que has cerrado en esta ventana.
firefoxview-closed-tabs-placeholder = <strong>Sin páginas cerradas recientemente</strong><br/>Nunca temas perder una pestaña cerrada de nuevo. Siempre puedes recuperarla aquí.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Última activa

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Abrir { $targetURI } en una pestaña nueva

firefoxview-try-colorways-button = Prueba combinaciones de colores
firefoxview-no-current-colorway-collection = Nuevas combinaciones de colores están en camino
firefoxview-change-colorway-button = Cambiar combinación de colores

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>Nada que ver todavía</strong><br/>La próxima vez que abras una página en { -brand-product-name } en otro dispositivo, tómela aquí como por arte de magia.

firefoxview-collapse-button-show =
    .title = Mostrar lista

firefoxview-collapse-button-hide =
    .title = Ocultar lista
