# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Подключить другое устройство
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Установите <a data-l10n-name="connect-another-device">Firefox на ваше мобильное устройство</a>, если вы ещё этого не сделали.

fxa-qrcode-heading-step2 = 2. Откройте Firefox на вашем мобильном устройстве.

fxa-qrcode-heading-step3 = 3. Откройте <b>меню</b> (<img data-l10n-name="ios-menu-icon"/> или <img data-l10n-name="android-menu-icon"/>), нажмите на <img data-l10n-name="settings-icon"/> <b>Настройки</b> и выберите <b>Включить синхронизацию</b>

fxa-qrcode-heading-step4 = 4. Просканируйте этот код:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Синхронизируйте { -brand-product-name } на своем телефоне или планшете
fxa-qrcode-pair-step1 = 1. Откройте { -brand-product-name } на своем мобильном устройстве.

fxa-qrcode-pair-step2 = 2. Откройте <strong>меню</strong> (<img data-l10n-name="ios-menu-icon"/> на iOS или <img data-l10n-name="android-menu-icon"/> на Android) и нажмите <strong>Войти в Синхронизацию</strong>

fxa-qrcode-pair-step3 = 3. Нажмите <strong>Готово к сканированию</strong> и наведите телефон на этот код

fxa-qrcode-error-title = Сопряжение не удалось.

fxa-qrcode-error-body = Попробуйте снова.
