# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }
menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F
firefoxview-page-title = { -firefoxview-brand-name }
firefoxview-close-button =
    .title = Serrar
    .aria-label = Serrar
# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Gist ussa
# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Tabs sincronisads
firefoxview-tabpickup-description = Avra paginas dad auters apparats.
firefoxview-tabpickup-recenttabs-description = La glista tals tabs utilisads dacurt vegniss mussada qua
# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = Cumplettà per { $percentValue }%
firefoxview-tabpickup-step-signin-header = Mida spert dad in apparat a l'auter
firefoxview-tabpickup-step-signin-description = Per ir qua per tes tabs dal telefonin, t'annunzia l'emprim u creescha in conto.
firefoxview-tabpickup-step-signin-primarybutton = Cuntinuar
firefoxview-tabpickup-adddevice-header = Sincronisescha { -brand-product-name } cun tes telefonin u tablet
firefoxview-tabpickup-adddevice-description = Telechargia { -brand-product-name } per apparats mobils e t'annunzia là.
firefoxview-tabpickup-adddevice-learn-how = Ve a savair co
firefoxview-tabpickup-adddevice-primarybutton = Telechargia { -brand-product-name } per apparats mobils
firefoxview-tabpickup-synctabs-header = Activar la sincronisaziun da tabs
firefoxview-tabpickup-synctabs-description = Permetter a { -brand-short-name } da cundivider tabs tranter apparats.
firefoxview-tabpickup-synctabs-learn-how = Ve a savair co far
firefoxview-tabpickup-synctabs-primarybutton = Sincronisar tabs averts
firefoxview-tabpickup-fxa-admin-disabled-header = Tia organisaziun ha deactivà la sincronisaziun
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } n'è betg abel da sincronisar tabs tranter apparats perquai che tes administratur ha deactivà la sincronisaziun.
firefoxview-tabpickup-network-offline-header = Controllescha tia connexiun cun l'internet
firefoxview-tabpickup-network-offline-description = Sche ti utiliseschas ina firewall u in proxy, controllescha che { -brand-short-name } ha il dretg dad acceder al web.
firefoxview-tabpickup-network-offline-primarybutton = Empruvar anc ina giada
firefoxview-tabpickup-sync-error-header = Nus avain difficultads cun la sincronisaziun
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } na cuntanscha actualmain betg il servetsch da sincronisaziun. Emprova anc ina giada en pauc mument.
firefoxview-tabpickup-sync-error-primarybutton = Empruvar anc ina giada
firefoxview-tabpickup-sync-disconnected-header = Activescha la sincronisaziun per cuntinuar
firefoxview-tabpickup-sync-disconnected-description = Per ir per tes tabs stos ti permetter a { -brand-short-name } da sincronisar.
firefoxview-tabpickup-sync-disconnected-primarybutton = Activar la sincronisaziun en ils parameters
firefoxview-tabpickup-syncing = Spetga per plaschair durant che tes tabs vegnan sincronisads. I cuzza be in amen.
firefoxview-mobile-promo-header = Va per tabs da tes telefonin u tablet
firefoxview-mobile-promo-description = Per laschar mussar ils ultims tabs da l'apparat mobil, t'annunzia en { -brand-product-name } sin iOS u Android.
firefoxview-mobile-promo-primarybutton = Va per { -brand-product-name } per apparats mobils
firefoxview-mobile-confirmation-header = 🎉 Tut pront!
firefoxview-mobile-confirmation-description = Ussa pos ti ir per tes tabs da { -brand-product-name } da tes tablet u telefonin.
firefoxview-closed-tabs-title = Serrà dacurt
firefoxview-closed-tabs-description = Avra danovamain paginas che ti has serrà sin quest apparat.
firefoxview-closed-tabs-description2 = Avra danovamain paginas che ti has serrà en questa fanestra.
firefoxview-closed-tabs-placeholder = <strong>Naginas paginas serradas dacurt</strong><br/>Ti na stos mai pli temair da perder in tab serrà. Ti al chattas adina qua.
# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Ultim activ
# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Avrir { $targetURI } en in nov tab
firefoxview-try-colorways-button = Empruvar las cumbinaziuns da colurs
firefoxview-no-current-colorway-collection = Novas cumbinaziuns da colurs èn prest disponiblas
firefoxview-change-colorway-button = Midar la cumbinaziun da colurs
# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }
firefoxview-synced-tabs-placeholder = <strong>Anc nagut da vesair</strong><br/>La proxima giada che ti avras ina pagina en { -brand-product-name } sin in auter apparat, la post ti era avrir qua – a moda quasi magica.
firefoxview-collapse-button-show =
    .title = Mussar la glista
firefoxview-collapse-button-hide =
    .title = Zuppentar la glista
