# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Connectar un autre periferic
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. S’es pas ja lo cas, installatz <a data-l10n-name="connect-another-device">Firefox sus vòstre periferic mobil</a>.

fxa-qrcode-heading-step2 = 2. Dobrissètz Firefox sus vòstre periferic mobil.

fxa-qrcode-heading-step3 = 3. dobrissètz <b>menú</b> (<img data-l10n-name="ios-menu-icon"/> o <img data-l10n-name="android-menu-icon"/>), tocatz <img data-l10n-name="settings-icon"/> <b>Paramètres</b> e causissètz <b>Activar la sincronizacion</b>

fxa-qrcode-heading-step4 = 4. Numerizatz aqueste còdi :

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Sincronizatz { -brand-product-name } amb vòstre telefòn o vòstra tauleta
fxa-qrcode-pair-step1 = 1. Dobrissètz  { -brand-product-name } sus vòstre aparelh mobil.

fxa-qrcode-pair-step2 = 2. Dobrissètz lo <strong>menú</strong> (<img data-l10n-name="ios-menu-icon"/> jos iOS o <img data-l10n-name="android-menu-icon"/> jos Android) e tocatz <strong>Se connectar per sincronizar</strong>

fxa-qrcode-pair-step3 = 3. Tocatz <strong>Prèst a numerizar</strong> e tenetz vòstre aparelh al dessús d’aqueste còdi

fxa-qrcode-error-title = Fracàs de l’associacion.

fxa-qrcode-error-body = Tornar ensajar
