# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Kết nối thiết bị khác
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Cài đặt <a data-l10n-name="connect-another-device">Firefox trên thiết bị di động</a> nếu bạn chưa có.

fxa-qrcode-heading-step2 = 2. Mở Firefox trên thiết bị di động của bạn.

fxa-qrcode-heading-step3 = 3. Mở <b>menu</b> (<img data-l10n-name="ios-menu-icon"/> hoặc <img data-l10n-name="android-menu-icon"/>), chạm vào <img data-l10n-name="settings-icon"/> <b>Cài đặt</b> và chọn <b>Bật đồng bộ hóa</b>

fxa-qrcode-heading-step4 = 4. Quét mã này:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Đồng bộ hóa { -brand-product-name } trên điện thoại hoặc máy tính bảng của bạn
fxa-qrcode-pair-step1 = 1. Mở { -brand-product-name } trên thiết bị di động của bạn.

fxa-qrcode-pair-step2 = 2. Mở <strong>menu</strong> (<img data-l10n-name="ios-menu-icon"/> trên iOS hoặc <img data-l10n-name="android-menu-icon"/> trên Android) và nhấn <strong>Đăng nhập để đồng bộ hóa</strong>

fxa-qrcode-pair-step3 = 3. Nhấn <strong>Sẵn sàng để quét</strong> và giữ camera của điện thoại của bạn vào mã này

fxa-qrcode-error-title = Ghép đôi không thành công.

fxa-qrcode-error-body = Thử lại.
