# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Σύνδεση άλλης συσκευής
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Αν δεν το έχετε κάνει ήδη, εγκαταστήστε το <a data-l10n-name="connect-another-device">Firefox στην κινητή σας συσκευή</a>.

fxa-qrcode-heading-step2 = 2. Ανοίξτε το Firefox στην κινητή σας συσκευή.

fxa-qrcode-heading-step3 = 3. Ανοίξτε το <b>μενού</b> (<img data-l10n-name="ios-menu-icon"/> ή <img data-l10n-name="android-menu-icon"/>), πατήστε το <img data-l10n-name="settings-icon"/> <b>Ρυθμίσεις</b> και επιλέξτε <b>Ενεργοποίηση Sync</b>

fxa-qrcode-heading-step4 = 4. Σαρώστε αυτόν τον κωδικό:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Συγχρονισμός του { -brand-product-name } στις κινητές σας συσκευές
fxa-qrcode-pair-step1 = 1. Ανοίξτε το { -brand-product-name } στην κινητή σας συσκευή.

fxa-qrcode-pair-step2 = 2. Ανοίξτε το <strong>μενού</strong> (<img data-l10n-name="ios-menu-icon"/> στο iOS ή <img data-l10n-name="android-menu-icon"/> στο Android) και πατήστε <strong>Σύνδεση για συγχρονισμό</strong>

fxa-qrcode-pair-step3 = 3. Πατήστε <strong>Σάρωση</strong> και στρέψτε το τηλέφωνό σας σε αυτόν τον κωδικό

fxa-qrcode-error-title = Ανεπιτυχής σύζευξη.

fxa-qrcode-error-body = Δοκιμάστε ξανά.
