# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
  .label = { -firefoxview-brand-name }
  .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
  .label = { -firefoxview-brand-name }
  .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
  .title = Chiudi
  .aria-label = Chiudi

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = adesso

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Riprendi schede
firefoxview-tabpickup-description = Apri pagine da altri dispositivi.

firefoxview-tabpickup-recenttabs-description = Le schede recenti verranno visualizzate qui

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% completato

firefoxview-tabpickup-step-signin-header = Passa velocemente da un dispositivo all’altro
firefoxview-tabpickup-step-signin-description = Per recuperare le schede aperte sul tuo telefono, accedi o crea un account.
firefoxview-tabpickup-step-signin-primarybutton = Continua

firefoxview-tabpickup-adddevice-header = Sincronizza { -brand-product-name } sul tuo telefono o tablet
firefoxview-tabpickup-adddevice-description = Scarica { -brand-product-name } per dispositivi mobili e accedi al tuo account.
firefoxview-tabpickup-adddevice-learn-how = Scopri come
firefoxview-tabpickup-adddevice-primarybutton = Ottieni { -brand-product-name } per mobile

firefoxview-tabpickup-synctabs-header = Attiva la sincronizzazione delle schede
firefoxview-tabpickup-synctabs-description = Consenti a { -brand-short-name } di condividere le schede tra i tuoi dispositivi.
firefoxview-tabpickup-synctabs-learn-how = Scopri come
firefoxview-tabpickup-synctabs-primarybutton = Sincronizza le schede aperte

firefoxview-tabpickup-fxa-admin-disabled-header = La tua azienda ha disattivato la sincronizzazione
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } non è in grado di sincronizzare le schede tra i tuoi dispositivi in quanto un amministratore ha disattivato la sincronizzazione.

firefoxview-tabpickup-network-offline-header = Verifica la tua connessione a Internet
firefoxview-tabpickup-network-offline-description = Se utilizzi un firewall o un proxy, verifica che { -brand-short-name } abbia il permesso di accedere a Internet.
firefoxview-tabpickup-network-offline-primarybutton = Riprova

firefoxview-tabpickup-sync-error-header = Si è verificato un problema con la sincronizzazione
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } non può raggiungere il servizio per la sincronizzazione in questo momento. Riprova tra qualche istante.
firefoxview-tabpickup-sync-error-primarybutton = Riprova

firefoxview-tabpickup-sync-disconnected-header = Attiva la sincronizzazione per continuare
firefoxview-tabpickup-sync-disconnected-description = Per recuperare le tue schede è necessario attivare la sincronizzazione in { -brand-short-name }.
firefoxview-tabpickup-sync-disconnected-primarybutton = Attiva la sincronizzazione nelle impostazioni

firefoxview-tabpickup-syncing = Stiamo sincronizzando le tue schede, ci vorrà solo un attimo.

firefoxview-mobile-promo-header = Recupera le schede aperte sul tuo telefono o tablet
firefoxview-mobile-promo-description = Per visualizzare le ultime schede che hai aperto sul tuo telefono, accedi a { -brand-product-name } su iOS o Android.
firefoxview-mobile-promo-primarybutton = Ottieni { -brand-product-name } per mobile

firefoxview-mobile-confirmation-header = 🎉 Tutto pronto!
firefoxview-mobile-confirmation-description = Ora puoi recuperare le schede di { -brand-product-name } aperte sul tuo telefono o tablet.

firefoxview-closed-tabs-title = Chiuse di recente

firefoxview-closed-tabs-description = Riapri pagine che hai chiuso su questo dispositivo.

firefoxview-closed-tabs-description2 = Riapri pagine che hai chiuso in questa finestra.
firefoxview-closed-tabs-placeholder = <strong>Nessuna pagina chiusa di recente</strong><br/>Non avrai più paura di perdere una scheda chiusa per errore, potrai sempre riaprirla qui.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Ultima attiva

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
  .title = Apri { $targetURI } in una nuova scheda

firefoxview-try-colorways-button = Prova nuove tonalità
firefoxview-no-current-colorway-collection = Sono in arrivo nuove tonalità
firefoxview-change-colorway-button = Cambia tonalità

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>Non c’è ancora nulla da mostrare</strong><br/>La prossima volta che apri una pagina in { -brand-product-name } su un altro dispositivo, la troverai qui.

firefoxview-collapse-button-show =
  .title = Mostra elenco

firefoxview-collapse-button-hide =
  .title = Nascondi elenco
