# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


dns-not-found-title = Impossibile contattare il server

# Variables:
# $hostAndPath (String) - a suggested site (e.g. "www.example.com") that the user may have meant instead.
dns-not-found-with-suggestion = Forse volevi aprire <a data-l10n-name="website">{ $hostAndPath }</a>?
dns-not-found-hint-header = <strong>Se hai inserito l’indirizzo corretto, puoi:</strong>
dns-not-found-hint-try-again = Riprovare più tardi
dns-not-found-hint-check-network = Verificare la connessione alla rete
dns-not-found-hint-firewall = Controllare che { -brand-short-name } abbia il permesso di accedere a Internet (la connessione potrebbe essere protetta da un firewall)
