# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = ปิด
    .aria-label = ปิด

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = เมื่อกี้นี้

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = การรับแท็บ
firefoxview-tabpickup-description = เปิดหน้าจากอุปกรณ์อื่น ๆ

firefoxview-tabpickup-recenttabs-description = รายชื่อแท็บล่าสุดจะแสดงที่นี่

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% เสร็จสมบูรณ์

firefoxview-tabpickup-step-signin-header = สลับระหว่างอุปกรณ์ได้อย่างไร้รอยต่อ
firefoxview-tabpickup-step-signin-description = เมื่อต้องการนำแท็บบนโทรศัพท์ของคุณมาที่นี่ ให้ลงชื่อเข้าหรือสร้างบัญชีก่อน
firefoxview-tabpickup-step-signin-primarybutton = ดำเนินการต่อ

firefoxview-tabpickup-adddevice-header = ซิงค์ { -brand-product-name } บนโทรศัพท์หรือแท็บเล็ตของคุณ
firefoxview-tabpickup-adddevice-description = ดาวน์โหลด { -brand-product-name } สำหรับมือถือแล้วลงชื่อเข้าจากที่นั่น
firefoxview-tabpickup-adddevice-learn-how = เรียนรู้วิธี
firefoxview-tabpickup-adddevice-primarybutton = รับ { -brand-product-name } สำหรับมือถือ

firefoxview-tabpickup-synctabs-header = เปิดการซิงค์แท็บ
firefoxview-tabpickup-synctabs-description = อนุญาตให้ { -brand-short-name } แบ่งปันแท็บระหว่างอุปกรณ์
firefoxview-tabpickup-synctabs-learn-how = เรียนรู้วิธี
firefoxview-tabpickup-synctabs-primarybutton = ซิงค์แท็บที่เปิดอยู่

firefoxview-tabpickup-fxa-admin-disabled-header = องค์กรของคุณปิดใช้งานการซิงค์
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } ไม่สามารถซิงค์แท็บระหว่างอุปกรณ์ได้เนื่องจากผู้ดูแลระบบของคุณปิดใช้งานการซิงค์

firefoxview-tabpickup-network-offline-header = ตรวจสอบการเชื่อมต่ออินเทอร์เน็ตของคุณ
firefoxview-tabpickup-network-offline-description = หากคุณกำลังใช้ไฟร์วอลล์หรือพร็อกซี ให้ตรวจสอบว่า { -brand-short-name } มีสิทธิ์เข้าถึงเว็บ
firefoxview-tabpickup-network-offline-primarybutton = ลองอีกครั้ง

firefoxview-tabpickup-sync-error-header = เรากำลังมีปัญหาในการซิงค์
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } ไม่สามารถเข้าถึงบริการซิงค์ได้ในขณะนี้ โปรดลองอีกครั้งในอีกสักครู่
firefoxview-tabpickup-sync-error-primarybutton = ลองอีกครั้ง

firefoxview-tabpickup-sync-disconnected-header = เปิดการซิงค์เพื่อดำเนินการต่อ
firefoxview-tabpickup-sync-disconnected-description = เมื่อต้องการนำแท็บของคุณมาที่นี่ คุณจะต้องอนุญาตการซิงค์ใน { -brand-short-name }
firefoxview-tabpickup-sync-disconnected-primarybutton = เปิดการซิงค์ในการตั้งค่า

firefoxview-tabpickup-syncing = นั่งรอสักครู่ขณะที่กำลังซิงค์แท็บของคุณ ซึ่งจะใช้เวลาแค่ครู่เดียวเท่านั้น

firefoxview-mobile-promo-header = นำแท็บจากโทรศัพท์หรือแท็บเล็ตของคุณเข้ามา
firefoxview-mobile-promo-description = เมื่อต้องการดูแท็บบนมือถือล่าสุดของคุณ ให้ลงชื่อเข้า { -brand-product-name } บน iOS หรือ Android
firefoxview-mobile-promo-primarybutton = รับ { -brand-product-name } สำหรับมือถือ

firefoxview-mobile-confirmation-header = 🎉 เรียบร้อยแล้ว!
firefoxview-mobile-confirmation-description = ตอนนี้คุณสามารถนำแท็บ { -brand-product-name } จากแท็บเล็ตหรือโทรศัพท์ของคุณเข้ามาได้แล้ว

firefoxview-closed-tabs-title = เพิ่งปิดล่าสุด

firefoxview-closed-tabs-description = เปิดหน้าที่คุณปิดไปบนอุปกรณ์นี้ใหม่

firefoxview-closed-tabs-description2 = เปิดหน้าที่คุณปิดไปในหน้าต่างนี้ใหม่
firefoxview-closed-tabs-placeholder = <strong>ไม่มีหน้าที่ปิดไปเมื่อเร็วๆ นี้</strong><br/>ไม่ต้องกลัวจะเสียแท็บที่ปิดไปแล้วอีกต่อไป คุณสามารถเรียกคืนได้จากที่นี่

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = ใช้งานล่าสุด

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = เปิด { $targetURI } ในแท็บใหม่

firefoxview-try-colorways-button = ลองใช้ชุดรูปแบบสี
firefoxview-no-current-colorway-collection = ชุดรูปแบบสีใหม่พร้อมให้ใช้แล้ว
firefoxview-change-colorway-button = เปลี่ยนชุดรูปแบบสี

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>ยังไม่มีอะไรให้ดู</strong><br/>เมื่อคุณเปิดหน้าใน { -brand-product-name } บนอุปกรณ์อื่นครั้งถัดไป ให้นำหน้านั้นเข้ามาไว้ในนี้ได้เลย

firefoxview-collapse-button-show =
    .title = แสดงรายการ

firefoxview-collapse-button-hide =
    .title = ซ่อนรายการ
