# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Cysylltu Dyfais Arall
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Os nad ydych chi wedi gwneud eisoes, gosodwch <a data-l10n-name="connect-another-device"> Firefox ar eich dyfais symudol </a>.

fxa-qrcode-heading-step2 = 2. Agor Firefox ar eich dyfais symudol.

fxa-qrcode-heading-step3 = 3. Agorwch y <b>ddewislen</b> (<img data-l10n-name = "ios-menu-icon" /> neu <img data-l10n-name = "android-menu-icon" />), tapio <img data-l10n-name = "settings-icon" /> <b>Gosodiadau</b> a dewis <b>Cychwyn Sync</b>

fxa-qrcode-heading-step4 = Sganiwch y cod

fxa-pair-device-dialog-sync =
    .style = width: 52em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 52em;

fxa-qrcode-pair-title = Cydweddwch { -brand-product-name } ar eich ffôn neu dabled
fxa-qrcode-pair-step1 = 1. Agorwch { -brand-product-name } ar eich dyfais symudol.

fxa-qrcode-pair-step2 = 2. Agorwch y <strong>ddewislen</strong> (<img data-l10n-name="ios-menu-icon"/> ar iOS neu <img data-l10n-name="android-menu-icon"/> ar Android) a thapiwch <strong>Mewngofnodwch i gydweddu</strong>

fxa-qrcode-pair-step3 = 3. Tapiwch <strong>Barod i Sganio</strong> a daliwch eich ffôn dros y cod hwn

fxa-qrcode-error-title = Paru'n aflwyddiannus.

fxa-qrcode-error-body = Ceisiwch eto
