# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = වසන්න
    .aria-label = වසන්න

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = මේ දැන්

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = පටිති ඇහිඳීම
firefoxview-tabpickup-description = වෙනත් උපාංගවලින් පිටු බලන්න.

firefoxview-tabpickup-recenttabs-description = මෑත පටිති ලේඛනය මෙතැනයි

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% සම්පූර්ණයි

firefoxview-tabpickup-step-signin-header = උපාංග අතර බාධාවකින් තොරව මාරු වන්න
firefoxview-tabpickup-step-signin-description = දුරකථනයේ පටිති මෙතැනට ගැනීමට, ගිණුමක් සාදන්න හෝ පිවිසෙන්න.
firefoxview-tabpickup-step-signin-primarybutton = ඉදිරියට

firefoxview-tabpickup-adddevice-description = දුරකථනය සඳහා { -brand-product-name } බාගත කර පිවිසෙන්න.
firefoxview-tabpickup-adddevice-learn-how = කෙසේදැයි දැනගන්න
firefoxview-tabpickup-adddevice-primarybutton = දුරකථනය සඳහා { -brand-product-name } ගන්න

firefoxview-tabpickup-synctabs-header = පටිති සමමුහූර්තය සබල කරන්න
firefoxview-tabpickup-synctabs-description = { -brand-short-name } සඳහා උපාංග අතර පටිති බෙදාගැනීමට ඉඩදෙන්න.
firefoxview-tabpickup-synctabs-learn-how = කෙසේදැයි දැනගන්න
firefoxview-tabpickup-synctabs-primarybutton = විවෘත පටිති සමමුහූර්තය

firefoxview-tabpickup-fxa-admin-disabled-header = ඔබගේ සංවිධානය සමමුහූර්තය අබල කර ඇත
firefoxview-tabpickup-fxa-admin-disabled-description = ඔබගේ පරිපාලකයා විසින් සමමුහූර්ත කිරීම අබල කර තිබෙන නිසා { -brand-short-name } මගින් උපාංග අතර පටිති සමමුහුර්ත කිරීමට නොහැකිය.

firefoxview-tabpickup-network-offline-header = අන්තර්ජාල සම්බන්ධතාවය පරීක්‍ෂා කරන්න
firefoxview-tabpickup-network-offline-description = ගිනිපවුරක් හෝ ප්‍රතියුක්තයක් භාවිතා කරන්නේ නම්, { -brand-short-name } සඳහා අන්තර්ජාලයට ප්‍රවේශ වීමට අවසර තිබේදැයි බලන්න.
firefoxview-tabpickup-network-offline-primarybutton = යළි උත්සාහය

firefoxview-tabpickup-sync-error-header = සමමුහූර්ත කිරීමේ ගැටළුවක් තිබේ
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } සඳහා දැන් සමමුහූර්ත සේවාව වෙත ළඟා වීමට නොහැකිය. සුළු මොහොතකින් නැවත උත්සාහ කරන්න.
firefoxview-tabpickup-sync-error-primarybutton = යළි උත්සාහය

firefoxview-tabpickup-sync-disconnected-header = ඉදිරියට යාමට සමමුහූර්තය සක්‍රිය කරන්න
firefoxview-tabpickup-sync-disconnected-description = ඔබගේ පටිති ලබා ගැනීමට, { -brand-short-name } හි සමමුහුර්තය සඳහා ඉඩ දිය යුතුය.
firefoxview-tabpickup-sync-disconnected-primarybutton = සැකසුම් තුළ සමමුහූර්තය සක්‍රිය කරන්න

firefoxview-tabpickup-syncing = ඔබගේ පටිති මොහොතකින් සමමුහූර්ත වනු ඇත. රැඳී සිටින්න.

firefoxview-mobile-promo-description = ඔබගේ නවතම ජංගම පටිති බැලීමට, අයිඕඑස් හෝ ඇන්ඩ්‍රොයිඩ් හි { -brand-product-name } වෙත පිවිසෙන්න.
firefoxview-mobile-promo-primarybutton = දුරකථනය සඳහා { -brand-product-name } ගන්න

firefoxview-mobile-confirmation-header = 🎉 යන්න හොඳයි!

firefoxview-closed-tabs-title = මෑතදී වසා දැමූ

firefoxview-closed-tabs-description = මෙම උපාංගයේ වසා දැමූ පිටු නැවත විවෘත කරන්න.

firefoxview-closed-tabs-description2 = මෙම කවුළුවෙහි වසා දැමූ පිටු නැවත විවෘත කරන්න.
firefoxview-closed-tabs-placeholder = <strong>මෑත දී වසා දැමූ පිටු නැත</strong><br/>කිසි විටෙක වසා දැමූ පටිත්තක් අහිමි වේ යැයි බිය නොවන්න. ඔබට එය සැමවිටම මෙතැනින් සොයා ගැනීමට හැකිය.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = අවසන සක්‍රිය

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = නව පටිත්තකින් { $targetURI } අරින්න

firefoxview-try-colorways-button = වර්ණ පරාස ගන්න
firefoxview-no-current-colorway-collection = නව වර්ණ පරාස පැමිණෙමින් තිබේ
firefoxview-change-colorway-button = වර්ණ පරාසය සංශෝධනය

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>තවමත් දැකීමට කිසිවක් නැත</strong><br/> ඊළඟ වතාවේ වෙනත් උපාංගයකින් { -brand-product-name } හරහා පිටුවක් විවෘත කරන විට, එය විජ්ජාවක මෙන් මෙතැනින් ඇහිඳින්න.

firefoxview-collapse-button-show =
    .title = ලේඛනය පෙන්වන්න

firefoxview-collapse-button-hide =
    .title = ලේඛනය සඟවන්න
