# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Ligar outro dispositivo
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Se ainda não o fez, instale o <a data-l10n-name="connect-another-device">Firefox no seu dispositivo móvel</a>.

fxa-qrcode-heading-step2 = 2. Abra o Firefox no seu dispositivo móvel.

fxa-qrcode-heading-step3 = 3. Abra o <b>menu</b> (<img data-l10n-name="ios-menu-icon"/> ou <img data-l10n-name="android-menu-icon"/>), toque em <img data-l10n-name="settings-icon"/> <b>Definições</b> e selecione <b>Ativar sincronização</b>

fxa-qrcode-heading-step4 = 4. Digitalize este código:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Sincronize { -brand-product-name } no seu telemóvel ou tablet
fxa-qrcode-pair-step1 = 1. Abra { -brand-product-name } no seu dispositivo móvel.

fxa-qrcode-pair-step2 = 2. Abra o <strong>menu</strong> (<img data-l10n-name="ios-menu-icon"/> no iOS ou <img data-l10n-name="android-menu-icon"/> no Android) e toque em <strong>Iniciar sessão para sincronizar</strong>

fxa-qrcode-pair-step3 = 3. Toque em <strong>Pronto para digitalizar</strong> e segure seu telemóvel sob este código

fxa-qrcode-error-title = Emparelhamento sem sucesso.

fxa-qrcode-error-body = Tente novamente.
