# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = เชื่อมต่ออุปกรณ์อื่น
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. ติดตั้ง <a data-l10n-name="connect-another-device">Firefox บนอุปกรณ์มือถือของคุณ</a>หากคุณยังไม่ได้ติดตั้ง

fxa-qrcode-heading-step2 = 2. เปิด Firefox บนอุปกรณ์มือถือของคุณ

fxa-qrcode-heading-step3 = 3. เปิด<b>เมนู</b> (<img data-l10n-name="ios-menu-icon"/> หรือ <img data-l10n-name="android-menu-icon"/>) แตะ <img data-l10n-name="settings-icon"/> <b>การตั้งค่า</b> แล้วเลือก <b>เปิด Sync</b>

fxa-qrcode-heading-step4 = 4. สแกนรหัสนี้:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = ซิงค์ { -brand-product-name } บนโทรศัพท์หรือแท็บเล็ตของคุณ
fxa-qrcode-pair-step1 = 1. เปิด { -brand-product-name } บนอุปกรณ์มือถือของคุณ

fxa-qrcode-pair-step2 = 2. เปิด<strong>เมนู</strong> (<img data-l10n-name="ios-menu-icon"/> บน iOS หรือ <img data-l10n-name="android-menu-icon"/> บน Android) แล้วแตะ <strong>ลงชื่อเข้าเพื่อซิงค์</strong>

fxa-qrcode-pair-step3 = 3. แตะ <strong>พร้อมที่จะสแกน</strong> และถือโทรศัพท์ของคุณเหนือโค้ดนี้

fxa-qrcode-error-title = การจับคู่ไม่สำเร็จ

fxa-qrcode-error-body = ลองอีกครั้ง
