# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Başka bir cihaz bağla
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Firefox’u henüz mobil cihazınıza yüklemediyseniz <a data-l10n-name="connect-another-device">şimdi yükleyin</a>.

fxa-qrcode-heading-step2 = 2. Mobil cihazınızda Firefox’u açın.

fxa-qrcode-heading-step3 = <b>Menüyü</b> (<img data-l10n-name="ios-menu-icon"/> veya <img data-l10n-name="android-menu-icon"/>) açın, <b>Ayarlar’a</b> <img data-l10n-name="settings-icon"/> dokunun ve <b>Sync’i aç</b>’ı seçin

fxa-qrcode-heading-step4 = 4. Bu kodu tarayın:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = { -brand-product-name } tarayıcınızı telefonunuz veya tabletinizle eşitleyin
fxa-qrcode-pair-step1 = 1. Mobil cihazınızda { -brand-product-name } uygulamasını açın.

fxa-qrcode-pair-step2 = <strong>Menüyü</strong> (iOS'te <img data-l10n-name="ios-menu-icon"/> veya Android'de <img data-l10n-name="android-menu-icon"/>) açıp <strong>Eşitlemek için giriş yap</strong>'a dokunun

fxa-qrcode-pair-step3 = 3. <strong>Taramaya hazırım</strong>'a dokunup telefonunuza bu kodu okutun

fxa-qrcode-error-title = Eşleştirme başarısız oldu.

fxa-qrcode-error-body = Yeniden deneyin.
