# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Connecter un altere apparato
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Assecura te haber installate <a data-l10n-name="connect-another-device">Firefox sur tu apparato mobile</a>.

fxa-qrcode-heading-step2 = 2. Aperi Firefox sur tu apparato mobile.

fxa-qrcode-heading-step3 = 3. Aperi le <b>menu</b> (<img data-l10n-name="ios-menu-icon"/> o <img data-l10n-name="android-menu-icon"/>), tocca <img data-l10n-name="settings-icon"/> <b>Settings</b> e selige <b>Activar Sync</b>

fxa-qrcode-heading-step4 = 4. Scanna iste codice:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Synchronisa { -brand-product-name } sur tu telephono e tu tabletta
fxa-qrcode-pair-step1 = 1. Aperi { -brand-product-name } sur tu apparato mobile.

fxa-qrcode-pair-step2 = 2. Aperi le <strong>menu</strong> (<img data-l10n-name="ios-menu-icon"/> sur iOS o <img data-l10n-name="android-menu-icon"/> sur Android) e tocca <strong>Acceder pro synchronisar</strong>

fxa-qrcode-pair-step3 = 3. Tocca <strong>Preste a scander</strong> e inquadra iste codice con tu apparato

fxa-qrcode-error-title = Accopulamento sin successo.

fxa-qrcode-error-body = Retentar.
