# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Másik eszköz csatlakoztatása
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Ha még nem tette, telepítse a <a data-l10n-name="connect-another-device">Firefoxot a mobileszközére</a>.

fxa-qrcode-heading-step2 = 2. Nyissa meg a Firefoxot a mobileszközén.

fxa-qrcode-heading-step3 = 3. Nyissa meg a <b>menüt</b> (<img data-l10n-name="ios-menu-icon"/> vagy <img data-l10n-name="android-menu-icon"/>), koppintson a <img data-l10n-name="settings-icon"/> <b>Beállításokra</b> és válassza a <b>Sync bekapcsolását</b>

fxa-qrcode-heading-step4 = 4. Olvassa le ezt a kódot:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Szinkronizálja a telefonján vagy a táblagépén lévő { -brand-product-name(case: "accusative") }
fxa-qrcode-pair-step1 = 1. Nyissa meg a { -brand-product-name(case: "accusative") } a mobileszközén.

fxa-qrcode-pair-step2 = 2. Nyissa meg a <strong>menüt</strong> (<img data-l10n-name="ios-menu-icon"/> iOS-en vagy <img data-l10n-name="android-menu-icon"/> Androidon), és koppintson a <strong>Bejelentkezés a szinkronizáláshoz</strong> elemre

fxa-qrcode-pair-step3 = 3. Koppintson a <strong>Beolvasásra kész</strong> lehetőségre, és tartsa telefonját a kód felé

fxa-qrcode-error-title = A párosítás sikertelen.

fxa-qrcode-error-body = Próbálja újra.
