# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Associar in auter apparat
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Fa la segira dad avair installà <a data-l10n-name="connect-another-device">Firefox sin tes apparat mobil</a>.

fxa-qrcode-heading-step2 = 2. Avra Firefox sin tes apparat mobil.

fxa-qrcode-heading-step3 = 3. Avra il <b>menu</b> (<img data-l10n-name="ios-menu-icon"/> u <img data-l10n-name="android-menu-icon"/>), smatga sin <img data-l10n-name="settings-icon"/> <b>Parameters</b> e tscherna <b>Activar Sync</b>

fxa-qrcode-heading-step4 = 4. Scannescha quest code:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Sincronisescha { -brand-product-name } cun tes telefonin u tablet
fxa-qrcode-pair-step1 = 1. Avra { -brand-product-name } sin tes apparat mobil.

fxa-qrcode-pair-step2 = 2. Avra il <strong>menu</strong> (<img data-l10n-name="ios-menu-icon"/> sin iOS u <img data-l10n-name="android-menu-icon"/> sin Android) e smatga sin <strong>S'annunziar per sincronisar</strong>

fxa-qrcode-pair-step3 = 3. Smatga sin <strong>Pront per scannar</strong> e tegna tes telefonin sur quest code

fxa-qrcode-error-title = Betg reussì dad associar.

fxa-qrcode-error-body = Emprova anc ina giada.
