# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Connect Another Device
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. If you haven’t already, install <a data-l10n-name="connect-another-device">Firefox on your mobile device</a>.

fxa-qrcode-heading-step2 = 2. Open Firefox on your mobile device.

fxa-qrcode-heading-step3 = 3. Open the <b>menu</b> (<img data-l10n-name="ios-menu-icon"/> or <img data-l10n-name="android-menu-icon"/>), tap <img data-l10n-name="settings-icon"/> <b>Settings</b> and select <b>Turn on Sync</b>

fxa-qrcode-heading-step4 = 4. Scan this code:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Sync { -brand-product-name } on your phone or tablet
fxa-qrcode-pair-step1 = 1. Open { -brand-product-name } on your mobile device.

fxa-qrcode-pair-step2 = 2. Open the <strong>menu</strong> (<img data-l10n-name="ios-menu-icon"/> on iOS or <img data-l10n-name="android-menu-icon"/> on Android) and tap <strong>Sign in to sync</strong>

fxa-qrcode-pair-step3 = 3. Tap <strong>Ready to Scan</strong> and hold your phone over this code

fxa-qrcode-error-title = Pairing unsuccessful.

fxa-qrcode-error-body = Try again.
