# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Weiteres Gerät verbinden
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Falls Sie es noch nicht durchgeführt haben, so installieren Sie <a data-l10n-name="connect-another-device">Firefox auf einem Mobilgerät</a>.

fxa-qrcode-heading-step2 = 2. Öffnen Sie Firefox auf Ihrem Mobilgerät.

fxa-qrcode-heading-step3 = 3. Öffnen Sie das <b>Menü</b> (<img data-l10n-name="ios-menu-icon"/> oder <img data-l10n-name="android-menu-icon"/>), tippen Sie auf <img data-l10n-name="settings-icon"/> <b>Einstellungen</b> und wählen Sie <b>Sync aktivieren</b>

fxa-qrcode-heading-step4 = 4. Scannen Sie diesen Code:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Synchronisieren Sie { -brand-product-name } auf Ihrem Telefon oder Tablet
fxa-qrcode-pair-step1 = 1. Öffnen Sie { -brand-product-name } auf Ihrem Mobilgerät.

fxa-qrcode-pair-step2 = 2. Öffnen Sie das <strong>Menü</strong> (<img data-l10n-name="ios-menu-icon"/> auf iOS oder <img data-l10n-name="android-menu-icon"/> auf Android) und tippen Sie auf <strong>Zum Synchronisieren anmelden</strong>

fxa-qrcode-pair-step3 = 3. Tippen Sie auf <strong>Bereit zum Scannen</strong> und halten Sie Ihr Telefon über diesen Code

fxa-qrcode-error-title = Verbinden fehlschlagen

fxa-qrcode-error-body = Erneut versuchen
