# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = А

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = Закрыць
    .aria-label = Закрыць

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Толькі што

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Выбар картак
firefoxview-tabpickup-description = Адкрыць старонкі з іншых прылад.

firefoxview-tabpickup-recenttabs-description = Тут будзе спіс нядаўніх картак

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% завершана

firefoxview-tabpickup-step-signin-header = Лёгка пераключайцеся паміж прыладамі
firefoxview-tabpickup-step-signin-description = Каб атрымаць тут карткі з тэлефона, спачатку ўвайдзіце або стварыце ўліковы запіс.
firefoxview-tabpickup-step-signin-primarybutton = Працягнуць

firefoxview-tabpickup-adddevice-header = Сінхранізуйце { -brand-product-name } на сваім тэлефоне або планшэце
firefoxview-tabpickup-adddevice-description = Сцягніце { -brand-product-name } для мабільнага і ўвайдзіце там.
firefoxview-tabpickup-adddevice-learn-how = Даведацца, як
firefoxview-tabpickup-adddevice-primarybutton = Атрымаць { -brand-product-name } для мабільнага

firefoxview-tabpickup-synctabs-header = Уключыць сінхранізацыю картак
firefoxview-tabpickup-synctabs-description = Дазволіць { -brand-short-name } дзяліцца карткамі паміж прыладамі.
firefoxview-tabpickup-synctabs-learn-how = Даведацца, як
firefoxview-tabpickup-synctabs-primarybutton = Сінхранізаваць адкрытыя карткі

firefoxview-tabpickup-fxa-admin-disabled-header = У ваша арганізацыі сінхранізацыя адключана
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } не можа сінхранізаваць карткі паміж прыладамі, таму што ваш адміністратар адключыў сінхранізацыю.

firefoxview-tabpickup-network-offline-header = Праверце падлучэнне да Інтэрнэту
firefoxview-tabpickup-network-offline-description = Калі вы карыстаецеся фаерволам або проксі, пераканайцеся, што { -brand-short-name } мае дазвол на доступ у сеціва.
firefoxview-tabpickup-network-offline-primarybutton = Паспрабаваць зноў

firefoxview-tabpickup-sync-error-header = У нас узніклі праблемы з сінхранізацыяй
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } зараз не можа падключыцца да службы сінхранізацыі. Паспрабуйце зноў праз хвіліну.
firefoxview-tabpickup-sync-error-primarybutton = Паспрабаваць зноў

firefoxview-tabpickup-sync-disconnected-header = Каб працягнуць, уключыце сінхранізацыю
firefoxview-tabpickup-sync-disconnected-description = Каб забраць свае карткі, вам трэба дазволіць сінхранізацыю ў { -brand-short-name }.
firefoxview-tabpickup-sync-disconnected-primarybutton = Уключыць сінхранізацыю ў наладах

firefoxview-tabpickup-syncing = Пачакайце, пакуль вашы карткі сінхранізуюцца. Гэта толькі на імгненне.

firefoxview-mobile-promo-header = Атрымайце карткі з тэлефона або планшэта
firefoxview-mobile-promo-description = Каб паглядзець свае апошнія мабільныя карткі, увайдзіце ў { -brand-product-name } на iOS або Android.
firefoxview-mobile-promo-primarybutton = Атрымаць { -brand-product-name } для мабільнага

firefoxview-mobile-confirmation-header = 🎉 Усё гатова!
firefoxview-mobile-confirmation-description = Цяпер вы можаце атрымаць свае карткі { -brand-product-name } са свайго планшэта або тэлефона.

firefoxview-closed-tabs-title = Нядаўна закрытыя

firefoxview-closed-tabs-description = Паўторна адкрыць старонкі, якія вы закрылі на гэтай прыладзе.

firefoxview-closed-tabs-description2 = Паўторна адкрыць старонкі, якія вы закрылі ў гэтым акне.
firefoxview-closed-tabs-placeholder = <strong>Няма нядаўна закрытых старонак</strong><br/>Больш ніколі не бойцеся згубіць закрытую картку. Вы заўсёды можаце ўзнавіць яе тут.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Апошняя актыўная

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Адкрыць { $targetURI } у новай картцы

firefoxview-try-colorways-button = Паспрабаваць расфарбоўкі
firefoxview-no-current-colorway-collection = Новыя расфарбоўкі на падыходзе
firefoxview-change-colorway-button = Змяніць расфарбоўку

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>Пакуль няма нічога</strong><br/>Калі ў наступны раз вы адкрыеце старонку ў { -brand-product-name } на іншай прыладзе, яна з'явіцца тут.

firefoxview-collapse-button-show =
    .title = Паказаць спіс

firefoxview-collapse-button-hide =
    .title = Схаваць спіс
