# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = סגירה
    .aria-label = סגירה

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = ממש עכשיו

firefoxview-tabpickup-description = פתיחת דפים ממכשירים אחרים.

firefoxview-tabpickup-recenttabs-description = רשימת הלשוניות האחרונות תופיע כאן

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% הושלמו

firefoxview-tabpickup-step-signin-header = מעבר חלק בין מכשירים
firefoxview-tabpickup-step-signin-description = כדי לקבל כאן את הלשוניות שלך מהטלפון, תחילה יש להיכנס או צור חשבון.
firefoxview-tabpickup-step-signin-primarybutton = המשך

firefoxview-tabpickup-adddevice-header = סנכרון { -brand-product-name } בטלפון או במחשב לוח שלך
firefoxview-tabpickup-adddevice-description = יש להוריד את { -brand-product-name } לנייד ולהתחבר שם.
firefoxview-tabpickup-adddevice-learn-how = מידע נוסף
firefoxview-tabpickup-adddevice-primarybutton = קבלת { -brand-product-name } לנייד

firefoxview-tabpickup-synctabs-header = הפעלת סנכרון לשוניות
firefoxview-tabpickup-synctabs-description = יש לאפשר ל־{ -brand-short-name } לשתף לשוניות בין מכשירים.
firefoxview-tabpickup-synctabs-learn-how = מידע נוסף
firefoxview-tabpickup-synctabs-primarybutton = סנכרון לשוניות פתוחות

firefoxview-tabpickup-fxa-admin-disabled-header = הארגון שלך השבית את הסנכרון
firefoxview-tabpickup-fxa-admin-disabled-description = אין באפשרות { -brand-short-name } לסנכרן לשוניות בין מכשירים מכיוון שמנהל המערכת שלך השבית את האפשרות לסנכרון.

firefoxview-tabpickup-network-offline-header = יש לבדוק את חיבור האינטרנט שלך
firefoxview-tabpickup-network-offline-description = אם המחשב שלך משתמש בחומת אש או מתווך, יש לבדוק של־{ -brand-short-name } יש הרשאה לגשת לרשת.
firefoxview-tabpickup-network-offline-primarybutton = ניסיון חוזר

firefoxview-tabpickup-sync-error-header = אנו נתקלים בבעיות בסנכרון
firefoxview-tabpickup-generic-sync-error-description = ‏{ -brand-short-name } לא יכול להגיע לשירות הסנכרון כרגע. נא לנסות שוב בעוד מספר רגעים.
firefoxview-tabpickup-sync-error-primarybutton = ניסיון חוזר

firefoxview-tabpickup-sync-disconnected-header = יש להפעיל סנכרון כדי להמשיך
firefoxview-tabpickup-sync-disconnected-description = כדי לקבל את הלשוניות שלך, יהיה עליך לאפשר סנכרון ב־{ -brand-short-name }.
firefoxview-tabpickup-sync-disconnected-primarybutton = הפעלת סנכרון בהגדרות

firefoxview-tabpickup-syncing = נא להמתין בזמן שהלשוניות שלך מסתנכרנות. זה יקח ממש רגע.

firefoxview-mobile-promo-header = קבלת לשוניות מהטלפון או למחשב הלוח שלך
firefoxview-mobile-promo-description = כדי לצפות בלשוניות האחרונות שלך מהנייד, יש להתחבר ל־{ -brand-product-name } ב־iOS או ב־Android.
firefoxview-mobile-promo-primarybutton = קבלת { -brand-product-name } לנייד

firefoxview-mobile-confirmation-description = כעת באפשרותך לקבל את הלשוניות שלך ב־{ -brand-product-name } ממחשב הלוח או הטלפון שלך.

firefoxview-closed-tabs-title = לשוניות שנסגרו לאחרונה

firefoxview-closed-tabs-description = פתיחה מחדש דפים שנסגרו במכשיר זה.

firefoxview-closed-tabs-description2 = פתיחה מחדש דפים שנסגרו בחלון זה.
firefoxview-closed-tabs-placeholder = <strong>אין דפים שנסגרו לאחרונה</strong><br/>לא צריך יותר לפחד לאבד לשונית שנסגרה. תמיד יהיה ניתן לקבל אותה כאן.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = הלשונית הפעילה האחרונה

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = פתיחת { $targetURI } בלשונית חדשה

firefoxview-try-colorways-button = לנסות ערכות צבעים
firefoxview-no-current-colorway-collection = ערכות צבעים חדשות בדרך אליך
firefoxview-change-colorway-button = שינוי ערכת צבעים

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>אין עדיין מה לראות</strong><br/>בפעם הבאה שדף ייפתח ב־{ -brand-product-name } במכשיר אחר, ניתן יהיה לקבל אותו כאן כמו קסם.

firefoxview-collapse-button-show =
    .title = הצגת רשימה

firefoxview-collapse-button-hide =
    .title = הסתרת רשימה
