# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = Stäng
    .aria-label = Stäng

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Nu

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Synkroniserade flikar
firefoxview-tabpickup-description = Öppna sidor från andra enheter.

firefoxview-tabpickup-recenttabs-description = De senaste flikarna kommer att visas här

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% klar

firefoxview-tabpickup-step-signin-header = Växla enkelt mellan enheter
firefoxview-tabpickup-step-signin-description = För att se de öppna flikarna på din telefon, logga in eller skapa ett konto.
firefoxview-tabpickup-step-signin-primarybutton = Fortsätt

firefoxview-tabpickup-adddevice-header = Synkronisera { -brand-product-name } på din telefon eller surfplatta
firefoxview-tabpickup-adddevice-description = Ladda ner { -brand-product-name } för mobil och logga in där.
firefoxview-tabpickup-adddevice-learn-how = Läs mer
firefoxview-tabpickup-adddevice-primarybutton = Hämta { -brand-product-name } för mobil

firefoxview-tabpickup-synctabs-header = Aktivera synkronisering av flikar
firefoxview-tabpickup-synctabs-description = Tillåt { -brand-short-name } att dela flikar mellan enheter.
firefoxview-tabpickup-synctabs-learn-how = Läs mer
firefoxview-tabpickup-synctabs-primarybutton = Synkronisera öppna flikar

firefoxview-tabpickup-fxa-admin-disabled-header = Din organisation har inaktiverat synkronisering
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } kan inte synkronisera flikar mellan enheter eftersom din administratör har inaktiverat synkronisering.

firefoxview-tabpickup-network-offline-header = Kontrollera din internetanslutning
firefoxview-tabpickup-network-offline-description = Om du använder en brandvägg eller proxy, kontrollera att { -brand-short-name } har behörighet att komma åt webben.
firefoxview-tabpickup-network-offline-primarybutton = Försök igen

firefoxview-tabpickup-sync-error-header = Vi har problem med att synkronisera
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } kan inte nå synkroniseringstjänsten just nu. Försök igen lite senare.
firefoxview-tabpickup-sync-error-primarybutton = Försök igen

firefoxview-tabpickup-sync-disconnected-header = Aktivera synkronisering för att fortsätta
firefoxview-tabpickup-sync-disconnected-description = För att komma åt dina flikar måste du aktivera synkronisering i { -brand-short-name }.
firefoxview-tabpickup-sync-disconnected-primarybutton = Aktivera synkronisering i inställningarna

firefoxview-tabpickup-syncing = Vi synkroniserar dina flikar, det tar bara ett ögonblick.

firefoxview-mobile-promo-header = Öppna flikar från din telefon eller surfplatta
firefoxview-mobile-promo-description = För att se dina senaste mobilflikar, logga in på { -brand-product-name } på iOS eller Android.
firefoxview-mobile-promo-primarybutton = Hämta { -brand-product-name } för mobil

firefoxview-mobile-confirmation-header = 🎉 Klar att användas!
firefoxview-mobile-confirmation-description = Nu kan du hämta flikarna från { -brand-product-name } till din surfplatta eller telefon.

firefoxview-closed-tabs-title = Nyligen stängda

firefoxview-closed-tabs-description = Öppna sidor du har stängt på den här enheten igen.

firefoxview-closed-tabs-description2 = Öppna åter sidor du har stängt i det här fönstret.
firefoxview-closed-tabs-placeholder = <strong>Inga nyligen stängda sidor</strong><br/>Var aldrig rädd att förlora en stängd flik igen. Du kan alltid hämta den här.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Senast aktiv

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Öppna { $targetURI } i en ny flik

firefoxview-try-colorways-button = Testa colorways
firefoxview-no-current-colorway-collection = Nya färger är på väg
firefoxview-change-colorway-button = Ändra colorway

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>Inget att se ännu</strong><br/>Nästa gång du öppnar en sida i { -brand-product-name } på en annan enhet, kommer du magiskt åt den här.

firefoxview-collapse-button-show =
    .title = Visa lista

firefoxview-collapse-button-hide =
    .title = Dölj lista
