# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = ਪ੍ਰਾਈਵੇਟ ਵਿੰਡੋ ਨੂੰ ਖੋਲ੍ਹੋ
    .accesskey = P
about-private-browsing-search-placeholder = ਵੈੱਬ ‘ਤੇ ਲੱਭੋ
about-private-browsing-info-title = ਤੁਸੀਂ ਪ੍ਰਾਈਵੇਟ ਵਿੰਡੋ ‘ਚ ਹੋ
about-private-browsing-search-btn =
    .title = ਵੈੱਬ ‘ਤੇ ਖੋਜੋ
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = { $engine } ਨਾਲ ਖੋਜ ਜਾਂ ਸਿਰਨਾਵਾਂ ਦਿਓ
about-private-browsing-handoff-no-engine =
    .title = ਖੋਜੋ ਜਾਂ ਸਿਰਨਾਵਾਂ ਦਿਓ
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = { $engine } ਨਾਲ ਖੋਜ ਜਾਂ ਸਿਰਨਾਵਾਂ ਦਿਓ
about-private-browsing-handoff-text-no-engine = ਖੋਜੋ ਜਾਂ ਸਿਰਨਾਵਾਂ ਦਿਓ
about-private-browsing-not-private = ਇਸ ਸਮੇਂ ਤੁਸੀਂ ਪ੍ਰਾਈਵੇਟ ਵਿੰਡੋ ਨੂੰ ਨਹੀਂ ਵਰਤ ਰਹੇ ਹੋ।
about-private-browsing-info-description-private-window = ਪ੍ਰਾਈਵੇਟ ਵਿੰਡੋ: ਜਦੋਂ ਤੁਸੀਂ ਸਾਰੀਆਂ ਪ੍ਰਾਈਵੇਟ ਵਿੰਡੋਆਂ ਨੂੰ ਬੰਦ ਕਰ ਦਿੰਦੇ ਹੋ ਤਾਂ { -brand-short-name } ਤੁਹਾਡੀ ਖੋਜ ਅਤੇ ਬਰਾਊਜ਼ ਕਰਨ ਦੇ ਅਤੀਤ ਨੂੰ ਮਿਟਾ ਦਿੰਦਾ ਹੈ, ਪਰ ਇਹ ਤੁਹਾਨੂੰ ਅਣਪਛਾਤਾ ਨਹੀਂ ਬਣਾਉਂਦਾ ਹੈ।
about-private-browsing-info-description-simplified = ਜਦੋਂ ਤੁਸੀਂ ਸਾਰੀਆਂ ਪ੍ਰਾਈਵੇਟ ਵਿੰਡੋਆਂ ਨੂੰ ਬੰਦ ਕਰ ਦਿੰਦੇ ਹੋ ਤਾਂ { -brand-short-name } ਤੁਹਾਡੀ ਖੋਜ ਅਤੇ ਬਰਾਊਜ਼ ਕਰਨ ਦੇ ਅਤੀਤ ਨੂੰ ਮਿਟਾ ਦਿੰਦਾ ਹੈ, ਪਰ ਇਹ ਤੁਹਾਨੂੰ ਅਣਪਛਾਤਾ ਨਹੀਂ ਬਣਾਉਂਦਾ ਹੈ।
about-private-browsing-learn-more-link = ਹੋਰ ਜਾਣੋ

about-private-browsing-hide-activity = ਆਪਣੀ ਸਰਗਰਮੀ ਤੇ ਟਿਕਾਣੇ ਨੂੰ ਲੁਕਾਓ, ਜਿੱਥੇ ਵੀ ਤੁਸੀੰ ਬਰਾਊਜ਼ ਕਰੋ
about-private-browsing-get-privacy = ਜਦੋਂ ਵੀ ਤੁਸੀਂ ਬਰਾਊਜ਼ ਕਰੋ ਤਾਂ ਪਰਦੇਦਾਰੀ ਸੁਰੱਖਿਆ ਹਾਸਲ ਕਰੋ
about-private-browsing-hide-activity-1 = { -mozilla-vpn-brand-name } ਨਾਲ ਬਰਾਊਜ਼ ਕਰਨ ਦੀ ਸਰਗਰਮੀ ਅਤੇ ਟਿਕਾਣੇ ਨੂੰ ਲੁਕਾਓ। ਇੱਕ ਕਲਿੱਕ ਰਕੇ ਸੁਰੱਖਿਅਤ ਕਨੈਕਸ਼ਨ ਬਣਾਓ, ਪਬਲਿਕ ਵਾਈ-ਫਾਈ ਵਰਤਣ ਦੌਰਾਨ ਵੀ।
about-private-browsing-prominent-cta = { -mozilla-vpn-brand-name } ਨਾਲ ਪ੍ਰਾਈਵੇਟ ਕਰੋ

about-private-browsing-focus-promo-cta = { -focus-brand-name } ਡਾਊਨਲੋਡ ਕਰੋ
about-private-browsing-focus-promo-header = { -focus-brand-name }: ਪ੍ਰਾਈਵੇਟ ਬਰਾਊਜ਼ਿੰਗ ਤੁਹਾਡੇ ਨਾਲ ਨਾਲ
about-private-browsing-focus-promo-text = ਸਾਡੀ ਸਮਰਪਿਤ ਪ੍ਰਾਈਵੇਟ ਬਰਾਊਜ਼ਿੰਗ ਮੋਬਾਈਲ ਐਪ ਹਰ ਵਾਰ ਤੁਹਾਡੇ ਅਤੀਤ ਅਟੇ ਕੂਕੀਜ਼ ਨੂੰ ਮਿਟਾ ਦਿੰਦੀ ਹੈ।

## The following strings will be used for experiments in Fx99 and Fx100

about-private-browsing-focus-promo-header-b = ਪ੍ਰਾਈਵੇਟ ਬਰਾਊਜ਼ਿੰਗ ਨੂੰ ਆਪਣੇ ਫ਼ੋਨ ਉੱਤੇ ਨਾਲ ਰੱਖੋ
about-private-browsing-focus-promo-text-b = ਉਹ ਪ੍ਰਾਈਵੇਟ ਖੋਜਾਂ, ਜੋ ਕਿ ਤੁਸੀਂ ਚਾਹੁੰਦੇ ਹੋ ਕਿ ਤੁਹਾਡੇ ਮੁੱਖ ਮੋਬਾਈਲ ਬਰਾਊਜ਼ਰ ਨੂੰ ਪਤਾ ਨਾ ਲੱਗਣ, ਲਈ { -focus-brand-name } ਵਰਤੋਂ।
about-private-browsing-focus-promo-header-c = ਮੋਬਾਈਲ ਉੱਤੇ ਅਗਲੇ ਪੜਾਅ ਦੀ ਪਰਦੇਦਾਰੀ
about-private-browsing-focus-promo-text-c = { -focus-brand-name } ਤੁਹਾਡੇ ਅਤੀਤ ਨੂੰ ਹਰ ਵਾਰ ਮਿਟਾਉਣ ਦੇ ਨਾਲ ਨਾਲ ਇਸ਼ਤਿਹਾਰਾਂ ਤੇ ਟਰੈਕਰਾਂ ਉੱਤੇ ਪਾਬੰਦੀ ਲਾਉਂਦਾ ਹੈ।

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } ਪ੍ਰਾਈਵੇਟ ਵਿੰਡੋਆਂ ਵਿੱਚ ਤੁਹਾਡਾ ਮੂਲ ਖੋਜ ਇੰਜਣ ਹੈ
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] ਵੱਖਰਾ ਖੋਜ ਇੰਜਣ ਵਿੱਚ ਜਾਣ ਲਈ <a data-l10n-name="link-options">ਚੋਣਾਂ</a> ਉੱਤੇ ਜਾਓ
       *[other] ਵੱਖਰਾ ਖੋਜ ਇੰਜਣ ਵਿੱਚ ਜਾਣ ਲਈ <a data-l10n-name="link-options">ਮੇਰੀ ਪਸੰਦ</a> ਉੱਤੇ ਜਾਓ
    }
about-private-browsing-search-banner-close-button =
    .aria-label = ਬੰਦ ਕਰੋ

about-private-browsing-promo-close-button =
    .title = ਬੰਦ ਕਰੋ

## Strings used in a “pin promotion” message, which prompts users to pin a private window

about-private-browsing-pin-promo-header = ਇੱਕ ਕਲਿੱਕ ਨਾਲ ਪ੍ਰਾਈਵੇਟ ਬਰਾਊਜ਼ ਕਰਨ ਦੀ ਖੁੱਲ੍ਹ
about-private-browsing-pin-promo-link-text =
    { PLATFORM() ->
        [macos] ਡੌਕ ਵਿੱਚ ਰੱਖੋ
       *[other] ਟਾਸਕ-ਬਾਰ ਵਿੱਚ ਟੰਗੋ
    }
about-private-browsing-pin-promo-title = ਕੋਈ ਵੀ ਸੰਭਾਲੇ ਕੂਕੀਜ਼ ਜਾਂ ਅਤੀਤ ਨਹੀਂ, ਸਿੱਧੇ ਤੁਹਾਡੇ ਡੈਸਕਟਾਪ ਤੋਂ। ਬਰਾਊਜ਼ ਇੰਞ ਕਰੋ ਕਿ ਕੋਈ ਨਿਗਰਾਨੀ ਨਹੀਂ ਕਰਦਾ।
