# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = ਬੰਦ ਕਰੋ
    .aria-label = ਬੰਦ ਕਰੋ

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = ਹੁਣੇ ਹੁਣੇ

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = ਟੈਬ ਚੋਣ
firefoxview-tabpickup-description = ਹੋਰ ਡਿਵਾਈਸਾਂ ਤੋਂ ਸਫ਼ੇ ਖੋਲ੍ਹੋ।

firefoxview-tabpickup-recenttabs-description = ਸੱਜਰੀਆਂ ਟੈਬਾਂ ਦੀ ਸੂਚੀ ਇੱਥੇ ਹੋਵੇਗੀ

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% ਪੂਰਾ

firefoxview-tabpickup-step-signin-header = ਡਿਵਾਈਸ ਵਿਚਾਲੇ ਸਹਿਜ ਨਾਲ ਬਦਲੋ
firefoxview-tabpickup-step-signin-description = ਤੁਹਾਡੇ ਫ਼ੋਨ ਦੀਆਂ ਟੈਬਾਂ ਵੇਖਣ ਲਈ, ਪਹਿਲਾਂ ਸਾਈਨ ਇਨ ਕਰੋ ਜਾਂ ਖਾਤਾ ਬਣਾਓ।
firefoxview-tabpickup-step-signin-primarybutton = ਜਾਰੀ ਰੱਖੋ

firefoxview-tabpickup-adddevice-header = { -brand-product-name } ਨੂੰ ਆਪਣੇ ਫ਼ੋਨ ਜਾਂ ਟੇਬਲੇਟ ਨਾਲ ਸਿੰਕ ਕਰੋ
firefoxview-tabpickup-adddevice-description = ਮੋਬਾਈਲ ਲਈ { -brand-product-name } ਡਾਊਨਲੋਡ ਕਰੋ ਤੇ ਸਾਈਨ ਇਨ ਕਰੋ।
firefoxview-tabpickup-adddevice-learn-how = ਸਿੱਖੋ ਕਿ ਕਿਵੇਂ
firefoxview-tabpickup-adddevice-primarybutton = ਮੋਬਾਈਲ ਲਈ { -brand-product-name } ਲਵੋ

firefoxview-tabpickup-synctabs-header = ਟੈਬਾਂ ਨੂੰ ਸਿੰਕ ਕਰਨ ਦੀ ਚੋਣ ਕਰੋ
firefoxview-tabpickup-synctabs-description = { -brand-short-name } ਨੂੰ ਡਿਵਾਈਸਾਂ ਵਿਚਾਲੇ ਟੈਬਾਂ ਸਾਂਝੀਆਂ ਕਰਨ ਦੀ ਇਜਾਜ਼ਤ ਦਿਓ।
firefoxview-tabpickup-synctabs-learn-how = ਸਿੱਖੋ ਕਿ ਕਿਵੇਂ
firefoxview-tabpickup-synctabs-primarybutton = ਖੁੱਲ੍ਹੀਆਂ ਟੈਬਾਂ ਸਿੰਕ ਕਰੋ

firefoxview-tabpickup-fxa-admin-disabled-header = ਤੁਹਾਡੇ ਸੰਗਠਨ ਨੇ ਲਿੰਕ ਨੂੰ ਅਸਮਰੱਥ ਕੀਤਾ ਹੈ
firefoxview-tabpickup-fxa-admin-disabled-description = ਤੁਹਾਡੇ ਪਰਸ਼ਾਸ਼ਕ ਵਲੋਂ ਸਿੰਕ ਕਰਨ ਨੂੰ ਅਸਮਰੱਥ ਕੀਤਾ ਹੋਇਆ ਹੋਣ ਕਰਕੇ { -brand-short-name } ਟੈਬਾਂ ਡਿਵਾਈਸਾਂ ਵਿਚਾਲੇ ਸਿੰਕ ਕਰਨ ਦੇ ਸਮਰੱਥ ਨਹੀਂ ਹੈ।

firefoxview-tabpickup-network-offline-header = ਆਪਣੇ ਇੰਟਰਨੈੱਟ ਦੀ ਜਾਂਚ ਕਰੋ
firefoxview-tabpickup-network-offline-description = ਜੇ ਤੁਸੀਂ ਫਾਇਰਵਾਲ ਜਾਂ ਪਰਾਕਸੀ ਵਰਤ ਰਹੇ ਹੋ ਤਾਂ ਜਾਂਚ ਕਰੋ ਕਿ ਕੀ { -brand-short-name } ਨੂੰ ਵੈੱਬ ਵਰਤਣ ਦੀ ਇਜਾਜ਼ਤ ਹੈ।
firefoxview-tabpickup-network-offline-primarybutton = ਫੇਰ ਕੋਸ਼ਿਸ਼ ਕਰੋ

firefoxview-tabpickup-sync-error-header = ਸਾਨੂੰ ਸਿੰਕ ਕਰਨ ਦੌਰਾਨ ਸਮੱਸਿਆ ਹੈ
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } ਇਸ ਵੇਲੇ ਸਿੰਕ ਸੇਵਾ ਨਾਲ ਸੰਪਰਕ ਨਹੀਂ ਕਰ ਸਕਦਾ ਹੈ। ਕੁਝ ਪਲ਼ਾਂ ਵਿੱਚ ਫੇਰ ਕੋਸ਼ਿਸ ਕਰੋ।
firefoxview-tabpickup-sync-error-primarybutton = ਫੇਰ ਕੋਸ਼ਿਸ਼ ਕਰੋ

firefoxview-tabpickup-sync-disconnected-header = ਜਾਰੀ ਰੱਖਣ ਲਈ ਸਿੰਕ ਕਰਨਾ ਚਾਲੂ ਕਰੋ
firefoxview-tabpickup-sync-disconnected-description = ਆਪਣੀਆਂ ਟੈਬਾਂ ਲੈਣ ਲਈ ਤੁਹਾਨੂੰ { -brand-short-name } ਵਿੱਚ ਸਿੰਕ ਕਰਨ ਦੀ ਇਜਾਜ਼ਤ ਦੇਣੀ ਹੋਵੇਗੀ।
firefoxview-tabpickup-sync-disconnected-primarybutton = ਸੈਟਿੰਗਾਂ ਵਿੱਚ ਸਿੰਕ ਨੂੰ ਚਾਲੂ ਕਰੋ

firefoxview-tabpickup-syncing = ਤੁਹਾਡੀਆਂ ਟੈਬਾਂ ਸਿੰਕ ਕੀਤੇ ਜਾਣ ਦੌਰਾਨ ਉਡੀਕੋ। ਇਸ ਨੂੰ ਸਿਰਫ਼ ਪਲ਼ ਕੁ ਲੱਗੇਗਾ।

firefoxview-mobile-promo-header = ਆਪਣੇ ਫ਼ੋਨ ਜਾਂ ਟੇਬਲੇਟ ਤੋਂ ਟੈਬਾਂ ਲਵੋ
firefoxview-mobile-promo-description = ਆਪਣੀਆਂ ਸੱਜੀਆਂ ਮੋਬਾਈਲ ਟੈਬਾਂ ਵੇਖਣ ਲਈ, iOS ਜਾਂ Android ਉੱਤੇ { -brand-product-name } ਵਿੱਚ ਸਾਈਨ ਇਨ ਕਰੋ।
firefoxview-mobile-promo-primarybutton = ਮੋਬਾਈਲ ਲਈ { -brand-product-name } ਲਵੋ

firefoxview-mobile-confirmation-header = 🎉 ਸਭ ਤਿਆਰ ਹੈ!
firefoxview-mobile-confirmation-description = ਹੁਣ ਤੁਸੀਂ ਟੈਬਲੇਟ ਜਾਂ ਫ਼ੋਨ ਤੋਂ ਆਪਣੇ { -brand-product-name } ਟੈਬਾਂ ਪ੍ਰਾਪਤ ਕਰ ਸਕਦੇ ਹੋ।

firefoxview-closed-tabs-title = ਸੱਜਰੀਆਂ ਬੰਦ ਕੀਤੀਆਂ

firefoxview-closed-tabs-description = ਤੁਹਾਡੇ ਵਲੋਂ ਇਸ ਡਿਵਾਈਸ ਉੱਤੇ ਬੰਦ ਕੀਤੇ ਸਫ਼ਿਆਂ ਨੂੰ ਮੁੜ-ਖੋਲ੍ਹੋ।

firefoxview-closed-tabs-description2 = ਇਸ ਵਿੰਡੋ ਵਿੱਚ ਤੁਹਾਡੇ ਵਲੋਂ ਬੰਦ ਕੀਤੇ ਸਫ਼ਿਆਂ ਨੂੰ ਮੁੜ-ਖੋਲ੍ਹੋ।
firefoxview-closed-tabs-placeholder = <strong>ਕੋਈ ਵੀ ਸੱਜਰੇ ਬੰਦ ਕੀਤੇ ਸਫ਼ੇ ਨਹੀਂ</strong><br/>ਕੋਈ ਵੀ ਬੰਦ ਕੀਤੀ ਟੈਬ ਭੁੱਲ ਜਾਣ ਤੋਂ ਨਾ ਡਰੋ। ਇੱਥੋਂ ਇਸ ਨੂੰ ਕਦੇ ਵੀ ਬਹਾਲ ਕਰ ਸਕਦੇ ਹੋ।

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = ਆਖਰੀ ਸਰਗਰਮੀ

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = { $targetURI } ਨਵੀਂ ਟੈਬ ਵਿੱਚ ਖੋਲ੍ਹੋ

firefoxview-try-colorways-button = ਰੰਗ-ਢੰਗ ਵਰਤ ਕੇ ਵੇਖੋ
firefoxview-no-current-colorway-collection = ਨਵਾਂ ਰੰਗ-ਢੰਗ ਆ ਰਿਹਾ ਹੈ
firefoxview-change-colorway-button = ਰੰਗ-ਢੰਗ ਬਦਲੋ

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>ਹਾਲੇ ਕੁਝ ਵੀ ਨਹੀਂ ਹੈ</strong><br/>ਜਦੋਂ ਤੁਸੀਂ ਹੋਰ ਡਿਵਾਈਸ ਉੱਤੇ { -brand-product-name } ਵਿੱਚ ਸਫ਼ੇ ਨੂੰ ਖੋਲ੍ਹਦੇ ਹੋ ਤਾਂ ਉਸ ਨੂੰ ਪ੍ਰਾਪਤ ਕਰੋ।

firefoxview-collapse-button-show =
    .title = ਸੂਚੀ ਵੇਖਾਓ

firefoxview-collapse-button-hide =
    .title = ਸੂਚੀ ਲੁਕਾਓ
