# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Om { -brand-full-name }

releaseNotes-link = Kva er nytt

update-checkForUpdatesButton =
    .label = Sjå etter oppdateringar
    .accesskey = S

update-updateButton =
    .label = Start på nytt for å oppdatere { -brand-shorter-name }
    .accesskey = S

update-checkingForUpdates = Ser etter oppdateringar…
update-downloading = <img data-l10n-name="icon"/>Lastar ned oppdatering — <label data-l10n-name="download-status"/>
update-downloading-message = Lastar ned oppdatering — <label data-l10n-name="download-status"/>
update-applying = Installerer oppdatering…

update-failed = Mislykka oppdatering. <label data-l10n-name="failed-link">Last ned den nyaste versjonen</label>
update-failed-main = Mislykka oppdatering. <a data-l10n-name="failed-link-main">Last ned den nyaste versjonen</a>

update-adminDisabled = Oppdateringar er avslått av systemansvarleg
update-noUpdatesFound = { -brand-short-name } er oppdatert
update-otherInstanceHandlingUpdates = { -brand-short-name } vert oppdatert av ein annan instans

update-manual = Oppdateringar er tilgjengelege på <label data-l10n-name="manual-link"/>

update-unsupported = Du kan ikkje utføre fleire oppdateringar på dette systemet. <label data-l10n-name="unsupported-link">Les meir</label>

update-restarting = Startar på nytt...

update-internal-error = Klarte ikkje å sjå etter oppdateringar på grunn av intern feil. Oppdateringar tilgjengelege på <label data-l10n-name="manual-link"/>

channel-description = Du brukar no oppdateringskanalen <label data-l10n-name="current-channel"></label>

warningDesc-version = { -brand-short-name } er eksperimentell, og kan vere ustabil.

aboutdialog-help-user = { -brand-product-name }-hjelp
aboutdialog-submit-feedback = Send inn tilbakemelding

community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> er eit <label data-l10n-name="community-exp-creditsLink">globalt samfunn</label> som jobbar saman for å halde nettet ope, allment og tilgjengeleg for alle.

community-2 = { -brand-short-name } er utvikla av <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, eit <label data-l10n-name="community-creditsLink">globalt samfunn</label> som arbeider saman for å halde nettet ope, allment, og tilgjengeleg for alle.

helpus = Vil du hjelpe til? <label data-l10n-name="helpus-donateLink">Gje ei pengegåve</label> eller <label data-l10n-name="helpus-getInvolvedLink">ver med!</label>

bottomLinks-license = Lisensinfo
bottomLinks-rights = Rettar for sluttbrukarar
bottomLinks-privacy = Personvernpraksis

# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits }-bitar)

# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate }) ({ $bits }-bit)
