# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }
menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F
firefoxview-page-title = { -firefoxview-brand-name }
firefoxview-close-button =
    .title = Lat att
    .aria-label = Lat att
# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Akkurat no
# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Synkroniserte faner
firefoxview-tabpickup-description = Opne sider frå andre einingar.
firefoxview-tabpickup-recenttabs-description = Lista over siste faner vil visast her
# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue } % fullført
firefoxview-tabpickup-step-signin-header = Byt enkelt mellom einingar
firefoxview-tabpickup-step-signin-description = For å hente telefonfanene dine hit, loggar du først inn eller opprettar ein konto.
firefoxview-tabpickup-step-signin-primarybutton = Hald fram
firefoxview-tabpickup-adddevice-header = Synkroniser { -brand-product-name } på telefonen eller nettbrettet ditt
firefoxview-tabpickup-adddevice-description = Last ned { -brand-product-name } for mobil og logg inn der.
firefoxview-tabpickup-adddevice-learn-how = Les korleis
firefoxview-tabpickup-adddevice-primarybutton = Få { -brand-product-name } for mobil
firefoxview-tabpickup-synctabs-header = Slå på fanesynkronisering
firefoxview-tabpickup-synctabs-description = Tillat { -brand-short-name } å dele faner mellom einingar.
firefoxview-tabpickup-synctabs-learn-how = Les korleis
firefoxview-tabpickup-synctabs-primarybutton = Synkroniser opne faner
firefoxview-tabpickup-fxa-admin-disabled-header = Organisasjonen din har deaktivert synkronisering
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } kan ikkje synkronisere faner mellom einingar fordi administratoren din har deaktivert synkronisering.
firefoxview-tabpickup-network-offline-header = Sjekk internettilkoplinga di
firefoxview-tabpickup-network-offline-description = Dersom du brukar ein brannmur eller proxy, sjekk at { -brand-short-name } har tilgangsløyve til nettet.
firefoxview-tabpickup-network-offline-primarybutton = Prøv igjen
firefoxview-tabpickup-sync-error-header = Vi har problem med å synkronisere
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } kan ikkje nå synkroniseringstenesta akkurat no. Prøv igjen litt seinare.
firefoxview-tabpickup-sync-error-primarybutton = Prøv igjen
firefoxview-tabpickup-sync-disconnected-header = Slå på synkronisering for å halde fram
firefoxview-tabpickup-sync-disconnected-description = For å få tilgang til fanene dine må du aktivere synkronisering i { -brand-short-name }.
firefoxview-tabpickup-sync-disconnected-primarybutton = Slå på synkronisering i innstillingane
firefoxview-tabpickup-syncing = Vi synkroniserer fanene dine, det tek berre ein augneblink.
firefoxview-mobile-promo-header = Opne faner frå telefonen eller nettbrettet
firefoxview-mobile-promo-description = For å sjå dei siste mobilfanene dine, logg på { -brand-product-name } på iOS eller Android.
firefoxview-mobile-promo-primarybutton = Få { -brand-product-name } for mobil
firefoxview-mobile-confirmation-header = 🎉 Alt klart!
firefoxview-mobile-confirmation-description = No kan du hente { -brand-product-name }-fanene frå nettbrettet eller telefonen.
firefoxview-closed-tabs-title = Nyleg attlatne
firefoxview-closed-tabs-description = Opne sider du har late att, på denne eininga, på nytt.
firefoxview-closed-tabs-description2 = Opne på nytt sider du har late att i dette vindauget.
firefoxview-closed-tabs-placeholder = <strong>Ingen nylege attlatne sider</strong><br/>Frykt ikkje å miste ei attlaten fane igjen. Du kan alltids hente henne her.
# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Sist aktiv
# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Opne { $targetURI } i ei ny fane
firefoxview-try-colorways-button = Prøv fargesamansetjingar
firefoxview-no-current-colorway-collection = Nye fargesamansetjingar er på veg
firefoxview-change-colorway-button = Endre fargesamansetjing
# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }
firefoxview-synced-tabs-placeholder = <strong>Ingenting å sjå enno</strong><br/>Neste gong du opnar ei side i { -brand-product-name } på ei anna eining, får du på magisk vis tilgang til henne her.
firefoxview-collapse-button-show =
    .title = Vis liste
firefoxview-collapse-button-hide =
    .title = Skjul liste
