# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = Ne saber mai

accessibility-text-label-header = Noms e etiquetas a format tèxt

accessibility-keyboard-header = Clavièr

## Text entries that are used as text alternative for icons that depict accessibility isses.

## Text entries that are used as text alternative for icons that depict accessibility issues.

accessibility-warning =
    .alt = Avertiment

accessibility-fail =
    .alt = Error

accessibility-best-practices =
    .alt = Bons biaisses

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = Utilizatz l’atribut <code>alt</code> per etiquetar los elements <div>area</div> qu’an l’atribut <span>href</span>. <a>Ne saber mai</a>

accessibility-text-label-issue-dialog = Los dialògs devon aver una etiqueta. <a>Ne saber mai</a>

accessibility-text-label-issue-document-title = Los documents devon aver un element <code>title</code>. <a>Ne saber mai</a>

accessibility-text-label-issue-embed = Lo contengut integrat deu aver una etiqueta. <a>Ne saber mai</a>

accessibility-text-label-issue-figure = Las illustracions amb una legenda facultativa devon aver una etiqueta. <a>Ne saber mai</a>

accessibility-text-label-issue-fieldset = Los elements <code>fieldset</code> devon aver una etiqueta. <a>Ne saber mai</a>

accessibility-text-label-issue-fieldset-legend2 = Utilizatz un element <code>legend</code> per etiquetar un element <span>fieldset</span>. <a>Ne saber mai</a>

accessibility-text-label-issue-form = Los elements de formularis devon aver una etiqueta. <a>Ne saber mai</a>

accessibility-text-label-issue-form-visible = Los elements de formularis devon aver una etiqueta de tèxt visibla. <a>Ne saber mai</a>

accessibility-text-label-issue-frame = Los elements <code>frame</code> devon aver una etiqueta. <a>Ne saber mai</a>

accessibility-text-label-issue-glyph = Utilizatz l’atribut <code>alt</code> per etiquetar los elements <span>mglyph</span>. <a>Ne saber mai</a>

accessibility-text-label-issue-heading = Los títols devon èsser etiquetats. <a>Ne saber mai</a>

accessibility-text-label-issue-heading-content = Los títols devon aver un tèxte visible. <a>Ne saber mai</a>

accessibility-text-label-issue-iframe = Utilizatz l’atribut <code>title</code> per descriure lo contengut d’una <span>iframe</span>. <a>Ne saber mai</a>

accessibility-text-label-issue-image = Lo contengut amb un imatge deu aver una etiqueta. <a>Ne saber mai</a>

accessibility-text-label-issue-interactive = Los elements interactius devon aver una etiqueta. <a>Ne saber mai</a>

accessibility-text-label-issue-optgroup-label2 = Utilizatz l’atribut <code>alt</code> per etiquetar un element <span>optgroup</span>. <a>Ne saber mai</a>

accessibility-text-label-issue-toolbar = Las barras d’aisinas devon èsser etiquetadas quand n’i a mai d’una. <a>Ne saber mai</a>

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has a keyboard accessibility
## issue.

accessibility-keyboard-issue-semantics = Los elements que pòdon aver lo focus devon téner una semantica interactiva. <a>Ne saber mai</a>

accessibility-keyboard-issue-tabindex = Evitatz d’utilizar un atribut <code>tabindex</code> superior a zèro. <a>Ne saber mai</a>

accessibility-keyboard-issue-action = Los elements interactius devon poder s’activar en utilizant un clavièr. <a>Ne saber mai</a>

accessibility-keyboard-issue-focusable = Los elements interactius devon poder obténer lo focus. <a>Ne saber mai</a>

accessibility-keyboard-issue-focus-visible = Se pòt qu’un element que pòt aver lo focus aja pas un estil ligat al focus. <a>Ne saber mai</a>

accessibility-keyboard-issue-mouse-only = Los elements clicables devon poder obténer lo focus e téner una semantica interactiva. <a>Ne saber mai</a>
