# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Connessione dispositivo
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Assicurati di aver installato <a data-l10n-name="connect-another-device">Firefox sul tuo dispositivo mobile</a>.

fxa-qrcode-heading-step2 = 2. Apri Firefox sul tuo dispositivo mobile.

fxa-qrcode-heading-step3 = 3. Apri il <b>menu</b> (<img data-l10n-name="ios-menu-icon"/> o <img data-l10n-name="android-menu-icon"/>), tocca <img data-l10n-name="settings-icon"/> <b>Impostazioni</b> e seleziona <b>Attiva Sync</b>

fxa-qrcode-heading-step4 = 4. Effettua la scansione di questo codice:

fxa-pair-device-dialog-sync =
    .style = width: 37em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 37em;

fxa-qrcode-pair-title = Sincronizza { -brand-product-name } sul tuo telefono o tablet
fxa-qrcode-pair-step1 = 1. Apri { -brand-product-name } sul tuo dispositivo mobile.

fxa-qrcode-pair-step2 = 2. Apri il <strong>menu</strong> (<img data-l10n-name="ios-menu-icon"/> su iOS o <img data-l10n-name="android-menu-icon"/> su Android) e tocca <strong>Accedi per sincronizzare</strong>

fxa-qrcode-pair-step3 = 3. Tocca <strong>Pronto per la scansione</strong> e inquadra questo codice con il tuo dispositivo

fxa-qrcode-error-title = Associazione non riuscita

fxa-qrcode-error-body = Riprova.
