# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = Zapri
    .aria-label = Zapri

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Pravkar

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Sinhronizirani zavihki
firefoxview-tabpickup-description = Odprite strani z drugih naprav.

firefoxview-tabpickup-recenttabs-description = Tukaj bi bil seznam nedavnih zavihkov

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% dokončano

firefoxview-tabpickup-step-signin-header = Brez težav preklapljajte med napravami
firefoxview-tabpickup-step-signin-description = Če želite tukaj prikazati zavihke s telefona, se prijavite ali ustvarite račun.
firefoxview-tabpickup-step-signin-primarybutton = Nadaljuj

firefoxview-tabpickup-adddevice-header = Sinhronizirajte { -brand-product-name } s telefonom ali tablico
firefoxview-tabpickup-adddevice-description = Prenesite { -brand-product-name } za mobilne naprave in se prijavite vanj.
firefoxview-tabpickup-adddevice-learn-how = Poglejte, kako
firefoxview-tabpickup-adddevice-primarybutton = Prenesi { -brand-product-name } za mobilne naprave

firefoxview-tabpickup-synctabs-header = Vklopi sinhronizacijo zavihkov
firefoxview-tabpickup-synctabs-description = { -brand-short-name(sklon: "dajalnik") } dovoli skupno rabo zavihkov med napravami.
firefoxview-tabpickup-synctabs-learn-how = Poglejte, kako
firefoxview-tabpickup-synctabs-primarybutton = Sinhroniziraj odprte zavihke

firefoxview-tabpickup-fxa-admin-disabled-header = Vaša organizacija je onemogočila sinhronizacijo
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } ne more sinhronizirati zavihkov med napravami, ker je skrbnik onemogočil sinhronizacijo.

firefoxview-tabpickup-network-offline-header = Preverite svojo povezavo z internetom
firefoxview-tabpickup-network-offline-description = Če uporabljate požarni zid ali posredniški strežnik, preverite, ali ima { -brand-short-name } dovoljenje za dostop do spleta.
firefoxview-tabpickup-network-offline-primarybutton = Poskusi znova

firefoxview-tabpickup-sync-error-header = Imamo težave s sinhronizacijo
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } trenutno ne more vzpostaviti povezave s storitvijo sinhronizacije. Poskusite znova čez nekaj trenutkov.
firefoxview-tabpickup-sync-error-primarybutton = Poskusi znova

firefoxview-tabpickup-sync-disconnected-header = Vklopite sinhronizacijo za nadaljevanje
firefoxview-tabpickup-sync-disconnected-description = Za zajem zavihkov morate v { -brand-short-name(sklon: "mestnik") } omogočiti sinhronizacijo.
firefoxview-tabpickup-sync-disconnected-primarybutton = Vklopi sinhronizacijo v nastavitvah

firefoxview-tabpickup-syncing = Počakajte, da se zavihki sinhronizirajo. Trajalo bo samo trenutek.

firefoxview-mobile-promo-header = Zajemite zavihke s telefona ali tablice
firefoxview-mobile-promo-description = Za ogled najnovejših mobilnih zavihkov se prijavite v { -brand-product-name(sklon: "tozilnik") } v sistemu iOS ali Android.
firefoxview-mobile-promo-primarybutton = Prenesi { -brand-product-name } za mobilne naprave

firefoxview-mobile-confirmation-header = 🎉 Opravljeno!
firefoxview-mobile-confirmation-description = Zdaj lahko zajamete zavihke iz { -brand-product-name(sklon: "rodilnik") } na tablici ali telefonu.

firefoxview-closed-tabs-title = Nedavno zaprto

firefoxview-closed-tabs-description = Ponovno odprite strani, ki ste jih zaprli na tej napravi.

firefoxview-closed-tabs-description2 = Ponovno odprite strani, ki ste jih zaprli v tem oknu.
firefoxview-closed-tabs-placeholder = <strong>Ni nedavno zaprtih strani</strong><br/>Nikoli več ne bodite v strahu pred izgubo zaprtega zavihka. Vedno ga lahko pridobite tukaj.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Zadnja dejavnost

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Odpri { $targetURI } v novem zavihku

firefoxview-try-colorways-button = Preizkusite barvne kombinacije
firefoxview-no-current-colorway-collection = Nove barvne kombinacije so na poti
firefoxview-change-colorway-button = Spremeni barvno kombinacijo

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>Trenutno tukaj ni ničesar</strong><br/>Ko naslednjič odprete stran v { -brand-product-name(sklon: "mestnik") } na drugi napravi, jo lahko tukaj zajamete.

firefoxview-collapse-button-show =
    .title = Prikaži seznam

firefoxview-collapse-button-hide =
    .title = Skrij seznam
