# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = Fermi
    .aria-label = Fermi

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Ĵus

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Spegulitaj langetoj
firefoxview-tabpickup-description = Malfermi paĝojn el aliaj aparatoj.

firefoxview-tabpickup-recenttabs-description = La listo de ĵusaj langetoj venus ĉi tien

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% finita

firefoxview-tabpickup-step-signin-header = Senĝene iru de unu aparato al la alia
firefoxview-tabpickup-step-signin-description = Antaŭ ol povi malfermi ĉi tie la langetojn de via portebla, bonvolu komenci seancon aŭ krei konton.
firefoxview-tabpickup-step-signin-primarybutton = Daŭrigi

firefoxview-tabpickup-adddevice-header = Speguli { -brand-product-name } en via telefono aŭ tabulkomputilo
firefoxview-tabpickup-adddevice-description = Elŝutu { -brand-product-name } por poŝaparatoj kaj komencu seancon tie.
firefoxview-tabpickup-adddevice-learn-how = Lernu kiel fari
firefoxview-tabpickup-adddevice-primarybutton = Elŝutu { -brand-product-name } por poŝaparatoj

firefoxview-tabpickup-synctabs-header = Ŝalti speguladon de langetoj
firefoxview-tabpickup-synctabs-description = Permesi al { -brand-short-name } dividi langetojn inter aparatoj.
firefoxview-tabpickup-synctabs-learn-how = Lernu kiel fari
firefoxview-tabpickup-synctabs-primarybutton = Speguli malfermitajn langetojn

firefoxview-tabpickup-fxa-admin-disabled-header = Via organizo malaktivigis la speguladon
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } ne povas speguli langetojn inter aparatoj ĉar via administranto malaktivigis la speguladon.

firefoxview-tabpickup-network-offline-header = Kontrolu vian retaliron
firefoxview-tabpickup-network-offline-description = Se vi uzas retbarilon aŭ retperanton, kontrolu ĉu { -brand-short-name } rajtas aliri la reton.
firefoxview-tabpickup-network-offline-primarybutton = Klopodi denove

firefoxview-tabpickup-sync-error-header = Problemo evitas normalan speguladon
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } ne povas nuntempe aliri la spegulan servon. Klopodu denove post iom da tempo.
firefoxview-tabpickup-sync-error-primarybutton = Klopodi denove

firefoxview-tabpickup-sync-disconnected-header = Ŝalti speguladon por daŭrigi
firefoxview-tabpickup-sync-disconnected-description = Por rehavi viajn langetojn, vi bezonos permesi speguladon en { -brand-short-name }.
firefoxview-tabpickup-sync-disconnected-primarybutton = Ŝalti speguladon en agordoj

firefoxview-tabpickup-syncing = Atendu la speguladon de langetoj. Estas rapida afero.

firefoxview-mobile-promo-header = Malfermi langetojn el via telefono aŭ tabulkomputilo
firefoxview-mobile-promo-description = Por vidi viajn lastajn poŝaparatajn langetojn, komencu seancon de { -brand-product-name } en iOS aŭ Android.
firefoxview-mobile-promo-primarybutton = Elŝutu { -brand-product-name } por poŝaparatoj

firefoxview-mobile-confirmation-header = 🎉 Preta!
firefoxview-mobile-confirmation-description = Vi nun povas malfermi viajn langetojn de { -brand-product-name } el via tabulkomputilo aŭ telefono.

firefoxview-closed-tabs-title = Ĵuse fermitaj

firefoxview-closed-tabs-description = Malfermi paĝojn, kiujn vi estis ferminta en tiu ĉi aparato.

firefoxview-closed-tabs-description2 = Malfermi paĝojn, kiujn vi estis ferminta en tiu ĉi fenestro.
firefoxview-closed-tabs-placeholder = <strong>Neniu ĵusa fermita paĝo</strong><br/>Neniam timu denove perdi fermitan langeton, vi povos ĝin ĉiam rehavi ĉi tie.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Laste aktiva

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Malfermi { $targetURI } en nova langeto

firefoxview-try-colorways-button = Provu kolorarojn
firefoxview-no-current-colorway-collection = Baldaŭ estos novaj koloraroj
firefoxview-change-colorway-button = Ŝanĝi koloraron

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>Ankoraŭ estas nenio ĉi tie</strong><br/>Kiam vi malfermos paĝojn en { -brand-product-name } en alia aparato, ĝi kvazaŭ magie aperos ĉi tie.

firefoxview-collapse-button-show =
    .title = Montri liston

firefoxview-collapse-button-hide =
    .title = Kaŝi liston
