# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = ਹੋਰ ਡਿਵਾਈਸ ਨਾਲ ਕਨੈਕਟ ਕਰੋ
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. ਜੇ ਤੁਸੀਂ ਹਾਲੇ ਇੰਸਟਾਲ ਨਹੀਂ ਕੀਤਾ ਹੈ ਤਾਂ <a data-l10n-name="connect-another-device">ਆਪਣੇ ਮੋਬਾਈਲ ਡਿਵਾਈਸ ਉੱਤੇ Firefox</a> ਇੰਸਟਾਲ ਕਰੋ।

fxa-qrcode-heading-step2 = 2. ਆਪਣੇ ਮੋਬਾਈਲ ਡਿਵਾਈਸ ਉੱਤੇ ਫਾਇਰਫਾਕਸ ਖੋਲ੍ਹੋ।

fxa-qrcode-heading-step3 = 3. <b>ਮੇਨੂ</b> (<img data-l10n-name="ios-menu-icon"/> or <img data-l10n-name="android-menu-icon"/>) ਖੋਲ੍ਹੋ, <img data-l10n-name="settings-icon"/> <b>ਸੈਟਿੰਗਾਂ</b> ਨੂੰ ਛੂਹੋ ਅਤੇ <b>ਸਿੰਕ ਚਾਲੂ ਕਰੋ</b> ਨੂੰ ਚੁਣੋ।

fxa-qrcode-heading-step4 = 4. ਇਹ ਕੋਡ ਸਕੈਨ ਕਰੋ:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = { -brand-product-name } ਨੂੰ ਆਪਣੇ ਫ਼ੋਨ ਜਾਂ ਟੇਬਲੇਟ ਨਾਲ ਸਿੰਕ ਕਰੋ
fxa-qrcode-pair-step1 = 1. ਆਪਣੇ ਮੋਬਾਈਲ ਡਿਵਾਈਸ ਉੱਤੇ { -brand-product-name } ਖੋਲ੍ਹੋ।

fxa-qrcode-pair-step2 = 2. <strong>ਮੇਨੂ</strong> ਖੋਲ੍ਹੋ (iOS ਉੱਤੇ <img data-l10n-name="ios-menu-icon"/> ਜਾਂ Android ਉੱਤੇ <img data-l10n-name="android-menu-icon"/>) ਅਤੇ <strong>ਸਿੰਕ ਲਈ ਸਾਈਨ-ਇਨ ਕਰੋ</strong> ਨੂੰ ਛੂਹੋ

fxa-qrcode-pair-step3 = 3. <strong>ਸਕੈਨ ਲਈ ਤਿਆਰ</strong> ਨੂੰ ਛੂਹੋ ਅਤੇ ਤੁਹਾਡੇ ਫ਼ੋਨ ਨੂੰ ਇਸ ਕੋਡ ਉੱਤੇ ਰੱਖੋ

fxa-qrcode-error-title = ਜੋੜਾ ਬਣਾਉਣ ਲਈ ਨਾ-ਕਮਾਯਾਬ।

fxa-qrcode-error-body = ਮੁੜ ਕੋਸ਼ਿਸ਼ ਕਰੋ।
