# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Opret forbindelse til en ny enhed
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1.<a data-l10n-name="connect-another-device">Installer Firefox på din mobile enhed,</a> hvis du ikke allerede har gjort det.

fxa-qrcode-heading-step2 = 2. Åbn Firefox på din mobile enhed.

fxa-qrcode-heading-step3 = 3. Åbn<b>menuen</b> (<img data-l10n-name="ios-menu-icon"/> eller <img data-l10n-name="android-menu-icon"/>), tryk på <img data-l10n-name="settings-icon"/> <b>Indstillinger</b> og vælg <b>Aktiver Sync</b>

fxa-qrcode-heading-step4 = 4. Skan denne kode:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Synkroniser { -brand-product-name } på din telefon eller tablet
fxa-qrcode-pair-step1 = 1. Åbn { -brand-product-name } på din mobile enhed.

fxa-qrcode-pair-step2 = 2. Åbn <strong>menuen</strong> (<img data-l10n-name="ios-menu-icon"/> i iOS eller <img data-l10n-name="android-menu-icon"/> i Android) og tryk på <strong>Log ind for at synkronisere</strong>

fxa-qrcode-pair-step3 = 3. Tryk på <strong>Klar til at skanne</strong> og hold din telefon over denne kode

fxa-qrcode-error-title = Parring mislykkedes.

fxa-qrcode-error-body = Prøv igen.
