# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = სხვა მოწყობილობასთან დაკავშირება
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. თუ უკვე არ გაქვთ, დააყენეთ <a data-l10n-name="connect-another-device">Firefox თქვენს მობილურ მოწყობილობაზე</a>.

fxa-qrcode-heading-step2 = 2. გახსენით Firefox თქვენს მობილურ მოწყობილობაზე.

fxa-qrcode-heading-step3 = 3. გახსენით <b>მენიუ</b> (<img data-l10n-name="ios-menu-icon"/> ან <img data-l10n-name="android-menu-icon"/>) შეეხეთ <img data-l10n-name="settings-icon"/> <b>პარამეტრებს</b> და აირჩიეთ <b>სინქრონიზაციის ჩართვა</b>

fxa-qrcode-heading-step4 = 4. წააკითხეთ ეს კოდი:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = დაასინქრონეთ { -brand-product-name } თქვენს ტელეფონსა და პლანშეტზე
fxa-qrcode-pair-step1 = 1. გაუშვით { -brand-product-name } თქვენს მობილურზე.

fxa-qrcode-pair-step2 = 2. გახსენით <strong>მენიუ</strong> (<img data-l10n-name="ios-menu-icon"/> iOS-ზე ან <img data-l10n-name="android-menu-icon"/> Android-ზე) და შეეხეთ <strong>სინქრონიზაციაში შესვლას</strong>

fxa-qrcode-pair-step3 = 3. დააჭირეთ <strong>მზადაა წასაკითხად</strong> და მიუშვირეთ ამ კოდს

fxa-qrcode-error-title = მიერთება ვერ მოხერხდა.

fxa-qrcode-error-body = ხელახლა ცდა.
