# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = Fechar
    .aria-label = Fechar

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = há pouco

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Escolha de aba
firefoxview-tabpickup-description = Abrir páginas de outros dispositivos.

firefoxview-tabpickup-recenttabs-description = A lista de abas recentes aparece aqui

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% concluído

firefoxview-tabpickup-step-signin-header = Passe facilmente de um dispositivo para outro
firefoxview-tabpickup-step-signin-description = Para abrir aqui as abas do seu celular, primeiro entre na sua conta ou crie uma.
firefoxview-tabpickup-step-signin-primarybutton = Continuar

firefoxview-tabpickup-adddevice-header = Sincronize o { -brand-product-name } em seu celular ou tablet
firefoxview-tabpickup-adddevice-description = Instale o { -brand-product-name } para dispositivos móveis e entre na sua conta.
firefoxview-tabpickup-adddevice-learn-how = Saiba como
firefoxview-tabpickup-adddevice-primarybutton = Instale o { -brand-product-name } para dispositivos móveis

firefoxview-tabpickup-synctabs-header = Ative a sincronização de abas
firefoxview-tabpickup-synctabs-description = Permitir que o { -brand-short-name } compartilhe abas entre dispositivos.
firefoxview-tabpickup-synctabs-learn-how = Saiba como
firefoxview-tabpickup-synctabs-primarybutton = Sincronizar abas abertas

firefoxview-tabpickup-fxa-admin-disabled-header = Sua organização desativou a sincronização
firefoxview-tabpickup-fxa-admin-disabled-description = O { -brand-short-name } não consegue sincronizar abas entre dispositivos porque seu administrador desativou a sincronização.

firefoxview-tabpickup-network-offline-header = Verifique sua conexão com a internet
firefoxview-tabpickup-network-offline-description = Se estiver usando um firewall ou proxy, verifique se o { -brand-short-name } tem permissão para acessar a web.
firefoxview-tabpickup-network-offline-primarybutton = Tentar novamente

firefoxview-tabpickup-sync-error-header = Há algum problema na sincronização
firefoxview-tabpickup-generic-sync-error-description = O { -brand-short-name } não pode acessar o serviço de sincronização no momento. Tente novamente daqui a pouco.
firefoxview-tabpickup-sync-error-primarybutton = Tentar novamente

firefoxview-tabpickup-sync-disconnected-header = Ative a sincronização para continuar
firefoxview-tabpickup-sync-disconnected-description = Para pegar suas abas, você precisa permitir a sincronização no { -brand-short-name }.
firefoxview-tabpickup-sync-disconnected-primarybutton = Ativar a sincronização nas configurações

firefoxview-tabpickup-syncing = Aguarde a sincronização de abas. É rápido.

firefoxview-mobile-promo-header = Abra abas do seu celular ou tablet
firefoxview-mobile-promo-description = Para ver suas abas mais recentes do celular, entre na sua conta no { -brand-product-name } no iOS ou Android.
firefoxview-mobile-promo-primarybutton = Instale o { -brand-product-name } para dispositivos móveis

firefoxview-mobile-confirmation-header = 🎉 Pronto!
firefoxview-mobile-confirmation-description = Agora você pode abrir suas abas do { -brand-product-name } do seu tablet ou celular.

firefoxview-closed-tabs-title = Fechado recentemente

firefoxview-closed-tabs-description = Reabrir páginas que você fechou neste dispositivo.

firefoxview-closed-tabs-description2 = Reabrir páginas que você fechou nesta janela.
firefoxview-closed-tabs-placeholder = <strong>Nenhuma página fechada recentemente</strong><br/>Nunca mais tenha medo de perder uma aba fechada. Você sempre pode recuperar aqui.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Última ativa

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Abrir { $targetURI } em nova aba

firefoxview-try-colorways-button = Experimentar esquemas de cores
firefoxview-no-current-colorway-collection = Estão chegando novos esquemas de cores
firefoxview-change-colorway-button = Mudar esquema de cores

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>Nada ainda</strong><br/>Na próxima vez que você abrir uma página no { -brand-product-name } em outro dispositivo, aparece aqui como mágica.

firefoxview-collapse-button-show =
    .title = Exibir lista

firefoxview-collapse-button-hide =
    .title = Ocultar lista
