# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Anslut en annan enhet
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Om du inte redan har, installera <a data-l10n-name="connect-another-device">Firefox på din mobila enhet</a>.

fxa-qrcode-heading-step2 = 2. Öppna Firefox på din mobila enhet.

fxa-qrcode-heading-step3 = 3. Öppna <b>menyn</b> (<img data-l10n-name="ios-menu-icon"/> eller <img data-l10n-name="android-menu-icon"/>), tryck på <img data-l10n-name="settings-icon"/> <b>Inställningar</b> och välj <b>Aktivera Sync</b>

fxa-qrcode-heading-step4 = 4. Skanna den här koden:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Synkronisera { -brand-product-name } på din telefon eller surfplatta
fxa-qrcode-pair-step1 = 1. Öppna { -brand-product-name } på din mobila enhet.

fxa-qrcode-pair-step2 = 2. Öppna <strong>menyn</strong> (<img data-l10n-name="ios-menu-icon"/> på iOS eller <img data-l10n-name="android-menu-icon"/> på Android) och tryck på <strong>Logga in för att synkronisera</strong>

fxa-qrcode-pair-step3 = 3. Tryck på <strong>Redo att skanna</strong> och håll telefonen över den här koden

fxa-qrcode-error-title = Parkoppling misslyckades

fxa-qrcode-error-body = Försök igen.
