# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


## These messages are used as headings in the recommendation doorhanger

cfr-doorhanger-extension-heading = Lamed ma kicwako

##

cfr-doorhanger-extension-sumo-link =
    .tooltiptext = Pi ngo atye kaneno man

cfr-doorhanger-extension-cancel-button = Pe kombedi
    .accesskey = P

cfr-doorhanger-extension-ok-button = Med kombedi
    .accesskey = M

cfr-doorhanger-extension-learn-more-link = Nong ngec mapol

# This string is used on a new line below the add-on name
# Variables:
#   $name (String) - Add-on author name
cfr-doorhanger-extension-author = ki { $name }

## Add-on statistics
## These strings are used to display the total number of
## users and rating for an add-on. They are shown next to each other.

## These messages are steps on how to use the feature and are shown together.


## Firefox Accounts Message

cfr-doorhanger-bookmark-fxa-link-text = Rib alama buk kombedi…

## Protections panel

cfr-protections-panel-header = Yeny ma nongo pe kilubo kor in
cfr-protections-panel-body = Gwok data mamegi boti keni. { -brand-short-name } gwoki ki ikom lulub kor mapol ata ma pol kare lubo kor ngo ma itimo iwiyamo.
cfr-protections-panel-link-text = Nong ngec mapol

## What's New toolbar button and panel

# This string is used by screen readers to offer a text based alternative for
# the notification icon
cfr-badge-reader-label-newfeature = Jami manyen:

cfr-whatsnew-button =
    .label = Ngo Manyen
    .tooltiptext = Ngo Manyen

## Search Bar


## Picture-in-Picture

## Permission Prompt

## Fingerprinter Counter


## Bookmark Sync

## Login Sync

## Send Tab

## Firefox Send

## Social Tracking Protection

## Enhanced Tracking Protection Milestones

cfr-doorhanger-milestone-ok-button = Nen Weng
    .accesskey = N

## What’s New Panel Content for Firefox 76


## Lockwise message


## Vulnerable Passwords message


## Picture-in-Picture fullscreen message


## Protections Dashboard message


## Better PDF message


cfr-doorhanger-milestone-close-button = Lor
    .accesskey = L

## DOH Message

cfr-doorhanger-doh-secondary-button = Juki
    .accesskey = J

## Fission Experiment Message

cfr-doorhanger-fission-primary-button = AYA, Aniang
    .accesskey = A
cfr-doorhanger-fission-secondary-button = Nong ngec mapol
    .accesskey = N

## What's new: Cookies message


## What's new: Media controls message

## Full Video Support CFR message

## Spotlight modal shared strings

## VPN promotion dialog for public Wi-Fi users
##
## If a user is detected to be on a public Wi-Fi network, they are given a
## bit of info about how to improve their privacy and then offered a button
## to the Mozilla VPN page and a link to dismiss the dialog.

## Total Cookie Protection Rollout

## Emotive Continuous Onboarding

## MR2022 Background Update Windows native toast notification strings.
##
## These strings will be displayed by the Windows operating system in
## a native toast, like:
##
## <b>multi-line title</b>
## multi-line text
## <img>
## [ primary button ] [ secondary button ]
##
## The button labels are fitted into narrow fixed-width buttons by
## Windows and therefore must be as narrow as possible.

## Firefox View CFR

## Firefox View Spotlight

