# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = Tanca
    .aria-label = Tanca

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Ara mateix

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Recull de pestanyes
firefoxview-tabpickup-description = Accediu a les pàgines obertes des d'altres dispositius.

firefoxview-tabpickup-recenttabs-description = Aquí es mostra la llista de pestanyes recents

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% completat

firefoxview-tabpickup-step-signin-header = Canvieu d'un dispositiu a l'altre de forma transparent
firefoxview-tabpickup-step-signin-description = Per poder recuperar les pestanyes del telèfon des d'aquí, primer inicieu la sessió o creeu un compte.
firefoxview-tabpickup-step-signin-primarybutton = Continua

firefoxview-tabpickup-adddevice-header = Sincronitzeu el { -brand-product-name } en el telèfon o tauleta
firefoxview-tabpickup-adddevice-description = Baixeu el { -brand-product-name } per al mòbil i inicieu-hi la sessió.
firefoxview-tabpickup-adddevice-learn-how = Vegeu com fer-ho
firefoxview-tabpickup-adddevice-primarybutton = Instal·la el { -brand-product-name } per al mòbil

firefoxview-tabpickup-synctabs-header = Activeu la sincronització de pestanyes
firefoxview-tabpickup-synctabs-description = Permeteu que el { -brand-short-name } comparteixi les pestanyes entre els vostres dispositius.
firefoxview-tabpickup-synctabs-learn-how = Vegeu com fer-ho
firefoxview-tabpickup-synctabs-primarybutton = Sincronitza les pestanyes obertes

firefoxview-tabpickup-fxa-admin-disabled-header = La vostra organització ha desactivat la sincronització
firefoxview-tabpickup-fxa-admin-disabled-description = El { -brand-short-name } no pot sincronitzar les pestanyes entre dispositius perquè el vostre administrador ha desactivat la sincronització.

firefoxview-tabpickup-network-offline-header = Comproveu la connexió a Internet
firefoxview-tabpickup-network-offline-description = Si utilitzeu un tallafoc o un servidor intermediari, comproveu que el { -brand-short-name } tingui permís per accedir al web.
firefoxview-tabpickup-network-offline-primarybutton = Torna-ho a provar

firefoxview-tabpickup-sync-error-header = Tenim problemes per sincronitzar
firefoxview-tabpickup-generic-sync-error-description = El { -brand-short-name } no pot accedir al servei de sincronització ara mateix. Torneu-ho a provar d'aquí a una estona.
firefoxview-tabpickup-sync-error-primarybutton = Torna-ho a provar

firefoxview-tabpickup-sync-disconnected-header = Activeu la sincronització per continuar
firefoxview-tabpickup-sync-disconnected-description = Per recuperar les vostres pestanyes, heu de permetre la sincronització en el { -brand-short-name }.
firefoxview-tabpickup-sync-disconnected-primarybutton = Activa la sincronització en els paràmetres

firefoxview-tabpickup-syncing = Espereu mentre se sincronitzen les pestanyes. Només serà un moment.

firefoxview-mobile-promo-header = Recupereu les pestanyes del telèfon o tauleta
firefoxview-mobile-promo-description = Per veure les últimes pestanyes que heu obert en el dispositiu mòbil, inicieu la sessió al { -brand-product-name } per a l'iOS o l'Android.
firefoxview-mobile-promo-primarybutton = Instal·la el { -brand-product-name } per al mòbil

firefoxview-mobile-confirmation-header = 🎉 Tot llest!
firefoxview-mobile-confirmation-description = Ara podeu recuperar les pestanyes del { -brand-product-name } des del vostre telèfon o tauleta.

firefoxview-closed-tabs-title = Tancades recentment

firefoxview-closed-tabs-description = Torneu a obrir les pàgines que heu tancat en aquest dispositiu.

firefoxview-closed-tabs-placeholder = <strong>No hi ha cap pàgina tancada recentment</strong><br/>No patiu més per perdre una pestanya tancada. Sempre la podeu recuperar des d'aquí.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Darrera activa

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Obre { $targetURI } en una pestanya nova

firefoxview-try-colorways-button = Proveu les combinacions de colors
firefoxview-no-current-colorway-collection = Aviat hi haurà noves combinacions de colors diponibles
firefoxview-change-colorway-button = Canvia la combinació de colors

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>Encara no hi ha res per veure</strong><br/>La pròxima vegada que obriu una pàgina en el { -brand-product-name } en un altre dispositiu, podreu recuperar-la des d'aquí com per art de màgia.

firefoxview-collapse-button-show =
    .title = Mostra la llista

firefoxview-collapse-button-hide =
    .title = Amaga la llista
