# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Een ander apparaat verbinden
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Installeer <a data-l10n-name="connect-another-device">Firefox op uw mobiele apparaat</a> als u dat nog niet hebt gedaan.

fxa-qrcode-heading-step2 = 2. Open Firefox op uw mobiele apparaat.

fxa-qrcode-heading-step3 = 3. Open het <b>menu</b> (<img data-l10n-name="ios-menu-icon"/> of <img data-l10n-name="android-menu-icon"/>), tik op <img data-l10n-name="settings-icon"/> <b>Instellingen</b> en selecteer <b>Sync inschakelen</b>

fxa-qrcode-heading-step4 = 4. Scan deze code:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = { -brand-product-name } op uw telefoon of tablet synchroniseren
fxa-qrcode-pair-step1 = 1. Open { -brand-product-name } op uw mobiele apparaat.

fxa-qrcode-pair-step2 = 2. Open het <strong>menu</strong> (<img data-l10n-name="ios-menu-icon"/> op iOS of <img data-l10n-name="android-menu-icon"/> op Android) en tik op <strong>Aanmelden om te synchroniseren</strong>

fxa-qrcode-pair-step3 = 3. Tik op <strong>Klaar om te scannen</strong> en houd uw telefoon boven deze code

fxa-qrcode-error-title = Koppelen mislukt.

fxa-qrcode-error-body = Probeer het opnieuw.
