# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Połącz inne urządzenie
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Jeśli jeszcze go nie masz, zainstaluj <a data-l10n-name="connect-another-device">Firefoksa na telefonie</a>.

fxa-qrcode-heading-step2 = 2. Otwórz Firefoksa na telefonie.

fxa-qrcode-heading-step3 = 3. Otwórz <b>menu</b> (<img data-l10n-name="ios-menu-icon"/> lub <img data-l10n-name="android-menu-icon"/>), stuknij <img data-l10n-name="settings-icon"/> <b>Ustawienia</b> i wybierz <b>Włącz synchronizację</b>.

fxa-qrcode-heading-step4 = 4. Zeskanuj ten kod:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Synchronizuj przeglądarkę { -brand-product-name } na telefonie lub tablecie
fxa-qrcode-pair-step1 = 1. Otwórz przeglądarkę { -brand-product-name } na telefonie.

fxa-qrcode-pair-step2 = 2. Otwórz <strong>menu</strong> (<img data-l10n-name="ios-menu-icon"/> w systemie iOS lub <img data-l10n-name="android-menu-icon"/> na Androidzie) i stuknij <strong>Zaloguj się do synchronizacji</strong>.

fxa-qrcode-pair-step3 = 3. Stuknij <strong>Gotowy do skanowania</strong> i przyłóż telefon do tego kodu.

fxa-qrcode-error-title = Powiązanie się nie powiodło.

fxa-qrcode-error-body = Spróbuj ponownie.
