# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Yhdistä toinen laite
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Jos et ole vielä asentanut Firefoxia mobiililaitteellesi, <a data-l10n-name="connect-another-device">asenna se nyt</a>.

fxa-qrcode-heading-step2 = 2. Avaa Firefox mobiililaitteellasi

fxa-qrcode-heading-step3 = 3. Avaa <b>valikko</b> (<img data-l10n-name="ios-menu-icon"/> tai <img data-l10n-name="android-menu-icon"/>), napauta <img data-l10n-name="settings-icon"/> <b>Asetukset</b> ja valitse <b>Ota Sync käyttöön</b>

fxa-qrcode-heading-step4 = 4. Skannaa tämä koodi:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Synkronoi { -brand-product-name } puhelimellasi tai tablet-laitteellasi
fxa-qrcode-pair-step1 = 1. Avaa { -brand-product-name } mobiililaitteellasi.

fxa-qrcode-pair-step2 = 2. Avaa <strong>valikko</strong> (<img data-l10n-name="ios-menu-icon"/> iOS:llä tai <img data-l10n-name="android-menu-icon"/> Androidilla) ja napauta <strong>Kirjaudu sisään synkronoidaksesi</strong>

fxa-qrcode-pair-step3 = 3. Napauta <strong>Valmis skannaamaan</strong> ja pidä puhelintasi tämän koodin päällä

fxa-qrcode-error-title = Paritus epäonnistui.

fxa-qrcode-error-body = Yritä uudelleen.
