# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### "Glean" and "Glean SDK" should remain in English.

about-glean-page-title = ග්ලීන් ගැන
about-glean-description = <a data-l10n-name="glean-sdk-doc-link">ග්ලීන් SDK</a> යනු මොසිල්ලා නිෂ්පාදනවල භාවිතා වන දත්ත රැස් කිරීමේ එකතුවකි. මෙම පිටුව <a data-l10n-name="fog-debug-doc-link">ග්ලීන් SDK හි නිදොස්කරණය සහ සටහන් තැබීමේ තත්‍වය වින්‍යාස කිරීමට අවශ්‍ය සංවර්ධකයින් සහ පරීක්‍ෂකයින් සඳහා වේ.

controls-button-label = සැකසුම් යොමන්න
