# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Pripojenie ďalšieho zariadenia
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Ak ste tak ešte neurobili, <a data-l10n-name="connect-another-device">nainštalujte si Firefox na svoje mobilné zariadenie</a>.

fxa-qrcode-heading-step2 = 2. Spustite Firefox na svojom mobilnom zariadení.

fxa-qrcode-heading-step3 = 3. Otvorte <b>ponuku</b> (<img data-l10n-name="ios-menu-icon"/> alebo <img data-l10n-name="android-menu-icon"/>), ťuknite na <img data-l10n-name="settings-icon"/> <b>Nastavenia</b> a zvoľte položku <b>Zapnúť synchronizáciu</b>.

fxa-qrcode-heading-step4 = 4. Naskenujte tento kód:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Synchronizujte { -brand-product-name } na svojom telefóne alebo tablete
fxa-qrcode-pair-step1 = 1. Otvorte { -brand-product-name } na svojom mobilnom zariadení.

fxa-qrcode-pair-step2 = 2. Otvorte <strong>ponuku</strong> (<img data-l10n-name="ios-menu-icon"/> v systéme iOS alebo <img data-l10n-name="android-menu-icon"/> v systéme Android) a ťuknite na položku <strong>Prihlásiť sa a synchronizovať</strong>

fxa-qrcode-pair-step3 = 3. Ťuknite na položku <strong>Pripravené na skenovanie</strong> a podržte telefón nad týmto kódom

fxa-qrcode-error-title = Párovanie nebolo úspešné.

fxa-qrcode-error-body = Skúste to znova.
