# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }
menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F
firefoxview-page-title = { -firefoxview-brand-name }
firefoxview-close-button =
    .title = Clauder
    .aria-label = Clauder
# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Justo ora
# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Election de scheda
firefoxview-tabpickup-description = Aperi paginas ab altere apparatos.
firefoxview-tabpickup-recenttabs-description = Le listas de schedas recente vaderea ci
# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% complete
firefoxview-tabpickup-step-signin-header = Passar facilemente inter apparatos
firefoxview-tabpickup-step-signin-description = Pro transferer le schedas de tu telephono ci, primo aperi session o crea un conto.
firefoxview-tabpickup-step-signin-primarybutton = Continuar
firefoxview-tabpickup-adddevice-header = Synchronisa { -brand-product-name } sur tu telephono e tu tabletta
firefoxview-tabpickup-adddevice-description = Discarga { -brand-product-name } pro apparatos mobile e aperi session illac.
firefoxview-tabpickup-adddevice-learn-how = Apprender como
firefoxview-tabpickup-adddevice-primarybutton = Installa { -brand-product-name } pro mobile
firefoxview-tabpickup-synctabs-header = Activar synchronisation schedas
firefoxview-tabpickup-synctabs-description = Permitte a { -brand-short-name } de compartir schedas inter apparatos.
firefoxview-tabpickup-synctabs-learn-how = Apprender como
firefoxview-tabpickup-synctabs-primarybutton = Synchronisar le schedas aperte
firefoxview-tabpickup-fxa-admin-disabled-header = Tu organisation ha disactivate le synchronisation
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } non pote synchronisar schedas inter apparatos perque tu administrator ha disactivate le synchronisation.
firefoxview-tabpickup-network-offline-header = Controla tu connexion a internet
firefoxview-tabpickup-network-offline-description = Si tu usa un firewall o proxy, verifica que { -brand-short-name } ha permission pro acceder al web.
firefoxview-tabpickup-network-offline-primarybutton = Retenta
firefoxview-tabpickup-sync-error-header = Nos ha difficultates pro le synchronisation
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } non pote attinger le servicio de synchronisation al momento. Retenta post alcun momentos.
firefoxview-tabpickup-sync-error-primarybutton = Retenta
firefoxview-tabpickup-sync-disconnected-header = Activa le synchronisation pro continuar
firefoxview-tabpickup-sync-disconnected-description = Pro colliger tu schedas, tu debera permitter le synchronisation in { -brand-short-name }.
firefoxview-tabpickup-sync-disconnected-primarybutton = Activa synchronisar in parametros
firefoxview-tabpickup-syncing = Sta sedite dum tu schedas se synchronisa. Il essera solo un momento.
firefoxview-mobile-promo-header = Accede al schedas aperte ab tu telephono o tabletta
firefoxview-mobile-promo-description = Pro vider tu ultime schedas mobile, accede a { -brand-product-name } sur iOS o Android.
firefoxview-mobile-promo-primarybutton = Installa { -brand-product-name } pro mobile
firefoxview-mobile-confirmation-header = 🎉 Bon a ir!
firefoxview-mobile-confirmation-description = Ora tu pote acceder tu schedas de { -brand-product-name } ab tu tabletta o telephono.
firefoxview-closed-tabs-title = Recentemente claudite
firefoxview-closed-tabs-description = Reaperi paginas que tu ha claudite sur iste apparato.
firefoxview-closed-tabs-description2 = Reaperir paginas que tu ha claudite in iste fenestra.
firefoxview-closed-tabs-placeholder = <strong>Nulle pagina recentemente claudite</strong><br/>Jammais time ancora de perder un scheda claudite. Tu pote sempre recuperar lo ci.
# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Ultimo active
# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Aperir { $targetURI } in un nove scheda
firefoxview-try-colorways-button = Prova combinationes de colores
firefoxview-no-current-colorway-collection = Nove combinationes de colores es in cammino
firefoxview-change-colorway-button = Cambiar combination de colores
# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }
firefoxview-synced-tabs-placeholder = <strong>Nihil a vider ancora</strong><br/>Le le proxime vice que tu aperi un pagina in { -brand-product-name } sur un altere apparato, sasi lo ci magicamente.
firefoxview-collapse-button-show =
    .title = Monstrar lista
firefoxview-collapse-button-hide =
    .title = Celar lista
