# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = Tampar
    .aria-label = Tampar

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = ara meteis

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Recuperacion d’onglets
firefoxview-tabpickup-description = Dobrissètz de paginas d’autres aparelhs.

firefoxview-tabpickup-recenttabs-description = La lista dels onglets recents apreissarà aquí

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% acabat

firefoxview-tabpickup-step-signin-header = Passatz d’un aparelh a l’autre de manièra transparenta
firefoxview-tabpickup-step-signin-description = Per poder recuperar los onglets del mobil aicí, connectatz-vos o creatz un compte.
firefoxview-tabpickup-step-signin-primarybutton = Contunhar

firefoxview-tabpickup-adddevice-header = Sincronizatz { -brand-product-name } amb vòstre telefòn o vòstra tauleta
firefoxview-tabpickup-adddevice-description = Telecargatz { -brand-product-name } per mobil e connectatz-vos enlai.
firefoxview-tabpickup-adddevice-learn-how = Ne saber mai
firefoxview-tabpickup-adddevice-primarybutton = Installatz { -brand-product-name } per mobil

firefoxview-tabpickup-synctabs-header = Activar la sincronizacion dels onglets
firefoxview-tabpickup-synctabs-description = Autorizatz { -brand-short-name } a partejar los onglets entre vòstres aparelhs.
firefoxview-tabpickup-synctabs-learn-how = M’ensenhar cossí far
firefoxview-tabpickup-synctabs-primarybutton = Sincronizar los onglets dobèrts

firefoxview-tabpickup-fxa-admin-disabled-header = Vòstra organizacion a desactivat la sincronizacion
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } pòt pas sincronizar d’onglets entre aparelhs pr’amor que vòstre administrator a desactivat la sincronizacion.

firefoxview-tabpickup-network-offline-header = Verificatz la connexion Internet
firefoxview-tabpickup-network-offline-description = S’utilizatz un parafuòc o un servidor mandatari, verificatz que { -brand-short-name } a l’autorizacion d’accedir al web.
firefoxview-tabpickup-network-offline-primarybutton = Tornar ensajar

firefoxview-tabpickup-sync-error-header = Rencontram problèmas de sincronizacion
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } pòt pas contactar lo servici de sincronizacion per ara. Tornatz ensajar d’aquí un momenton.
firefoxview-tabpickup-sync-error-primarybutton = Tornar ensajar

firefoxview-tabpickup-sync-disconnected-header = Activatz la sincronizacion per contunhar
firefoxview-tabpickup-sync-disconnected-description = Per recuperar vòstres onglets, vos cal d’autorizar la sincronizacion de { -brand-short-name }.
firefoxview-tabpickup-sync-disconnected-primarybutton = Activar la sincronizacion als paramètres

firefoxview-tabpickup-syncing = Esperatz mentre que se sincronizan los onglets. Durarà pas qu’un moment.

firefoxview-mobile-promo-header = Recuperatz los onglets de vòstre mobil o vòstra tauleta
firefoxview-mobile-promo-description = Per veire los darrièrs onglets de vòstre aparelh mobil, connectatz-vos a { -brand-product-name } sus iOS o Android.
firefoxview-mobile-promo-primarybutton = Installatz { -brand-product-name } per mobil

firefoxview-mobile-confirmation-header = 🎉 Tot es prèst !
firefoxview-mobile-confirmation-description = Podètz ara recuperar los onglets { -brand-product-name } de vòstra tauleta o mobil.

firefoxview-closed-tabs-title = Tampats recentament

firefoxview-closed-tabs-description = Tornatz dobrir las paginas qu’avètz tampadas sus aqueste aparelh.

firefoxview-closed-tabs-description2 = Tornatz dobrir las paginas qu’avètz tampadas dins aquesta pagina.
firefoxview-closed-tabs-placeholder = <strong>Cap de pagina pas tampada recentament</strong><br/>Ajatz pas jamai paur de pèrdre una pagina tampada. La podètz totjorn recuperar d’aquí estant.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Darrièr actiu

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Dobrir { $targetURI } dins un onglet novèl

firefoxview-try-colorways-button = Ensajatz Colorways
firefoxview-no-current-colorway-collection = De novèls colorits son en camin
firefoxview-change-colorway-button = Cambiar de colorits

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>I a pas res pel moment</strong><br/>Lo còp que ven que dobrissètz una pagina dins { -brand-product-name } sus un autre aparelh, lo poiretz trapar aicí coma per magia.

firefoxview-collapse-button-show =
    .title = Afichar la lista

firefoxview-collapse-button-hide =
    .title = Rescondre la lista
