# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Tengja annað tæki
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Ef þú hefur ekki gert það nú þegar, skaltu setja upp <a data-l10n-name="connect-another-device">Firefox á farsímanum þínum</a>.

fxa-qrcode-heading-step2 = 2. Opnaðu Firefox á farsímanum þínum.

fxa-qrcode-heading-step3 = 3. Opnaðu <b> valmyndina </b> (<img data-l10n-name="ios-menu-icon" /> eða <img data-l10n-name="android-menu-icon"/>), ýttu á <img data-l10n-name="settings-icon"/> <b> Stillingar </b> og veldu <b>Kveikja á samstillingu</b>

fxa-qrcode-heading-step4 = 4. Skannaðu þennan kóða:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Samstilltu { -brand-product-name } á símanum eða spjaldtölvunni
fxa-qrcode-pair-step1 = 1. Opnaðu { -brand-product-name } á farsímanum þínum.

fxa-qrcode-pair-step2 = 2. Opnaðu <strong>valmyndina</strong> (<img data-l10n-name="ios-menu-icon"/> á iOS eða <img data-l10n-name="android-menu-icon"/> á Android) og ýttu á <strong>Skrá inn til að samstilla</strong>

fxa-qrcode-pair-step3 = 3. Ýttu á <strong>Tilbúið til að skanna</strong> og haltu símanum yfir þessum kóða

fxa-qrcode-error-title = Pörun tókst ekki.

fxa-qrcode-error-body = Reyndu aftur.
