# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Konekti alian aparaton
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Se vi ankoraŭ ne faris tion – instalu <a data-l10n-name="connect-another-device">Firefox en via poŝaparato</a>.

fxa-qrcode-heading-step2 = 2. Malfermu Firefox en via poŝaparato.

fxa-qrcode-heading-step3 = 3. Malfermu la <b>menuon</b> (<img data-l10n-name="ios-menu-icon"/> aŭ <img data-l10n-name="android-menu-icon"/>), tuŝetu <img data-l10n-name="settings-icon"/> <b>Agordoj</b> kaj elektu <b>Ŝalti speguladon</b>

fxa-qrcode-heading-step4 = 4. Skanu tiun ĉi kodon:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Speguli { -brand-product-name } en via telefono aŭ tabulkomputilo
fxa-qrcode-pair-step1 = 1. Malfermi { -brand-product-name } en via poŝaparato.

fxa-qrcode-pair-step2 = 2. Malfermi la <strong>menuon</strong> (<img data-l10n-name="ios-menu-icon"/> en iOS aŭ <img data-l10n-name="android-menu-icon"/> en Android) kaj tuŝetu <strong>Komenci seancon por speguli</strong>

fxa-qrcode-pair-step3 = 3. Tuŝetu <strong>Preta skani</strong> kaj tenu vian telefonon super la kodo

fxa-qrcode-error-title = Malsukcesa asociado.

fxa-qrcode-error-body = Klopodu denove.
