# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = חיבור מכשיר נוסף
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. אם טרם עשית זאת, עליך להתקין את <a data-l10n-name="connect-another-device">Firefox על המכשיר הנייד שלך</a>.

fxa-qrcode-heading-step2 = 2. יש לפתוח את Firefox במכשיר הנייד שלך.

fxa-qrcode-heading-step3 = 3. יש לפתוח את <b>התפריט</b> (<img data-l10n-name="ios-menu-icon"/> או <img data-l10n-name="android-menu-icon"/>), להקיש על <img data-l10n-name="settings-icon"/> <b>הגדרות</b> ולבחור באפשרות <b>הפעלת Sync</b>

fxa-qrcode-heading-step4 = 4. לבסוף, יש לסרוק את הקוד הזה:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = סנכרון { -brand-product-name } בטלפון או במחשב לוח שלך
fxa-qrcode-pair-step1 = 1. יש לפתוח את { -brand-product-name } במכשיר הנייד שלך.

fxa-qrcode-pair-step2 = 2. יש לפתוח את <strong>התפריט</strong> (<img data-l10n-name="ios-menu-icon"/> ב־iOS או <img data-l10n-name="android-menu-icon"/> ב־Android) ולהקיש על <strong>כניסה כדי לסנכרן</strong>

fxa-qrcode-pair-step3 = 3. יש להקיש על <strong>מוכן לסריקה</strong> ולהחזיק את הטלפון מול הקוד הזה

fxa-qrcode-error-title = הצימוד לא הצליח.

fxa-qrcode-error-body = נא לנסות שוב.
