# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Koble til en annen enhet
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Om du ikke allerede har installert, installer <a data-l10n-name="connect-another-device">Firefox på din mobile enhet</a>.

fxa-qrcode-heading-step2 = 2. Åpne Firefox på mobilenheten din.

fxa-qrcode-heading-step3 = 3. Åpne <b>menyen</b> (<img data-l10n-name="ios-menu-icon"/> eller <img data-l10n-name="android-menu-icon"/>), trykk på <img data-l10n-name="settings-icon"/><b>Innstillinger</b> og velg <b>Slå på synkronisering</b>

fxa-qrcode-heading-step4 = 4. Skann denne koden:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Synkroniser { -brand-product-name } på telefonen eller nettbrettet
fxa-qrcode-pair-step1 = 1. Åpne { -brand-product-name } på din mobile enhet.

fxa-qrcode-pair-step2 = 2. Åpne <strong>menyen</strong> (<img data-l10n-name="ios-menu-icon"/> på iOS eller <img data-l10n-name="android-menu-icon"/> på Android) og trykk på <strong>Logg inn for å synkronisere</strong>

fxa-qrcode-pair-step3 = 3. Trykk på <strong>Klar til å skanne</strong> og hold telefonen over denne koden

fxa-qrcode-error-title = Mislykket tilkobling.

fxa-qrcode-error-body = Prøv igjen.
