# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = Сіздің құқықтарыңыз туралы
rights-intro = { -brand-full-name } тегін әрі ашық бағдарлама болып табылады. Оның дамуына әлем бойынша мыңдаған адамдар үлес қосты. Сіз келесі нәрселер туралы білуіңіз керек:
rights-intro-point-1 = { -brand-short-name } сізге <a data-l10n-name="mozilla-public-license-link">Mozilla MPL лицензиясы бойынша ұсынылады</a>. Демек, сіздің { -brand-short-name } қолдану, көшіріп алу және таратуға толық құқығыңыз бар.  Оның үстіне қажетіңізге қарай { -brand-short-name } бастапқы кодын түзете аласыз. Mozilla MPL өзіңіздің түзетулеріңіз бар жинақтарды таратуға да рұқсат береді.
rights-intro-point-2 =
    Сізде Mozilla Foundation сауда белгілеріне не лицензияларына, ешбір шектеусіз
    Thunderbird атауы мен логотипін қоса, құқығыңыз жоқ. Сауда белгілері жөнінде
    қосымша ақпараты <a data-l10n-name="mozilla-trademarks-link">осында</a>.
rights-intro-point-3 = { -brand-short-name } ішіндегі бірнеше мүмкіндіктер, Crash Reporter сияқты, { -vendor-short-name } үшін кері байланыс хабарламаларын жіберуге мүмкіндік береді. Оны жіберу нәтижесінде сіз { -vendor-short-name } үшін ол хабарламаны өнімдерді жақсартуға, вебсайтта ол жауапты көрсетуге әрі жауапты таратуға құқық берумен келісесіз.
rights-intro-point-4 = Жеке ақпаратыңыз бен { -vendor-short-name } үшін { -brand-short-name } арқылы жіберілген кері байланыс хабарламаларын біз қалай қолданатынын <a data-l10n-name="mozilla-privacy-policy-link">{ -brand-short-name } Жекелік саясатында сипатталған</a>алуға болады.
rights-intro-point-4-unbranded = Осы өнімге қолдана алатын кез келген құпиялық саясаты осы жерде тізіліп көрсетілуі тиіс.
rights-intro-point-5 = Кейбір { -brand-short-name } мүмкіндіктер интернетке негізделген ақпараттық қызметтерді қолдануға мүмкіндік береді, бірақ біз олардың 100% дәл әрі қатесіз болуына кепілдеме бермейміз. Көбірек қолдану ақпараты және осыны сөндіру жолын сипаттайтын ақпарат, келесі жерде: <a data-l10n-name="mozilla-service-terms-link">қызметтерді пайдалану шарттарынан </a>алуға болады
rights-intro-point-5-unbranded = Егер бұл өнім құрамында сайттар туралы хабарлау қызметі бар болса, сол қызметтерді пайдалану шарттары <a data-l10n-name="mozilla-website-services-link">Сайттар туралы хабарлау </a>бөлімінде көрсетілуі тиіс.
rights-intro-point-6 = Видео құрамасынын кейбір түрлерін ойната алу үшін, { -brand-short-name } үшінші жақтардан арнайы декодтау модульдерін жүктеп алады.
rights-webservices-header = { -brand-full-name } интернетке негізделген ақпараттық қызметтері
rights-locationawarebrowsing = <strong>Орналасуға байланысты шолу: </strong>қосымша ғана.  Рұқсатсыз ешбір орналасу ақпараты жіберілмейді.  Бұл мүмкіндікті толығымен сөндірем десеңіз, келесі қадамдарды орындаңыз:
rights-locationawarebrowsing-term-1 = Адрес өрісінде <code>about:config теріңіз</code>
rights-locationawarebrowsing-term-2 = geo.enabled теріңіз
rights-locationawarebrowsing-term-3 = geo.enabled баптауында қос шертіңіз
rights-locationawarebrowsing-term-4 = Орналасуға байланысты шолу енді сөндірілген
rights-webservices-unbranded = Өнімге қосылған сайттар туралы хабарлау қызметтеріне шолу, оны сөндіру тәртібі осы жерде көрсетілуі тиіс.
rights-webservices-term-unbranded = Осы өнімге қатысты қызметтерді пайдалану саясаты осы жерде көрсетілуі тиіс.
rights-webservices-term-1 = { -vendor-short-name } және үлесін қосушылары, лицензорлар мен партнерлары дәл әрі заманауи қызметтерді ұсынуға тырысады.  Алайда, біз ол ақпараттың нақты әрі қатесіз болуына кепілдеме бере алмаймыз.  Мысалы, қауіпсіз шолу кейбір қауіпті сайттарды анықтай алмай, ал кейбір дұрыс сайттарды қауіпті деп анықтай алады, және Орналасуға байланысты шолу ақпаратын ұсынушылар да, біз де орналасу ақпаратының дәлдігі үшін кепілдеме бере алмаймыз.
rights-webservices-term-2 = { -vendor-short-name } Қызметтерді ұсынудан бас тартуына не олардың жұмысын өзгертуге құқылы.
rights-webservices-term-3 = Сізге бұл қызметтерді сәйкес { -brand-short-name } нұсқасымен қолдануға болады, және { -vendor-short-name } сізге ондай қолдануға керек рұқсат құқықтарын береді.  Ол қызметтерге қатысты барлық басқа құқықтар { -vendor-short-name } және оның лицензорларда қалады.  Бұл шарттар { -brand-short-name } және сәйкес { -brand-short-name }  үшін бастапқы код нұсқаларына қолдануға болатын ашық код лицензиялар аясында берілген құқықтарды шектеуге арналмаған.
rights-webservices-term-4 = <strong>Қызметтер «қалай бар», солай ұсынылады.  { -vendor-short-name }, оның қызметкерлері, лицензиарлары, дистрибьюторлары осы арқылы кез келген тура не жанама кепіл беруден, оның ішінде Қызметтердің сатуға жарамдылығына не олардың сіздің көңіліңізден шығатындығына кепіл беруден бас тартады.  Қызметтерді таңдаудан, оны пайдаланудан туындайтын барлық қауіп сіздің мойныңызда.  Кейбір заңнамаға сәйкес жанама кепіл беруден бас тарту не оны шектеуге рұқсат етілмейді. Мұндай жағдайда кепіл беруден бас тарту сізге қатысты болмауы мүмкін.</strong>
rights-webservices-term-5 = <strong>Заң талап ететін жағдайдан басқа кезде, { -vendor-short-name } және оның қызметкерлері, лицензиарлары, дистрибьюторлары { -brand-short-name } және Қызметтерді пайдаланудан туындаған не соларға қатысты ешқандай жанама, ерекше, кездейсоқ, салдарлы, айыппұл не жаза түріндегі зардаптарға жауап бермейді. Осыған байланысты ұжымдық жауапкершілік $500 (бес жүз АҚШ доллары) мөлшерінен аспайды. Кейбір заңнамаға сәйкес белгілі-бір зардапты өтеуден бас тарту не оны шектеуге рұқсат етілмейді. Мұндай жағдайда зардапты өтеуден бас тарту не оны шектеу сізге қатысты болмауы мүмкін.</strong>
rights-webservices-term-6 = { -vendor-short-name } қажетіне қарай осы шарттарды жаңартып отырады. Бұл шарттар { -vendor-short-name } жазбаша рұқсатынсыз өзгеруі не тоқтатылуы мүмкін емес.
rights-webservices-term-7 = Осы шарттар АҚШ, Калифорния штатының коллизиялық құқық нормалары алынған заңдарымен реттеледі. Егер осы шарттардың кез келген бөлігі заң тұрғысынан жарамсыз не орындалмайтын болып жатса да, қалған бөлімдер өзінің заңдық күшін сақтайды. Осы шарттардың аударылған әрі ағылшын нұсқаларының арасында қарама-қарсылық байқалса, ағылшын нұсқасын басшылыққа алу керек.
