# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Kople til ei anna eining
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Om du ikkje allereie har han, installer <a data-l10n-name="connect-another-device">Firefox på mobileininga di</a>.

fxa-qrcode-heading-step2 = 2. Opne Firefox på mobileininga di.

fxa-qrcode-heading-step3 = 3. Opne <b>menyen</b> (<img data-l10n-name="ios-menu-icon"/> eller <img data-l10n-name="android-menu-icon"/>), trykk på <img data-l10n-name="settings-icon"/><b>Innstillingar</b> og vel <b>Slå på synkronisering</b>

fxa-qrcode-heading-step4 = 4. Skann denne koden:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Synkroniser { -brand-product-name } på telefonen eller nettbrettet ditt
fxa-qrcode-pair-step1 = 1. Opne { -brand-product-name } på den mobile eininga di.

fxa-qrcode-error-title = Mislykka paring.

fxa-qrcode-error-body = Prøv ein gong til.
