# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Atverti privatųjį langą
    .accesskey = p
about-private-browsing-search-placeholder = Ieškokite saityne
about-private-browsing-info-title = Esate privačiojo naršymo lange
about-private-browsing-search-btn =
    .title = Ieškokite saityne
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Įveskite adresą arba ieškokite per „{ $engine }“
about-private-browsing-handoff-no-engine =
    .title = Įveskite adresą arba paieškos žodžius
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Įveskite adresą arba ieškokite per „{ $engine }“
about-private-browsing-handoff-text-no-engine = Įveskite adresą arba paieškos žodžius
about-private-browsing-not-private = Šiuo metu jūs esate ne privačiajame lange.
about-private-browsing-info-description-private-window = Privatusis langas: „{ -brand-short-name }“ išvalo jūsų paieškos ir naršymo istoriją, kai užveriate visus privačiuosius langus. Tai nesuteikia jums anonimiškumo.
about-private-browsing-info-description-simplified = „{ -brand-short-name }“ išvalo jūsų paieškos ir naršymo istoriją, kai užveriate visus privačiuosius langus, bet tai nesuteikia jums anonimiškumo.
about-private-browsing-learn-more-link = Sužinoti daugiau

about-private-browsing-hide-activity = Paslėpkite savo veiklą ir buvimo vietą, kad ir kur naršytumėte
about-private-browsing-get-privacy = Gaukite privatumo apsaugą, kad ir kur naršytumėte
about-private-browsing-hide-activity-1 = Paslėpkite naršymo veiklą ir buvimo vietą su „{ -mozilla-vpn-brand-name }“. Vienas spustelėjimas sukuria saugų ryšį, net ir naudojantis viešu „Wi-Fi“.
about-private-browsing-prominent-cta = Išlikite privatūs su „{ -mozilla-vpn-brand-name }“

about-private-browsing-focus-promo-cta = Atsisiųsti „{ -focus-brand-name }“
about-private-browsing-focus-promo-header = „{ -focus-brand-name }“: privatusis naršymas keliaujant
about-private-browsing-focus-promo-text = Mūsų atskira privačiojo naršymo mobilioji programa išvalo jūsų žurnalą ir slapukus kiekvieną kartą.

## The following strings will be used for experiments in Fx99 and Fx100

about-private-browsing-focus-promo-header-b = Pasiimkite privatųjį naršymą į savo telefoną
about-private-browsing-focus-promo-text-b = Naudokite „{ -focus-brand-name }“ toms privačioms paieškoms, kurioms nenorite naudoti savo pagrindinės mobiliojo telefono naršyklės.
about-private-browsing-focus-promo-header-c = Aukštesnio lygio privatumas mobiliajame
about-private-browsing-focus-promo-text-c = „{ -focus-brand-name }“ kiekvieną kartą išvalo jūsų žurnalą, tuo pačiu blokuodama reklamas ir stebėjimo elementus.

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = „{ $engineName }“ yra jūsų numatytoji ieškyklė privačiojo naršymo languose
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Norėdami pasikeisti ieškyklę, eikite į <a data-l10n-name="link-options">Nuostatas</a>
       *[other] Norėdami pasikeisti ieškyklę, eikite į <a data-l10n-name="link-options">Nuostatas</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Užverti

about-private-browsing-promo-close-button =
    .title = Užverti

## Strings used in a “pin promotion” message, which prompts users to pin a private window

