# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = დახურვა
    .aria-label = დახურვა

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = ახლახან

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = ამოკრეფილი ჩანართები
firefoxview-tabpickup-description = გახსენით გვერდები სხვა მოწყობილობიდან.

firefoxview-tabpickup-recenttabs-description = ბოლოდროინდელი ჩანართები აქ გამოჩნდება

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% შესრულებულია

firefoxview-tabpickup-step-signin-header = მოქნილად გადაერთეთ მოწყობილობებს შორის
firefoxview-tabpickup-step-signin-description = თქვენი ტელეფონიდან ჩანართების გადმოსატანად ჯერ შექმენით ან შედით ანგარიშზე.
firefoxview-tabpickup-step-signin-primarybutton = განაგრძეთ

firefoxview-tabpickup-adddevice-header = დაასინქრონეთ { -brand-product-name } თქვენს ტელეფონსა და პლანშეტზე
firefoxview-tabpickup-adddevice-description = ჩამოტვირთეთ { -brand-product-name } მობილურზე და იქიდანაც შედით.
firefoxview-tabpickup-adddevice-learn-how = იხილეთ, როგორ
firefoxview-tabpickup-adddevice-primarybutton = გადმოწერეთ { -brand-product-name } მობილურზე

firefoxview-tabpickup-synctabs-header = ჩანართთა დასინქრონების ჩართვა
firefoxview-tabpickup-synctabs-description = საჭიროა ნებართვა, რომ { -brand-short-name } შეძლებს ჩანართების გაზიარებას.
firefoxview-tabpickup-synctabs-learn-how = იხილეთ, როგორ
firefoxview-tabpickup-synctabs-primarybutton = გახსნილი ჩანართების დასინქრონება

firefoxview-tabpickup-fxa-admin-disabled-header = თქვენი დაწესებულების დებულებებით გათიშულია დასინქრონება
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } ვერ ახერხებს ჩანართების გაზიარებას, ვინაიდან დებულებების მეშვეობითაა გათიშული აღნიშნული შესაძლებლობა.

firefoxview-tabpickup-network-offline-header = შეამოწმეთ ქსელთან კავშირი
firefoxview-tabpickup-network-offline-description = თუ გიყენიათ ქსელის ფარი ან პროქსი, უნდა გადაამოწმოთ, რომ { -brand-short-name } ინტერნეტთან წვდომის ნებართვის მქონეა.
firefoxview-tabpickup-network-offline-primarybutton = ხელახლა ცდა

firefoxview-tabpickup-sync-error-header = სინქრონიზაციის სიძნელეს წავაწყდით
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } ამჟამად ვერ ახერხებს სინქრონიზაციის მომსახურებასთან წვდომას. კვლავ სცადეთ მოგვიანებით.
firefoxview-tabpickup-sync-error-primarybutton = ხელახლა ცდა

firefoxview-tabpickup-sync-disconnected-header = ჩართეთ სინქრონიზაცია, რომ განაგრძოთ
firefoxview-tabpickup-sync-disconnected-description = ჩანართების წამოსაღებად, { -brand-short-name } საჭიროებს სინქრონიზაციის ნებართვას.
firefoxview-tabpickup-sync-disconnected-primarybutton = ჩართეთ სინქრონიზაცია პარამეტრებიდან

firefoxview-tabpickup-syncing = მოკალათდით სინქრონიზაციის დასრულებამდე. ცოტა ხანს გასტანს.

firefoxview-mobile-promo-header = წამოიღეთ ჩანართები ტელეფონიდან ან პლანშეტიდან
firefoxview-mobile-promo-description = ტელეფონში ბოლოს გახსნილი ჩანართების სანახავად, გამოიყენეთ { -brand-product-name } iOS-ზე ან Android-ზე და შედით ანგარიშზე.
firefoxview-mobile-promo-primarybutton = გადმოწერეთ { -brand-product-name } მობილურზე

firefoxview-mobile-confirmation-header = 🎉 ყველაფერი მზადაა!
firefoxview-mobile-confirmation-description = ახლა კი შეგიძლიათ გადმოიტანოთ ის გვერდები, რომელთა გასახსნელადაც { -brand-product-name } გაქვთ გამოყენებული პლანშეტსა თუ ტელეფონზე.

firefoxview-closed-tabs-title = ბოლოს დახურული

firefoxview-closed-tabs-description = კვლავ გახსენით ამ მოწყობილობაზე დახურული გვერდები.

firefoxview-closed-tabs-description2 = კვლავ გახსენით ამ ფანჯარაში დახურული გვერდები.
firefoxview-closed-tabs-placeholder = <strong>ბოლოს დახურული ჩანართები არაა</strong><br/>ნუ შეგეშინდებათ დახურული ჩანართების დაკარგვის. ყოველთვის შეძლებთ აღადგინოთ აქედან.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = ბოლოს მოქმედი

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = გახსენით { $targetURI } ახალ ჩანართში

firefoxview-try-colorways-button = მოსინჯეთ ახალი შეფერილობა
firefoxview-no-current-colorway-collection = ახალი შეფერილობა უკვე გელოდებათ
firefoxview-change-colorway-button = შეფერილობის შეცვლა

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>ჯერ არაფერია სანახავი</strong><br/>შემდეგ ჯერზე გამოიყენეთ { -brand-product-name } სხვა მოწყობილობაზე გვერდის მონასახულებლად და ჯადოსნურად გადმოვა აქაც.

firefoxview-collapse-button-show =
    .title = სიის ჩვენება

firefoxview-collapse-button-hide =
    .title = სიის დამალვა
