# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = 连接其他设备
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. 若您尚未<a data-l10n-name="connect-another-device">在移动设备上安装 Firefox</a>，请先完成安装。

fxa-qrcode-heading-step2 = 2. 打开您移动设备上的 Firefox。

fxa-qrcode-heading-step3 = 3. 打开<b>菜单</b>（<img data-l10n-name="ios-menu-icon"/> 或 <img data-l10n-name="android-menu-icon"/>），点按 <img data-l10n-name="settings-icon"/> <b>设置</b>并选择<b>开启同步</b>

fxa-qrcode-heading-step4 = 4. 扫描此二维码：

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = 与您的手机或平板电脑同步 { -brand-product-name }
fxa-qrcode-pair-step1 = 1. 打开您移动设备上的 { -brand-product-name }。

fxa-qrcode-pair-step2 = 2. 打开<strong>菜单</strong>（iOS 上的 <img data-l10n-name="ios-menu-icon"/> 或 Android 上的 <img data-l10n-name="android-menu-icon"/>），点按<strong>登录同步服务</strong>

fxa-qrcode-pair-step3 = 3. 点按<strong>扫描就绪</strong>，将手机对准二维码

fxa-qrcode-error-title = 配对失败。

fxa-qrcode-error-body = 请重试。
