# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Connecter un autre appareil
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Si ce n’est pas déjà fait, installez <a data-l10n-name="connect-another-device">Firefox sur votre appareil mobile</a>.

fxa-qrcode-heading-step2 = 2. Ouvrez Firefox sur votre appareil mobile.

fxa-qrcode-heading-step3 = 3. Ouvrez le <b>menu</b> (<img data-l10n-name="ios-menu-icon"/> ou <img data-l10n-name="android-menu-icon"/>), appuyez sur <img data-l10n-name="settings-icon"/> <b>Paramètres</b> et sélectionnez <b>Activer Sync</b>

fxa-qrcode-heading-step4 = 4. Scannez ce code :

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Synchronisez { -brand-product-name } avec votre téléphone ou votre tablette
fxa-qrcode-pair-step1 = 1. Ouvrez { -brand-product-name } sur votre appareil mobile

fxa-qrcode-pair-step2 = 2. Ouvrez le <strong>menu</strong> (<img data-l10n-name="ios-menu-icon"/> sous iOS ou <img data-l10n-name="android-menu-icon"/> sous Android) et appuyez sur <strong>Se connecter pour synchroniser</strong>

fxa-qrcode-pair-step3 = 3. Appuyez sur <strong>Prêt·e à scanner</strong> et maintenez votre appareil au-dessus de ce code

fxa-qrcode-error-title = Échec de l’association.

fxa-qrcode-error-body = Veuillez réessayer.
