# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = Itxi
    .aria-label = Itxi

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Oraintxe bertan

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Fitxa-bilketa
firefoxview-tabpickup-description = Ireki orriak beste gailuetatik.

firefoxview-tabpickup-recenttabs-description = Azken fitxen zerrenda hemen joango litzateke

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = %{ $percentValue } osatuta

firefoxview-tabpickup-step-signin-header = Aldatu di-da batean gailuen artean
firefoxview-tabpickup-step-signin-description = Zure telefonoko fitxak hemen izateko, hasi saioa edo sortu kontua lehenik.
firefoxview-tabpickup-step-signin-primarybutton = Jarraitu

firefoxview-tabpickup-adddevice-header = Sinkronizatu { -brand-product-name } zure telefono edo tabletan
firefoxview-tabpickup-adddevice-description = Deskargatu mugikorrerako { -brand-product-name } eta hasi saioa bertan.
firefoxview-tabpickup-adddevice-learn-how = Ikasi nola
firefoxview-tabpickup-adddevice-primarybutton = Eskuratu mugikorrerako { -brand-product-name }

firefoxview-tabpickup-synctabs-header = Gaitu fitxen sinkronizazioa
firefoxview-tabpickup-synctabs-description = Baimendu { -brand-short-name }(r)i gailuen artean fitxak partekatzea.
firefoxview-tabpickup-synctabs-learn-how = Ikasi nola
firefoxview-tabpickup-synctabs-primarybutton = Sinkronizatu irekitako fitxak

firefoxview-tabpickup-fxa-admin-disabled-header = Zure erakundeak sinkronizazioa desgaitu du
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name }(e)k ezin ditu gailuen arteko fitxak sinkronizatu zure administratzaileak sinkronizazioa desgaitu duelako.

firefoxview-tabpickup-network-offline-header = Egiaztatu zure Interneterako konexioa
firefoxview-tabpickup-network-offline-description = Suebaki edo proxy bat erabiltzen baduzu, egiaztatu { -brand-short-name }(e)k weba atzitzeko baimena duela.
firefoxview-tabpickup-network-offline-primarybutton = Saiatu berriro

firefoxview-tabpickup-sync-error-header = Sinkronizatzeko arazoak izaten ari gara
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name }(e)k ezin du sinkronizazio-zerbitzura heldu une honetan. Saiatu berriro geroago.
firefoxview-tabpickup-sync-error-primarybutton = Saiatu berriro

firefoxview-tabpickup-sync-disconnected-header = Jarraitzeko, aktibatu sinkronizazioa
firefoxview-tabpickup-sync-disconnected-description = Zure fitxak eskura izateko, sinkronizazioa gaitu behar duzu { -brand-short-name }(e)n.
firefoxview-tabpickup-sync-disconnected-primarybutton = Aktibatu sinkronizazioa ezarpenetan

firefoxview-tabpickup-syncing = Itxaron apur bat zure fitxak sinkronizatu bitartean. Une bat izango da soilik.

firefoxview-mobile-promo-header = Hartu zure telefono edo tabletako fitxak
firefoxview-mobile-promo-description = Zure mugikorreko azken fitxak ikusteko, hasi saioa iOS edo Androideko { -brand-product-name }(e)n.
firefoxview-mobile-promo-primarybutton = Eskuratu mugikorrerako { -brand-product-name }

firefoxview-mobile-confirmation-header = 🎉 Dena prest!
firefoxview-mobile-confirmation-description = Hemendik aurrera zure tableta edo telefonoko { -brand-product-name }(e)n fitxak hartu ahal izango dituzu.

firefoxview-closed-tabs-title = Itxitako azkenak

firefoxview-closed-tabs-description = Berrireki gailu honetan itxi dituzun orriak.

firefoxview-closed-tabs-placeholder = <strong>Itxitako azken orririk ez</strong><br/>Ez izan itxitako fitxak galtzeko beldurrik. Edozein unetan berreskura ditzakezu hemen.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Erabilitako azkena

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Ireki { $targetURI } fitxa berrian

firefoxview-try-colorways-button = Probatu kolore-konbinazioak
firefoxview-no-current-colorway-collection = Kolore-konbinazio berriak bidean dira
firefoxview-change-colorway-button = Aldatu kolore-konbinazioa

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>Momentuz ikustekorik ez</strong><br/>Beste gailu batean { -brand-product-name } irekitzen duzun hurrengo aldian, esku-eskura izango duzu hemen.

firefoxview-collapse-button-show =
    .title = Erakutsi zerrenda

firefoxview-collapse-button-hide =
    .title = Ezkutatu zerrenda
