# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Hubungkan Perangkat Lainnya
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Jika belum, instal <a data-l10n-name="connect-another-device">Firefox pada perangkat seluler Anda</a>.

fxa-qrcode-heading-step2 = 2. Buka Firefox di perangkat seluler Anda.

fxa-qrcode-heading-step3 = 3. Buka <b>menu</b> (<img data-l10n-name="ios-menu-icon" /> atau <img data-l10n-name="android-menu-icon" />), ketuk <img data-l10n-name="settings-icon" /> <b>Pengaturan</b> dan pilih <b>Aktifkan Sinkronisasi</b>

fxa-qrcode-heading-step4 = 4. Pindai kode ini:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Sinkronkan { -brand-product-name } di ponsel atau tablet Anda
fxa-qrcode-pair-step1 = 1. Buka { -brand-product-name } di perangkat seluler Anda.

fxa-qrcode-pair-step2 = 2. Buka <strong>menu</strong> (<img data-l10n-name="ios-menu-icon"/> di iOS atau <img data-l10n-name="android-menu-icon"/> di Android) dan ketuk <strong>Masuk untuk sinkronisasi</strong>

fxa-qrcode-pair-step3 = 3. Ketuk <strong>Siap Memindai</strong> dan arahkan kamera ponsel Anda ke kode ini

fxa-qrcode-error-title = Pemasangan gagal.

fxa-qrcode-error-body = Coba lagi.
