# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = Κλείσιμο
    .aria-label = Κλείσιμο

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Μόλις τώρα

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Συγχρονισμός καρτελών
firefoxview-tabpickup-description = Ανοίξτε σελίδες από άλλες συσκευές.

firefoxview-tabpickup-recenttabs-description = Η λίστα πρόσφατων καρτελών πηγαίνει εδώ

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = Ολοκλήρωση κατά { $percentValue }%

firefoxview-tabpickup-step-signin-header = Απρόσκοπτη εναλλαγή μεταξύ συσκευών
firefoxview-tabpickup-step-signin-description = Για να φέρετε τις καρτέλες του τηλεφώνου σας εδώ, κάντε πρώτα σύνδεση ή δημιουργήστε έναν λογαριασμό.
firefoxview-tabpickup-step-signin-primarybutton = Συνέχεια

firefoxview-tabpickup-adddevice-header = Συγχρονισμός του { -brand-product-name } στις κινητές σας συσκευές
firefoxview-tabpickup-adddevice-description = Κάντε λήψη του { -brand-product-name } για κινητές συσκευές και συνδεθείτε εκεί.
firefoxview-tabpickup-adddevice-learn-how = Μάθετε πώς
firefoxview-tabpickup-adddevice-primarybutton = Λήψη του { -brand-product-name } για κινητά

firefoxview-tabpickup-synctabs-header = Ενεργοποίηση συγχρονισμού καρτελών
firefoxview-tabpickup-synctabs-description = Επιτρέψτε στο { -brand-short-name } να κάνει κοινή χρήση καρτελών μεταξύ συσκευών.
firefoxview-tabpickup-synctabs-learn-how = Μάθετε πώς
firefoxview-tabpickup-synctabs-primarybutton = Συγχρονισμός ανοικτών καρτελών

firefoxview-tabpickup-fxa-admin-disabled-header = Ο οργανισμός σας έχει απενεργοποιήσει τον συγχρονισμό
firefoxview-tabpickup-fxa-admin-disabled-description = Το { -brand-short-name } δεν μπορεί να συγχρονίσει τις καρτέλες μεταξύ συσκευών, επειδή ο διαχειριστής σας έχει απενεργοποιήσει τον συγχρονισμό.

firefoxview-tabpickup-network-offline-header = Ελέγξτε τη σύνδεσή σας στο διαδίκτυο
firefoxview-tabpickup-network-offline-description = Εάν χρησιμοποιείτε τείχος προστασίας ή διακομιστή μεσολάβησης, ελέγξτε ότι το { -brand-short-name } έχει άδεια πρόσβασης στο διαδίκτυο.
firefoxview-tabpickup-network-offline-primarybutton = Δοκιμή ξανά

firefoxview-tabpickup-sync-error-header = Υπάρχει πρόβλημα με τον συγχρονισμό
firefoxview-tabpickup-generic-sync-error-description = Το { -brand-short-name } δεν μπορεί να επικοινωνήσει με την υπηρεσία συγχρονισμού αυτήν τη στιγμή. Δοκιμάστε ξανά σε λίγα λεπτά.
firefoxview-tabpickup-sync-error-primarybutton = Δοκιμή ξανά

firefoxview-tabpickup-sync-disconnected-header = Ενεργοποιήστε τον συγχρονισμό για να συνεχίσετε
firefoxview-tabpickup-sync-disconnected-description = Για να λάβετε τις καρτέλες σας, θα πρέπει να επιτρέψετε τον συγχρονισμό στο { -brand-short-name }.
firefoxview-tabpickup-sync-disconnected-primarybutton = Ενεργοποιήστε τον συγχρονισμό στις ρυθμίσεις

firefoxview-tabpickup-syncing = Περιμένετε μέχρι να συγχρονιστούν οι καρτέλες σας. Θα χρειαστεί μόνο μια στιγμή.

firefoxview-mobile-promo-header = Λάβετε καρτέλες από το τηλέφωνο ή το tablet σας
firefoxview-mobile-promo-description = Για να δείτε τις πρόσφατες καρτέλες από την κινητή σας συσκευή, συνδεθείτε στο { -brand-product-name } για iOS ή Android.
firefoxview-mobile-promo-primarybutton = Λήψη του { -brand-product-name } για κινητά

firefoxview-mobile-confirmation-header = 🎉 Όλα έτοιμα!
firefoxview-mobile-confirmation-description = Μπορείτε πλέον να λάβετε τις καρτέλες σας από το { -brand-product-name } του tablet ή του τηλεφώνου σας.

firefoxview-closed-tabs-title = Πρόσφατα κλεισμένες

firefoxview-closed-tabs-description = Ανοίξτε ξανά τις σελίδες που κλείσατε σε αυτήν τη συσκευή.

firefoxview-closed-tabs-description2 = Ανοίξτε ξανά τις σελίδες που κλείσατε σε αυτό το παράθυρο.
firefoxview-closed-tabs-placeholder = <strong>Δεν έκλεισε καμία σελίδα πρόσφατα</strong><br/>Μην φοβάστε το ενδεχόμενο απώλειας καρτελών. Μπορείτε πάντα να τις ανακτήσετε εδώ.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Πρόσφατα ενεργή

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Άνοιγμα { $targetURI } σε νέα καρτέλα

firefoxview-try-colorways-button = Δοκιμή χρωματικών συνδυασμών
firefoxview-no-current-colorway-collection = Έρχονται νέοι χρωματικοί συνδυασμοί
firefoxview-change-colorway-button = Αλλαγή χρωματικού συνδυασμού

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>Δεν υπάρχει τίποτα ακόμα</strong><br/>Την επόμενη φορά που θα ανοίξετε μια σελίδα στο { -brand-product-name } μιας άλλης συσκευής, αυτή θα εμφανιστεί μαγικά εδώ.

firefoxview-collapse-button-show =
    .title = Εμφάνιση λίστας

firefoxview-collapse-button-hide =
    .title = Απόκρυψη λίστας
