# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = 連結其他裝置
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. 若尚未<a data-l10n-name="connect-another-device">在您的行動裝置安裝 Firefox</a>，請先安裝。

fxa-qrcode-heading-step2 = 2. 在您的行動裝置開啟 Firefox。

fxa-qrcode-heading-step3 = 3. 開啟<b>選單</b>（<img data-l10n-name="ios-menu-icon"/>或<img data-l10n-name="android-menu-icon"/>），然後點擊<img data-l10n-name="settings-icon"/><b>設定</b>然後選擇<b>開啟 Sync</b>

fxa-qrcode-heading-step4 = 4. 掃描這組 QR Code:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = 與您的手機或平板電腦同步 { -brand-product-name }
fxa-qrcode-pair-step1 = 1. 在您的行動裝置開啟 { -brand-product-name }

fxa-qrcode-pair-step2 = 2. 開啟<strong>選單</strong>（在 iOS 是 <img data-l10n-name="ios-menu-icon"/>，或在 Android 是 <img data-l10n-name="android-menu-icon"/>），然後點擊<strong>登入 Sync</strong>

fxa-qrcode-pair-step3 = 3. 點擊<strong>準備好了，開始掃描！</strong>，並且掃描這組 QR Code

fxa-qrcode-error-title = 配對失敗。

fxa-qrcode-error-body = 重試。
