# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = Đóng
    .aria-label = Đóng

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Vừa xong

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Các thẻ trên thiết bị khác
firefoxview-tabpickup-description = Mở trang từ các thiết bị khác.

firefoxview-tabpickup-recenttabs-description = Danh sách các thẻ gần đây sẽ hiện ở đây

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% hoàn thành

firefoxview-tabpickup-step-signin-header = Chuyển đổi liền mạch giữa các thiết bị
firefoxview-tabpickup-step-signin-description = Để truy cập các thẻ điện thoại của bạn tại đây, trước tiên hãy đăng nhập hoặc tạo tài khoản.
firefoxview-tabpickup-step-signin-primarybutton = Tiếp tục

firefoxview-tabpickup-adddevice-header = Đồng bộ hóa { -brand-product-name } trên điện thoại hoặc máy tính bảng của bạn
firefoxview-tabpickup-adddevice-description = Tải xuống { -brand-product-name } cho điện thoại di động và đăng nhập vào đó.
firefoxview-tabpickup-adddevice-learn-how = Tìm hiểu cách làm
firefoxview-tabpickup-adddevice-primarybutton = Tải { -brand-product-name } dành cho điện thoại di động

firefoxview-tabpickup-synctabs-header = Bật đồng bộ hóa thẻ
firefoxview-tabpickup-synctabs-description = Cho phép { -brand-short-name } chia sẻ các thẻ giữa các thiết bị.
firefoxview-tabpickup-synctabs-learn-how = Tìm hiểu cách làm
firefoxview-tabpickup-synctabs-primarybutton = Đồng bộ hóa các thẻ đang mở

firefoxview-tabpickup-fxa-admin-disabled-header = Tổ chức của bạn đã tắt đồng bộ hóa
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } không thể đồng bộ hóa các thẻ giữa các thiết bị vì quản trị viên của bạn đã tắt đồng bộ hóa.

firefoxview-tabpickup-network-offline-header = Kiểm tra kết nối Internet của bạn
firefoxview-tabpickup-network-offline-description = Nếu bạn đang sử dụng tường lửa hoặc proxy, hãy kiểm tra xem { -brand-short-name } có quyền truy cập web hay không.
firefoxview-tabpickup-network-offline-primarybutton = Thử lại

firefoxview-tabpickup-sync-error-header = Chúng tôi đang gặp sự cố khi đồng bộ hóa
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } hiện không thể đồng bộ hóa với dịch vụ. Hãy thử lại sau vài phút.
firefoxview-tabpickup-sync-error-primarybutton = Thử lại

firefoxview-tabpickup-sync-disconnected-header = Bật đồng bộ hóa để tiếp tục
firefoxview-tabpickup-sync-disconnected-description = Để lấy các thẻ của bạn, bạn cần cho phép đồng bộ hóa trong { -brand-short-name }.
firefoxview-tabpickup-sync-disconnected-primarybutton = Bật đồng bộ hóa trong cài đặt

firefoxview-tabpickup-syncing = Thoải mái ngồi yên trong khi các thẻ của bạn đồng bộ hóa. Thông thường nó sẽ chỉ mất vài phút.

firefoxview-mobile-promo-header = Nhận các thẻ từ điện thoại hoặc máy tính bảng của bạn
firefoxview-mobile-promo-description = Để xem các thẻ trên di động mới nhất của bạn, hãy đăng nhập vào { -brand-product-name } trên iOS hoặc Android.
firefoxview-mobile-promo-primarybutton = Tải { -brand-product-name } dành cho di động

firefoxview-mobile-confirmation-header = 🎉 Tất cả đã xong!
firefoxview-mobile-confirmation-description = Giờ đây, bạn có thể nhận các thẻ { -brand-product-name } từ máy tính bảng hoặc điện thoại của mình.

firefoxview-closed-tabs-title = Đã đóng gần đây

firefoxview-closed-tabs-description = Mở lại các trang bạn đã đóng trên thiết bị này.

firefoxview-closed-tabs-description2 = Mở lại các trang bạn đã đóng trong cửa sổ này.
firefoxview-closed-tabs-placeholder = <strong>Không có trang nào đã đóng gần đây</strong><br/>Không bao giờ sợ mất một thẻ đã đóng nữa. Bạn luôn có thể thấy nó ở đây.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Hoạt động lần cuối

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Mở { $targetURI } trong một thẻ mới

firefoxview-try-colorways-button = Thử đường màu
firefoxview-no-current-colorway-collection = Các đường màu mới đang được triển khai
firefoxview-change-colorway-button = Thay đổi đường màu

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>Chưa có gì để xem</strong><br/>Lần tới khi bạn mở một trang trong { -brand-product-name } trên thiết bị khác, hãy lấy nó ở đây như một phép thuật.

firefoxview-collapse-button-show =
    .title = Hiển thị danh sách

firefoxview-collapse-button-hide =
    .title = Ẩn danh sách
