# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = Začinić
    .aria-label = Začinić

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Runje

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Synchronizowane rajtarki
firefoxview-tabpickup-description = Wočińće strony z druhich gratow.

firefoxview-tabpickup-recenttabs-description = Tu so lisćina najnowšich rajtarkow pokaza

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue } % dokónčene

firefoxview-tabpickup-step-signin-header = Přeńdźće bjezposrědnje mjez gratami
firefoxview-tabpickup-step-signin-description = Zo byšće tu rajtarki swojeho šmóratka dóstał, přizjewće so najprjedy abo załožće konto.
firefoxview-tabpickup-step-signin-primarybutton = Dale

firefoxview-tabpickup-adddevice-header = Synchronizujće { -brand-product-name } na swojim telefonje abo tableće
firefoxview-tabpickup-adddevice-description = Sćehńće { -brand-product-name } za mobilne graty a přizjewće so tam.
firefoxview-tabpickup-adddevice-learn-how = Zhońće kak
firefoxview-tabpickup-adddevice-primarybutton = { -brand-product-name } za mobilny grat wobstarać

firefoxview-tabpickup-synctabs-header = Synchronizaciju rajtarkow zmóžnić
firefoxview-tabpickup-synctabs-description = { -brand-short-name } dowolić, rajtarki mjez gratami dźělić.
firefoxview-tabpickup-synctabs-learn-how = Zhońće kak
firefoxview-tabpickup-synctabs-primarybutton = Wočinjene rajtarki synchronizować

firefoxview-tabpickup-fxa-admin-disabled-header = Waša organizacija je synchronizaciju znjemóžniła
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } njemóže rajtarki mjez gratami synchronizować, dokelž waš administrator je synchronizowanje znjemóžnił.

firefoxview-tabpickup-network-offline-header = Přepruwujće swój internetny zwisk
firefoxview-tabpickup-network-offline-description = Jeli wohnjowu murju abo proksy wužiwaće, přepruwujće, hač { -brand-short-name } ma prawo na přistup k internetej.
firefoxview-tabpickup-network-offline-primarybutton = Hišće raz spytać

firefoxview-tabpickup-sync-error-header = Mamy problemy ze synchronizaciju
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } njemóže tuchwilu synchronizowansku słužbu docpěć. Spytajće za někotre wokomiki hišće raz.
firefoxview-tabpickup-sync-error-primarybutton = Hišće raz spytać

firefoxview-tabpickup-sync-disconnected-header = Zmóžńće synchronizaciju, zo byšće pokročował
firefoxview-tabpickup-sync-disconnected-description = Za přistup k swojim rajtarkam dyrbiće synchronizaciju w { -brand-short-name } dowolić.
firefoxview-tabpickup-sync-disconnected-primarybutton = Synchronizaciju w nastajenjach zmóžnić

firefoxview-tabpickup-syncing = Wočakajće, mjeztym zo so waše rajtarki synchronizuja. Budźe jenož wokomik trać.

firefoxview-mobile-promo-header = Wobstarajće sej rajtarki ze swojeho šmóratka abo tableta
firefoxview-mobile-promo-description = Zo byšće sej swoje najnowše mobilne rajtarki wobhladował, přizjewće so pola { -brand-product-name } na iOS abo Android.
firefoxview-mobile-promo-primarybutton = { -brand-product-name } za mobilny grat wobstarać

firefoxview-mobile-confirmation-header = 🎉 Wšitko hotowe!
firefoxview-mobile-confirmation-description = Nětko móžeće swoje rajtarki { -brand-product-name } ze swojeho tableta abo šmóratka wobstarać.

firefoxview-closed-tabs-title = Njedawno začinjene

firefoxview-closed-tabs-description = Wočińće strony znowa, kotrež sće na tutym graće začinił.

firefoxview-closed-tabs-description2 = Wočińće strony znowa, kotrež sće w tutym woknje začinił.
firefoxview-closed-tabs-placeholder = <strong>Žane njedawno začinjene strony</strong><br/>Njebojće so ženje začinjeny rajtark zaso zhubić. Móžeće jón přeco tu zaso dóstać.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Posledni raz aktiwny

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = { $targetURI } w nowym rajtarku wočinić

firefoxview-try-colorways-button = Barbowe kombinacije wupruwować
firefoxview-no-current-colorway-collection = Nowe barbowe kombinacije so přihotuja
firefoxview-change-colorway-button = Barbowu kombinaciju změnić

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>Hišće ničo widźeć njeje</strong><br/>Přichodny raz, hdyž stronu w { -brand-product-name } na druhim graće wočinjeće, wobstarajće ju tu na magiske wašnje.

firefoxview-collapse-button-show =
    .title = Lisćinu pokazać

firefoxview-collapse-button-hide =
    .title = Lisćinu schować
