# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = 關閉
    .aria-label = 關閉

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = 剛剛

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = 接收分頁
firefoxview-tabpickup-description = 開啟其他裝置上的頁面。

firefoxview-tabpickup-recenttabs-description = 近期開啟的分頁將顯示於此處

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = 完成 { $percentValue }%

firefoxview-tabpickup-step-signin-header = 無縫切換裝置
firefoxview-tabpickup-step-signin-description = 請先登入或註冊帳號，即可在此處接收手機上的分頁。
firefoxview-tabpickup-step-signin-primarybutton = 繼續

firefoxview-tabpickup-adddevice-header = 與您的手機或平板電腦同步 { -brand-product-name }
firefoxview-tabpickup-adddevice-description = 下載 { -brand-product-name } 行動版並在該裝置登入。
firefoxview-tabpickup-adddevice-learn-how = 了解要怎麼做
firefoxview-tabpickup-adddevice-primarybutton = 下載 { -brand-product-name } 行動版

firefoxview-tabpickup-synctabs-header = 開啟分頁同步
firefoxview-tabpickup-synctabs-description = 允許 { -brand-short-name } 在不同裝置間分享分頁。
firefoxview-tabpickup-synctabs-learn-how = 了解要怎麼做
firefoxview-tabpickup-synctabs-primarybutton = 同步開啟的分頁

firefoxview-tabpickup-fxa-admin-disabled-header = 您的組織已停用同步功能
firefoxview-tabpickup-fxa-admin-disabled-description = 由於您的管理員已停用同步功能，{ -brand-short-name } 無法在裝置間同步分頁。

firefoxview-tabpickup-network-offline-header = 請檢查您的網際網路連線是否正常
firefoxview-tabpickup-network-offline-description = 若您在防火牆或代理伺服器後面，請確認 { -brand-short-name } 可連線至網際網路。
firefoxview-tabpickup-network-offline-primarybutton = 重試

firefoxview-tabpickup-sync-error-header = 同步時遇到問題
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } 暫時無法連線到同步服務，請稍候幾分鐘再試一次。
firefoxview-tabpickup-sync-error-primarybutton = 再試一次

firefoxview-tabpickup-sync-disconnected-header = 開啟同步功能即可繼續
firefoxview-tabpickup-sync-disconnected-description = 若要取得您的分頁，需要先在 { -brand-short-name } 開啟同步功能。
firefoxview-tabpickup-sync-disconnected-primarybutton = 到設定中開啟

firefoxview-tabpickup-syncing = 稍等分頁進行同步，只要一下下即可。

firefoxview-mobile-promo-header = 在手機或平板電腦接收分頁
firefoxview-mobile-promo-description = 若要檢視您最新的行動分頁，請登入 iOS 或 Android 上的 { -brand-product-name }。
firefoxview-mobile-promo-primarybutton = 下載 { -brand-product-name } 行動版

firefoxview-mobile-confirmation-header = 🎉都搞定了！
firefoxview-mobile-confirmation-description = 您現在可以直接開啟平板電腦或手機上的 { -brand-product-name } 分頁。

firefoxview-closed-tabs-title = 最近關閉的分頁

firefoxview-closed-tabs-description = 重新開啟您最近在此裝置關閉的分頁。

firefoxview-closed-tabs-description2 = 重新開啟您最近在此視窗關閉的分頁。
firefoxview-closed-tabs-placeholder = <strong>沒有最近關閉的頁面</strong><br/>免擔心遺失關閉的分頁，可隨時在此重新取回。

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = 最後開啟

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = 用新分頁開啟 { $targetURI }

firefoxview-try-colorways-button = 嘗試 Colorways
firefoxview-no-current-colorway-collection = 新配色即將抵達
firefoxview-change-colorway-button = 更改配色

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>尚無資料</strong><br/>下次您在其他裝置上的 { -brand-product-name } 開啟頁面時，也可以在此同步開啟。

firefoxview-collapse-button-show =
    .title = 顯示清單

firefoxview-collapse-button-hide =
    .title = 隱藏清單
