# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# Localized string used as the dialog window title.
# "Report" is a noun in this case, "Report for AddonName".
#
# Variables:
#   $addon-name (string) - Name of the add-on being reported
abuse-report-dialog-title = { $addon-name } ਲਈ ਰਿਪੋਰਟ ਕਰੋ

abuse-report-title-extension = { -vendor-short-name } ਨੂੰ ਇਸ ਇਕਸਨੈਸ਼ਨ ਬਾਰੇ ਜਾਣਕਾਰੀ ਦਿਓ
abuse-report-title-sitepermission = ਇਸ ਸਾਈਟ ਇਜਾਜ਼ਤਾਂ ਐਡ-ਆਨ ਬਾਰੇ { -vendor-short-name } ਨੂੰ ਰਿਪੋਰਟ ਕਰੋ
abuse-report-title-theme = ਇਹ ਥੀਮ ਬਾਰੇ { -vendor-short-name } ਨੂੰ ਰਿਪੋਰਟ ਕਰੋ
abuse-report-subtitle = ਕੀ ਸਮੱਸਿਆ ਹੈ?

# Variables:
#   $author-name (string) - Name of the add-on author
abuse-report-addon-authored-by = <a data-l10n-name="author-name">{ $author-name }</a> ਵਲੋਂ

abuse-report-learnmore =
    ਪੱਕਾ ਨਹੀਂ ਕਿ ਕਿਹੜਾ ਮਸਲਾ ਚੁਣਨਾ ਹੈ?
    <a data-l10n-name="learnmore-link">ਇਕਸਟੈਨਸ਼ਨਾਂ ਤੇ ਥੀਮਾਂ ਬਾਰੇ ਰਿਪੋਰਟ ਕਰਨ ਬਾਰੇ ਹੋਰ ਸਿੱਖੋ</a>

abuse-report-submit-description = ਸਮੱਸਿਆ ਬਾਰੇ ਜਾਣਕਾਰੀ ਦਿਓ (ਚੋਣਵਾਂ)
abuse-report-textarea =
    .placeholder = ਜੇ ਅਸੀਂ ਸਮੱਸਿਆ ਦੱਸੀਏ ਤਾਂ ਸਾਡੇ ਲਈ ਉਸ ਦਾ ਹੱਲ਼ ਲੱਭਣਾ ਸੌਖਾ ਹੁੰਦਾ ਹੈ। ਕਿਰਪਾ ਕਰਕੇ ਆਪਣੇ ਤਜਰਬੇ ਬਾਰੇ ਦੱਸੋ। ਵਧੀਆ ਵੈੱਬ ਬਣਾਈ ਰੱਖਣ ਲਈ ਸਾਡੀ ਮਦਦ ਕਰਨ ਵਾਸਤੇ ਤੁਹਾਡਾ ਧੰਨਵਾਦ ਹੈ।
abuse-report-submit-note = ਨੋਟ: ਨਿੱਜੀ ਜਾਣਕਾਰੀ ਨਾ ਸ਼ਾਮਲ ਕਰੋ (ਜਿਵੇਂ ਕਿ ਨਾਂ, ਈਮੇਲ ਸਿਰਨਾਵਾਂ, ਫ਼ੋਨ ਨੰਬਰ, ਭੂਗੋਲਿਕ ਸਿਰਨਾਵਾਂ)। { -vendor-short-name } ਇਹਨਾਂ ਰਿਪੋਰਟਾਂ ਦਾ ਪੱਕਾ ਰਿਕਾਰਡ ਰੱਖਦਾ ਹੈ।

## Panel buttons.

abuse-report-cancel-button = ਰੱਦ ਕਰੋ
abuse-report-next-button = ਅੱਗੇ
abuse-report-goback-button = ਪਿੱਛੇ ਜਾਓ
abuse-report-submit-button = ਭੇਜੋ

## Message bars descriptions.
##
## Variables:
##   $addon-name (string) - Name of the add-on

abuse-report-messagebar-aborted = <span data-l10n-name="addon-name">{ $addon-name } ਲਈ ਰਿਪੋਰਟ ਰੱਦ ਕੀਤੀ ਹੈ।
abuse-report-messagebar-submitting = <span data-l10n-name="addon-name">{ $addon-name }</span> ਲਈ ਰਿਪੋਰਟ ਭੇਜੀ ਜਾ ਰਹੀ ਹੈ।
abuse-report-messagebar-submitted = ਰਿਪੋਰਟ ਭੇਜਣ ਲਈ ਤੁਹਾਡਾ ਧੰਨਵਾਦ ਹੈ। ਕੀ ਤੁਸੀਂ <span data-l10n-name="addon-name">{ $addon-name }</span> ਨੂੰ ਹਟਾਉਣਾ ਚਾਹੁੰਦੇ ਹੋ?
abuse-report-messagebar-submitted-noremove = ਰਿਪੋਰਟ ਭੇਜਣ ਲਈ ਤੁਹਾਡਾ ਧੰਨਵਾਦ ਹੈ।
abuse-report-messagebar-removed-extension = ਰਿਪੋਰਟ ਭੇਜਣ ਲਈ ਤੁਹਾਡਾ ਧੰਨਵਾਦ ਹੈ। ਤੁਸੀਂ ਇਕਟੈਨਸ਼ਨ <span data-l10n-name="addon-name">{ $addon-name }</span> ਨੂੰ ਹਟਾ ਚੁੱਕੇ ਹੋ।
abuse-report-messagebar-removed-sitepermission = ਰਿਪੋਰਟ ਦੇਣ ਲਈ ਤੁਹਾਡਾ ਧੰਨਵਾਦ ਹੈ। ਤੁਸੀਂ <span data-l10n-name="addon-name">{ $addon-name }</span> ਐਡ-ਆਨ ਲਈ ਸਾਈਟ ਇਜਾਜ਼ਤਾਂ ਨੂੰ ਹਟਾ ਦਿੱਤਾ ਹੈ।
abuse-report-messagebar-removed-theme = ਰਿਪੋਰਟ ਭੇਜਣ ਲਈ ਤੁਹਾਡਾ ਧੰਨਵਾਦ ਹੈ। ਤੁਸੀਂ ਥੀਮ  <span data-l10n-name="addon-name">{ $addon-name }</span> ਨੂੰ ਹਟਾ ਚੁੱਕੇ ਹੋ।
abuse-report-messagebar-error = <span data-l10n-name="addon-name">{ $addon-name }</span> ਬਾਰੇ ਰਿਪੋਰਟ ਭੇਜਣ ਦੌਰਾਨ ਗਲਤੀ ਆਈ ਹੈ।
abuse-report-messagebar-error-recent-submit = ਹੁਣੇ ਹੁਣੇ ਇੱਕ ਹੋਰ ਰਿਪੋਰਟ ਭੇਜੀ ਜਾਣ ਕਰਕੇ <span data-l10n-name="addon-name">{ $addon-name }</span> ਬਾਰੇ ਰਿਪੋਰਟ ਭੇਜੀ ਨਹੀਂ ਗਈ ਸੀ।

## Message bars actions.

abuse-report-messagebar-action-remove-extension = ਹਾਂ, ਇਹ ਹਟਾਓ
abuse-report-messagebar-action-keep-extension = ਨਹੀਂ, ਮੈਂ ਰੱਖਾਂਗਾਂ/ਰੱਖਾਂਗੀ
abuse-report-messagebar-action-remove-sitepermission = ਹਾਂ, ਹਟਾਇਆ ਹੈ
abuse-report-messagebar-action-keep-sitepermission = ਨਹੀਂ, ਰੱਖਾਂਗੇ
abuse-report-messagebar-action-remove-theme = ਹਾਂ, ਇਹ ਹਟਾਓ
abuse-report-messagebar-action-keep-theme = ਨਹੀਂ, ਮੈਂ ਇਹ ਰੱਖਾਂਗਾ/ਰੱਖਾਂਗੀ
abuse-report-messagebar-action-retry = ਮੁੜ-ਕੋਸ਼ਿਸ਼ ਕਰੋ
abuse-report-messagebar-action-cancel = ਰੱਦ ਕਰੋ

## Abuse report reasons (optionally paired with related examples and/or suggestions)

abuse-report-damage-reason-v2 = ਇਸ ਨੇ ਮੇਰੇ ਕੰਪਿਊਟਰ ਨੂੰ ਨੁਕਸਾਨ ਕੀਤਾ ਜਾਂ ਮੇਰੇ ਡਾਟੇ ਨਾਲ ਛੇੜਛਾੜ ਕੀਤੀ
abuse-report-damage-example = ਉਦਾਹਰਨ: ਪਾਇਆ ਹੋਇਆ ਮਾਲਵੇਅਰ ਜਾਂ ਡਾਟਾ ਚੋਰੀ

abuse-report-spam-reason-v2 = ਇਸ ਵਿੱਚ ਸਮੈਪ ਜਾਂ ਅਣਚਾਹੇ ਇਸ਼ਤਿਹਾਰ ਪਾਏ ਹੋ ਸਕਦੇ ਹਨ
abuse-report-spam-example = ਉਦਾਹਰਨ: ਵੈੱਬ-ਸਫ਼ਿਆਂ ਵਿੱਚ ਇਸ਼ਤਿਹਾਰ ਪਾਓ

abuse-report-settings-reason-v2 = ਇਸ ਨੇ ਮੇਰਾ ਖੋਜ ਇੰਜਣ, ਮੁੱਖ ਸਫ਼ਾ ਜਾਂ ਨਵੀਂ ਟੈਬ ਮੈਨੂੰ ਬਿਨਾਂ ਦੱਸੇ ਜਾਂ ਪੁੱਛੇ ਬਦਲੀ ਹੈ
abuse-report-settings-suggestions = ਇਕਸਟੈਨਸ਼ਨ ਬਾਰੇ ਰਿਪੋਰਟ ਕਰਨ ਤੋਂ ਪਹਿਲਾਂ ਤੁਸੀਂ ਆਪਣੀਆਂ ਸੈਟਿੰਗਾਂ ਨੂੰ ਬਦਲ ਕੇ ਵੇਖ ਸਕਦੇ ਹੋ:
abuse-report-settings-suggestions-search = ਮੇਰੀਆਂ ਡਿਫਾਲਟ ਖੋਜ ਸੈਟਿੰਗਾਂ ਨੂੰ ਬਦਲਦੀ ਹੈ
abuse-report-settings-suggestions-homepage = ਤੁਹਾਡੇ ਮੁੱਖ ਸਫ਼ੇ ਅਤੇ ਨਵੀ ਟੈਬ ਨੂੰ ਬਦਲਦੀ ਹੈ

abuse-report-deceptive-reason-v2 = ਇਹ ਦਾਅਵਾ ਕੁਝ ਹੋਰ ਕਰਦੀ ਹੈ, ਜੋ ਕਿ ਨਹੀਂ ਹੈ
abuse-report-deceptive-example = ਮਿਸਾਲ: ਗੁੰਮਰਾਹਕੁੰਨ ਵਰਣਨ ਜਾਂ ਚਿੱਤਰਕਾਰੀ

abuse-report-broken-reason-extension-v2 = ਇਹ ਕੰਮ ਨਹੀਂ ਕਰਦੀ, ਵੈੱਬਸਾਈਟਾਂ ਨਹੀਂ ਚੱਲਦੀਆਂ ਜਾਂ { -brand-product-name } ਨੂੰ ਹੌਲੀ ਬਣਾਉਂਦੀ ਹੈ
abuse-report-broken-reason-sitepermission-v2 = ਇਹ ਕੰਮ ਨਹੀਂ ਕਰਦੀ, ਵੈੱਬਸਾਈਟ ਠੀਕ ਤਰ੍ਹਾਂ ਨਹੀ ਚੱਲਦੀ, ਜਾਂ { -brand-product-name } ਨੂੰ ਹੌਲੀ ਕਰਦੀ ਹੈ
abuse-report-broken-reason-theme-v2 = ਇਹ ਕੰਮ ਨਹੀਂ ਕਰਦੀ ਹੈ ਜਾਂ ਬਰਾਊਜ਼ਰ ਝਲਕ ਨੂੰ ਖ਼ਰਾਬ ਕਰ ਦਿੰਦੀ ਹੈ
abuse-report-broken-example = ਮਿਸਾਲ ਵਜੋਂ: ਫ਼ੀਚਰ ਹੌਲੀ ਹਨ, ਵਰਤਣ ਲਈ ਔਖੇ ਹਨ ਜਾਂ ਕੰਮ ਨਹੀਂ ਕਰਦੇ, ਵੈੱਬਸਾਈਟਾਂ ਦੇ ਹਿੱਸੇ ਲੋਡ ਨਹੀਂ ਹੁੰਦੇ ਜਾਂ ਅਜੀਬ ਜਿਹੇ ਲੱਗਦੇ ਹਨ
abuse-report-broken-suggestions-extension = ਅਜਿਹਾ ਜਾਪਦਾ ਹੈ ਕਿ ਤੁਸੀਂ ਬੱਗ ਦੀ ਪਛਾਣ ਕੀਤੀ ਹੈ। ਇੱਥੇ ਰਿਪੋਰਟ ਭੇਜਣ ਦੇ ਨਾਲ ਨਾਲ ਮਸਲੇ ਨੂੰ ਹੱਲ਼ ਕਰਨ ਦਾ ਸਭ ਤੋਂ ਵਧੀਆ ਢੰਗ ਇਕਸਟੈਨਸ਼ਨ ਡਿਵੈਲਪਰ ਨਾਲ ਸਿੱਧਾ ਸੰਪਰਕ ਕਰਨਾ ਹੈ। ਡਿਵੈਲਪਰ ਜਾਣਕਾਰੀ ਹਾਸਲ ਕਰਨ ਲਈ <a data-l10n-name="support-link">ਇਕਸਟੈਨਸ਼ਨ ਦੀ ਵੈੱਬਸਾਈਟ</a> ਉੱਤੇ ਜਾਓ।
abuse-report-broken-suggestions-sitepermission = ਅਜਿਹਾ ਜਾਪਦਾ ਹੈ ਕਿ ਤੁਸੀਂ ਬੱਗ ਦੀ ਪਛਾਣ ਕੀਤੀ ਹੈ। ਇੱਥੇ ਰਿਪੋਰਟ ਭੇਜਣ ਦੇ ਨਾਲ ਨਾਲ ਮਸਲੇ ਨੂੰ ਹੱਲ਼ ਕਰਨ ਦਾ ਸਭ ਤੋਂ ਵਧੀਆ ਢੰਗ ਵੈੱਬਸਾਈਟ ਡਿਵੈਲਪਰ ਨਾਲ ਸਿੱਧਾ ਸੰਪਰਕ ਕਰਨਾ ਹੈ। ਡਿਵੈਲਪਰ ਜਾਣਕਾਰੀ ਹਾਸਲ ਕਰਨ ਲਈ <a data-l10n-name="support-link">ਵੈੱਬਸਾਈਟ ਦੀ ਵੈੱਬਸਾਈਟ</a> ਉੱਤੇ ਜਾਓ।
abuse-report-broken-suggestions-theme = ਅਜਿਹਾ ਜਾਪਦਾ ਹੈ ਕਿ ਤੁਸੀਂ ਬੱਗ ਦੀ ਪਛਾਣ ਕੀਤੀ ਹੈ। ਇੱਥੇ ਰਿਪੋਰਟ ਭੇਜਣ ਦੇ ਨਾਲ ਨਾਲ ਮਸਲੇ ਨੂੰ ਹੱਲ਼ ਕਰਨ ਦਾ ਸਭ ਤੋਂ ਵਧੀਆ ਢੰਗ ਥੀਮ ਡਿਵੈਲਪਰ ਨਾਲ ਸਿੱਧਾ ਸੰਪਰਕ ਕਰਨਾ ਹੈ। ਡਿਵੈਲਪਰ ਜਾਣਕਾਰੀ ਹਾਸਲ ਕਰਨ ਲਈ <a data-l10n-name="support-link">ਥੀਮ ਦੀ ਵੈੱਬਸਾਈਟ</a> ਉੱਤੇ ਜਾਓ।

abuse-report-policy-reason-v2 = ਇਸ ਵਿੱਚ ਨਫ਼ਰਤੀ, ਹਿੰਸਕ ਜਾਂ ਗ਼ੈਰਕਨੂੰਨੀ ਸਮੱਗਰੀ ਹੈ
abuse-report-policy-suggestions =
    ਯਾਦ ਰੱਖੋ: ਕਾਪੀਰਾਈਟ ਤੇ ਟਰੇਡਮਾਰਕ ਮਸਲੇ ਵੱਖਰੇ ਢੰਗ ਨਾਲ ਰਿਪੋਰਟ ਕੀਤੇ ਜਾਂਦੇ ਹਨ।
    ਸਮੱਸਿਆ ਬਾਰੇ ਜਾਣਕਾਰੀ ਲਈ <a data-l10n-name="report-infringement-link">ਇਹ 
    ਹਦਾਇਤਾਂ</a> ਦੀ ਪਾਲਣਾ ਕਰੋ।

abuse-report-unwanted-reason-v2 = ਇਹ ਕਦੇ ਵੀ ਮੇਰੀ ਪਸੰਦ ਨਹੀਂ ਹੈ ਅਤੇ ਪਤਾ ਨਹੀਂ ਲੱਗਦਾ ਕਿ ਇਸ ਤੋਂ ਖਹਿੜਾ ਕਿਵੇਂ ਪਾਈਏ
abuse-report-unwanted-example = ਮਿਸਾਲ: ਐਪਲੀਕੇਸ਼ਨ ਮੇਰੀ ਇਜਾਜ਼ਤ ਤੋਂ ਬਿਨਾਂ ਇਸ ਨੂੰ ਇੰਸਟਾਲ ਕੀਤਾ ਹੈ

abuse-report-other-reason = ਕੁਝ ਹੋਰ
