# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = Tutup
    .aria-label = Tutup

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Baru saja

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Pengambilan tab
firefoxview-tabpickup-description = Buka laman dari perangkat lain

firefoxview-tabpickup-recenttabs-description = Daftar tab terkini akan masuk ke sini

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% selesai

firefoxview-tabpickup-step-signin-header = Beralih antara perangkat dengan mulus
firefoxview-tabpickup-step-signin-description = Untuk mengambil tab ponsel Anda di sini, masuk terlebih dahulu atau buat akun.
firefoxview-tabpickup-step-signin-primarybutton = Lanjutkan

firefoxview-tabpickup-adddevice-header = Sinkronkan { -brand-product-name } di ponsel atau tablet Anda
firefoxview-tabpickup-adddevice-description = Unduh { -brand-product-name } untuk ponsel dan masuk di sana.
firefoxview-tabpickup-adddevice-learn-how = Pelajari caranya
firefoxview-tabpickup-adddevice-primarybutton = Dapatkan { -brand-product-name } untuk ponsel

firefoxview-tabpickup-synctabs-header = Aktifkan sinkronisasi tab
firefoxview-tabpickup-synctabs-description = Izinkan { -brand-short-name } untuk membagikan tab antar perangkat.
firefoxview-tabpickup-synctabs-learn-how = Pelajari caranya
firefoxview-tabpickup-synctabs-primarybutton = Sinkronkan tab terbuka

firefoxview-tabpickup-fxa-admin-disabled-header = Organisasi Anda telah menonaktifkan sinkronisasi
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } tidak dapat menyinkronkan tab antar perangkat karena administrator Anda telah menonaktifkan sinkronisasi.

firefoxview-tabpickup-network-offline-header = Periksa koneksi Internet Anda
firefoxview-tabpickup-network-offline-description = Jika Anda menggunakan firewall atau proksi, periksa apakah { -brand-short-name } memiliki izin untuk mengakses web.
firefoxview-tabpickup-network-offline-primarybutton = Coba lagi

firefoxview-tabpickup-sync-error-header = Kami mengalami kesulitan untuk menyinkronkan
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } tidak dapat menjangkau layanan sinkronisasi saat ini. Coba lagi dalam beberapa saat.
firefoxview-tabpickup-sync-error-primarybutton = Coba lagi

firefoxview-tabpickup-sync-disconnected-header = Aktifkan sinkronisasi untuk melanjutkan
firefoxview-tabpickup-sync-disconnected-description = Untuk mengambil tab Anda, Anda perlu mengizinkan sinkronisasi di { -brand-short-name }.
firefoxview-tabpickup-sync-disconnected-primarybutton = Aktifkan sinkronisasi di pengaturan

firefoxview-tabpickup-syncing = Duduklah dengan tenang saat tab Anda disinkronkan. Tunggu sebentar.

firefoxview-mobile-promo-header = Ambil tab dari ponsel atau tablet Anda
firefoxview-mobile-promo-description = Untuk melihat tab seluler terbaru, masuk ke { -brand-product-name } di iOS atau Android.
firefoxview-mobile-promo-primarybutton = Dapatkan { -brand-product-name } untuk ponsel

firefoxview-mobile-confirmation-header = 🎉 Semua sudah siap!
firefoxview-mobile-confirmation-description = Sekarang Anda dapat mengambil tab { -brand-product-name } dari tablet atau ponsel Anda.

firefoxview-closed-tabs-title = Baru saja ditutup

firefoxview-closed-tabs-description = Buka kembali laman yang telah Anda tutup pada perangkat ini.

firefoxview-closed-tabs-description2 = Buka kembali laman yang Anda tutup pada jendela ini.
firefoxview-closed-tabs-placeholder = <strong>Tidak ada laman yang tutup baru-baru ini</strong><br/>Jangan takut kehilangan tab yang tertutup lagi. Anda selalu bisa mengambilnya di sini.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Terakhir aktif

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Buka { $targetURI } di tab baru

firefoxview-try-colorways-button = Coba ragam warna
firefoxview-no-current-colorway-collection = Ragam warna baru akan segera hadir
firefoxview-change-colorway-button = Ubah ragam warna

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>Belum ada yang bisa dilihat</strong><br/>Lain kali Anda membuka halaman di { -brand-product-name } di perangkat lain, ambil di sini seperti sulap.

firefoxview-collapse-button-show =
    .title = Tampilkan daftar

firefoxview-collapse-button-hide =
    .title = Sembunyikan daftar
