# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }

menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F

firefoxview-page-title = { -firefoxview-brand-name }

firefoxview-close-button =
    .title = Mboty
    .aria-label = Mboty

# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Ko’ag̃aite

# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Tendayke mbojuehepyre
firefoxview-tabpickup-description = Embojuruja kuatiarogue ambue mba’e’oka guive.

firefoxview-tabpickup-recenttabs-description = Tendayke rysýi ipyahuvéva ohóta ápe

# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% henyhẽma

firefoxview-tabpickup-step-signin-header = Emoambue mba’e’oka pa’ũme ñekytĩ’ỹre
firefoxview-tabpickup-step-signin-description = Ehecha hag̃ua ne pumbyry rendayke, emoñepyrũraẽ tembiapo térã emoheñói mba’ete.
firefoxview-tabpickup-step-signin-primarybutton = Ku’ejey

firefoxview-tabpickup-adddevice-header = Embojuehe { -brand-product-name } ne pumbyry ha tablétape
firefoxview-tabpickup-adddevice-description = Emboguejy { -brand-product-name } pumbyrýpe ha eñepyrũ tembiapo upépe.
firefoxview-tabpickup-adddevice-learn-how = Mba’éicha eikuaáta
firefoxview-tabpickup-adddevice-primarybutton = Eguereko { -brand-product-name } ne pumbyrýpe g̃uarã

firefoxview-tabpickup-synctabs-header = Emyandy tendayke ñembojuehe
firefoxview-tabpickup-synctabs-description = Emoneĩ { -brand-short-name } omoherakuãvo tendayke mba’e’oka pa’ũme.
firefoxview-tabpickup-synctabs-learn-how = Mba’éichapa eikuaáta
firefoxview-tabpickup-synctabs-primarybutton = Embojuehe tendayke ijurujáva

firefoxview-tabpickup-fxa-admin-disabled-header = Nde atyguasu omboyke pe ñembojuehe
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } nombojuehekuaái tendayke mba’e’okakuéra pa’ũme ne ñangarekohára omboykégui ñembojuehe.

firefoxview-tabpickup-network-offline-header = Ehecha og̃uahẽ porãpa ñanduti
firefoxview-tabpickup-network-offline-description = Reipurúramo firewall térã proxy, ehechajey { -brand-short-name } oñemoneĩpa eikekuaa hag̃ua ñandutípe.
firefoxview-tabpickup-network-offline-primarybutton = Eha’ãjey

firefoxview-tabpickup-sync-error-header = Oreapañuãi rombojuehe hag̃ua
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } noñe’ẽkuaái ñembojuehe me’ẽhára ndive ko’ag̃aite. Eha’ãjey ag̃amieve.
firefoxview-tabpickup-sync-error-primarybutton = Eha’ãjey

firefoxview-tabpickup-sync-disconnected-header = Emyandy ñembojuehe eku’ejey hag̃ua
firefoxview-tabpickup-sync-disconnected-description = Eru hag̃ua tendayke, oñemoneĩva’erã ñembojuehe { -brand-short-name }-pe.
firefoxview-tabpickup-sync-disconnected-primarybutton = Emyandy ñembojuehe mbohekohápe

firefoxview-tabpickup-syncing = Eha’arõ tendayke toñembojuehe. Ndahi’aremo’ãi.

firefoxview-mobile-promo-header = Ehecha tendayke ne pumbyry térã tabléta rupive
firefoxview-mobile-promo-description = Ehecha hag̃ua tendayke eipuramovéva, emoñepyrũ tembiapo { -brand-product-name } iOS térã Android rupive.
firefoxview-mobile-promo-primarybutton = Ereko { -brand-product-name } ne pumbyrýpe

firefoxview-mobile-confirmation-header = 🎉 ¡Eguerahakuaáma!
firefoxview-mobile-confirmation-description = Ko’ág̃a ikatu ehecha { -brand-product-name } rendayke nde tabléta térã pumbyry guive.

firefoxview-closed-tabs-title = Oñembotyramovéva

firefoxview-closed-tabs-description = Embojurujajey kuatiarogue ko mba’e’okápe.

firefoxview-closed-tabs-placeholder = <strong>Ndaipóri kuatiarogue oñembotyramóva</strong><br/>Ani ekyhyje tendayke oñembotyjeývagui. Eguerukuaajey ko’ápe.

# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Hendyramovéva

# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Embojuruja { $targetURI } tendayke pyahúpe

firefoxview-try-colorways-button = Eipuru sa’y ojueheguáva
firefoxview-no-current-colorway-collection = Oĩma sa’y ojuehegua ipyahúva
firefoxview-change-colorway-button = Emoambue sa’y ojueheguáva

# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }

firefoxview-synced-tabs-placeholder = <strong>Ndaipóri gueteri jehecharã</strong><br/>Embojurujajeývo kuatiarogue { -brand-product-name } ndive ambue mba’e’okápe, ehecháta ko’ápe mba’eve’ỹre.

firefoxview-collapse-button-show =
    .title = Ehechauka tysýi

firefoxview-collapse-button-hide =
    .title = Emokañy tysýi
