# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Embojuaju ambue mba’e’oka
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Nderejapói gueterirõ, emboguejy <a data-l10n-name="connect-another-device">Firefox ne mba’e’oka okuévape</a>.

fxa-qrcode-heading-step2 = Embojuruja Firefox ne mba’e’oka okuévape.

fxa-qrcode-heading-step3 = 3. Embojuruja <b>poravorã</b> (<img data-l10n-name="ios-menu-icon"/> térã <img data-l10n-name="android-menu-icon"/>), eikutu <img data-l10n-name="settings-icon"/> <b>Ñemboheko</b> ha eiporavo <b>Mboheko Myandy</b>

fxa-qrcode-heading-step4 = 4. Emoha’ãnga ko ayvu:

fxa-pair-device-dialog-sync =
    .style = width: 32em;

fxa-pair-device-dialog-sync2 =
    .style = min-width: 32em;

fxa-qrcode-pair-title = Emoñondive { -brand-product-name } ne pumbyry ha tablétape
fxa-qrcode-pair-step1 = 1. Embojuruja { -brand-product-name } ne pumbyry mba’e’okápe.

fxa-qrcode-pair-step2 = 2. Embojuruja <strong>poravorã</strong> (<img data-l10n-name="ios-menu-icon"/>iOS-pe térã <img data-l10n-name="android-menu-icon"/>en Android) ha ejopy <strong>Emoñepyrũ tembiapo embojuehe hag̃ua</strong>

fxa-qrcode-pair-step3 = 3. Ejopy <strong>Emoha’ãngakuaáma</strong> ha ejoko pe pumbyry ko ayvu ári

fxa-qrcode-error-title = Ñemoñondive oiko’ỹva.

fxa-qrcode-error-body = Eha’ã jey.
